[2020-01-08 11:04] #180 closed

[2020-01-08 11:50] benjaminrupp commented on #193
Thank you!
It is working for me 😊

Von: Konrad Mattheis <notifications@github.com>
Gesendet: Mittwoch, 8. Januar 2020 12:00
An: XAMLMarkupExtensions/WPFLocalizationExtension <WPFLocalizationExtension@noreply.github.com>
Cc: Rupp, Benjamin <Benjamin.Rupp@hte-company.de>; Mention <mention@noreply.github.com>
Betreff: Re: [XAMLMarkupExtensions/WPFLocalizationExtension] Update to use XAMLMarkupExtensi

[2020-01-08 16:13] Jeverson28 commented on #181
I've been using 3.4.0-alpha0053 in a .Net Core 3.0 application. My main exe assembly is referencing another assembly that stores the localised string resources used in the application. There is also a neutral language resource embedded in that referenced assembly. When I request a resource I get a System.IO.FileNotFoundException for every culture in .Net Core I don't support. Since I only support

[2020-01-09 14:47] konne commented on #181
@Jeverson28: please create a simple Demo App, or take one of the existing Demo Apps and test it with your issue. If this still exists, please add a new Issue and point on that new PR with Sample or that existing sample

[2020-01-10 11:24] Jeverson28 commented on #181
I've managed to fix the issue I was having. I thought I'd post it here in case anyone else ever has the same issue.

My application was using Ninject as our DI tool using a "binding by convention" style i.e. bind all classes to appropriate scopes using their suffix. For example I would bind all classes with names that end in ViewModel to their default interface in transient scope. I filtered which

[2020-01-10 13:33] SingThatSong opened #214 "Include StringFormatProxy"
I was looking for a way to localize StringFormat and found StringFormatProxy, which sits in the tests project. Is there any reason it's not main library? Maybe there is another way to localize StringFormat?

[2020-02-14 13:58] darinkes opened #215 "Upgrade 2.3.2 to 3.3.1 slows down Application start"
Users noticed a slow down of an application, after the WPFLocalizationExtension Nuget was updated from version 2.3.2 to 3.3.1. The issue was pinned to this update by just downgrading this Nuget in the Application back to version 2.3.2.

The loading time of the application went on my machine from about 5 seconds to about 60 seconds.

Tracing with procmon-Tool from Microsoft shows with version 3.3.1

[2020-02-14 14:25] darinkes commented on #215
I suspect its this code, where it tries to load all cultures:
https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/blob/master/src/Providers/ResxLocalizationProviderBase.cs#L500

[2020-02-24 10:21] Jeverson28 commented on #215
Hi, not sure if it's due to the same thing but I had the same issue. I made a comment in another Issue here with my solution. I hope it helps, although I am aware my situation was rather niche.
https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/issues/181#issuecomment-572997938

[2020-03-04 16:12] GrazianoDeKa opened #217 "x64 design xaml issue"
Hi all,
first of all I'd like to thank you for the very great and useful job. I have to bring to your attention an issue concerning the xaml and the design view of VS. If the solution/project is compiled with AnyCPU, in design mode I see the keys used in {lex:Loc KEY}, even the default value or just Key:KEY. If I compile the solution/project with x64, everything disappears and I don't see nothing

[2020-03-09 07:51] nucasspro commented on #193
It's still error :(

[2020-03-19 10:41] lutz commented on #193
Is there a date to release the final 3.4?

[2020-04-01 07:40] Karnah opened #222 "Perfomance degradation / memory leak using TextBlock.InlineCollection"
Hello. First of all - thanks for amazing library.
We have TextBlock with InlineCollection inside ItemsControl. ItemsSource of ItemsControl is changing many times during application running. Sample of TextBlock:
[code]

**Problem**
Every next render is slower then previous when ItemsSource changed. I created [sample of this problem](https://github.com/Karnah/WPFLocalizationExtension.LeakSample). Ru

[2020-04-06 08:45] beachwalker opened #223 "Use Microsoft.Extensions.Localization"
It would be nice if this extension would build against Microsoft.Extensions.Localization instead of direct dependency to local Resource files. IMHO this is the way to go for Net Core.

See https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.localization?view=dotnet-plat-ext-3.1

Especially see the IStringLocalizer interface:
https://docs.microsoft.com/de-de/dotnet/api/microsoft.extens

[2020-04-06 08:48] beachwalker commented on #181
Enable Net Core would be very good. This is also related to #223.

[2020-04-09 19:54] mihaicupsuite commented on #171
This should work:

key1 =  Hello {{0}}
<TextBlock Text="{Binding Name, StringFormat={lex:LocText key1}}" />

[2020-04-13 19:12] konne commented on #223
@beachwalker I would be happy if you contribute with an PR to that topic
If you need any help just contact me

[2020-04-13 19:13] konne commented on #217
@GrazianoDeKa thanks for the finding. The issue is that the design mode is tricky. If you can debug that issue a little bit more this would be great.

[2020-04-15 11:16] #142 closed

[2020-04-15 11:16] #181 closed

[2020-04-15 11:16] #193 closed

[2020-04-15 14:09] Karnah opened #225 "Problem with strong name in version 3.5.0"
In some cases when call Assembly.GetTypes(), it throw exception:

I check new version with sn.exe:

Old version have no strong name and all work fine:

[2020-04-16 05:03] luislhg commented on #217
That is because the visual studio design instance only works in x86 (or Any CPU, in that case the VS instance will opt for the x86 version). This is not the extension's fault. If you have IoC or other stuffs that bind and reflect in design time you will notice the same effect, nothing will change/reflect in design-time if running on x64.

Bottom-line: Always set your application to Any CPU, this w

[2020-04-16 07:49] Karnah commented on #225
We have this problem using xUnit. There is fix for it by disabling shadawCoping in settings. Documentation of it here: https://xunit.net/docs/configuration-files
Now we are searching another cases where it can affect.

[2020-04-16 19:20] eriove commented on #225
Thanks for the solution, it worked for us as well. We have the same problem with xUnit when we target .NET 4.8, no problems targeting .NET Core 3.1 though,

Haven't seen the same problem when actually running the application (executing the same code as the tests).

[2020-04-16 19:59] konne commented on #196
@BeePerNet I justed merged the PR so this will be in the next release. I will close that issue

[2020-04-16 19:59] #196 closed

[2020-04-17 06:38] konne opened #226 "Multilingual App Toolkit sample"
add an example with the use of the Multilingual App Toolkit and .xlf files

[2020-04-17 11:16] benjaminrupp commented on #225
Hi,

we have the same problem with our click-once-project.

"strong name signature not valid for this assembly 'WPFLocalizeExtension.dll' "

Version 3.3.1 worked fine.

What is the reason for the change in the csproj-file?

Best regards

Benjamin

[2020-04-17 11:41] konne commented on #225
@benjaminrupp
We had still strong request for signed assemblies, and the issue as an OSS Project is that opening up the private key into the repo is not a good approach. MS introduced the public sign option to solve that issue. It seems that this is not working every case.
Can this help: https://github.com/brutaldev/StrongNameSigner so that you just add an

[code]

[2020-04-28 08:56] konne opened #227 "Add CLA"
add a sign process for the contribution license aggrement to be shure that contribution of code in PR is free of sideeffects

[2020-04-28 08:59] konne commented on #227
@SeriousM sorry that I don't discussed this planned changed upfront with you. Please let us use this issue to discuss that change.

As my understanding the CLA doen't effect the MS-PL

[2020-04-28 09:03] konne opened #228 "Add License checks with tools like whitesourcesoftware"
add checks that check if all used sourcecode does not conflict to other licenses
add checks that all copied source code is correct mentioned (stackoverflow,..)

[2020-04-28 09:04] konne commented on #227
ref #228

[2020-04-28 10:23] konne opened #229 "fix InheritingResxLocalizationProvider -> implement new inherit interface"
The InheritingResxLocalizationProvider is tested direct in the class LocalizeDictonary and in LocExtensions, but the rest of the classes should be not relay on specific implementations
this.

Should be solved through a new Interface that a LocalizationProvider can implenent and define which DProperties that effects DefaultAssembly or DefaultResource are marked as inherited

[2020-04-28 11:24] SeriousM commented on #227
Adding this checks seems to be a good idea! I was just wondering if you
were about to change the license :)

On Tue, 28 Apr 2020, 11:04 Konrad Mattheis, <notifications@github.com>
wrote:

[2020-04-29 16:11] DiegoBM opened #230 "Using LocProxy does not display any text in preview"
I'm using LocProxy in order to bind the Content of a Label to a Key that comes from a window property. During run-time everything works fine, it displays the default value of the property upon run, and it will change the localised text when the key changes. The problem is that the preview mode will display as empty. All the other localised elements are working fine on preview, it's just the LocPro

[2020-05-02 12:52] konne commented on #230
Hi @DiegoBM
this is at least in my opinion not the intention. I will try to have a look next week.

[2020-05-02 12:56] konne opened #231 "CodeCleanup use /// <inheritdoc />"
instead copy just the /// message into a derived class for each funtion just use /// <inheritdoc />

[2020-05-02 13:36] DiegoBM commented on #230
Thank you @konne, that would be my understanding as well.  I hope you find the root cause :)

[2020-05-11 14:20] #231 closed

[2020-05-11 14:34] konne commented on #222
@Karnah you can remove your repo. I have added this to the /tests directory inside this repo. If you like to extend this tests please make changes here, so that we can track chances in a consit way.

I will close that issue

[2020-05-11 14:34] #222 closed

[2020-05-11 14:46] #227 closed

[2020-05-11 14:48] konne commented on #215
@darinkes please test the newest release. If you still have an issue open the this issue again and please add a small Demo app in tests or extend an existing demo app

[2020-05-11 14:48] #215 closed

[2020-05-12 11:06] konne commented on #171
@mihaicupsuite this should give an error instantly if you change the lang. because Binding don't allow that any "Param" is changed after the binding is ready.

[2020-05-12 11:32] konne commented on #204
This is a binding class issue and not an issue of this library.

[2020-05-12 11:32] #204 closed

[2020-05-12 11:33] konne commented on #194
@AlastairCodd please provide a code example otherwise it is nearly impossible to find the root cause. I will close it.

[2020-05-12 11:33] #194 closed

[2020-05-12 11:35] konne commented on #107
@Karnah this doesn't solve the issue if you like to have a stringformat per language to have for examples different positions of the parameter
I will close that issue please follow up the discussion here: #186

[2020-05-12 11:35] #107 closed

[2020-05-12 11:35] konne commented on #214
@SingThatSong Nop, I fully understand your request but I really like to handle this issue in a more generic approach inside of the lib.
Please follow the discussion #186

[2020-05-12 11:35] #214 closed

[2020-05-12 11:37] konne commented on #171
I will close this issue and please follow up the discussion here:  #171

[2020-05-12 11:37] #171 closed

[2020-05-12 11:50] konne commented on #186
Hi, I really like to introduce here a new discussion about the issue of GapTexts for Translation purpose. There is still a need have have for example: "The house have {0} doors" with the paramter that should be bound with Binding to the datamodel.

There are general issue that make this not easy:
1. Binding Parameters can not be changed after the binding is running.
2. Bindings can not be an attri

[2020-05-12 11:51] konne commented on #186
@sa-he please also have a look

[2020-05-12 11:53] konne commented on #176
The intention is to use BLoc for example in Multibinding scenarios see #186
I have on the roadmap to really rework the documentation and I will take care of this topic an close it here.

[2020-05-12 11:53] #176 closed

[2020-05-12 11:57] konne opened #235 "rework documentation"
- [ ] move wiki -> /docs/ so that they are part of the code and can be changed with PRs
- [ ] add simple start examples
- [ ] explain the concept assembly:resource:key
- [ ] explain why even {lex:Loc} can work
- [ ] explain why {lex:Loc} can nearly everything and {lex:LocText} & co. is not intended to use any more

[2020-05-12 12:36] xmedeko commented on #186
I am not developing in C#, so not using WPFLocalizationExtension.  My previous opinion is https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/issues/171#issuecomment-457190764 . Formatted style of messages requires skilled translators or the translators has to cooperate with developers to make formatted translations properly, which increases the cost of localisation. So, one must weig

[2020-05-13 11:46] konne commented on #206
Hi, the issue behind is that the **MissingKey** Event is generated in the **LocExtension** and this is not used.
You can only use the **LocalizeDictionary.Instance.DefaultProvider.ProviderError** and search for the Message Missing Key,

I know that this is from the architecture not perfect and I will document this, but a real change has to much sideeffects.

[2020-05-13 12:10] konne commented on #223
@beachwalker I don't really understand your need. Yes the libraries in the backend are doing some stuff that we are doing but in the end the user has to add the same resx files like today. I only found [ASP Localization](https://docs.microsoft.com/en-Us/aspnet/core/fundamentals/localization?view=aspnetcore-3.1) as an example for this usage.
If this libraries from MS are backported to .NET we can t

[2020-05-13 12:10] #223 closed

[2020-05-13 12:10] konne commented on #223
/remind me in 1 year

[2020-05-18 08:07] sa-he commented on #186
I personally try to avoid gap texts like the GapTextControl provides. Most of the times there is a simpler way to display the same information.

Your suggested replacement (multibinding + converter) for GapTextControl is less powerfull but easier to maintain. I'd say the features of GapTextControl (like inserting UserControls into gaps) is a usecase which can be dropped.

In short: I like your sug

[2020-05-22 23:10] joshli opened #242 "Set up with Window's default language"
I've seen a number of examples where you can explicitly set the Culture via:

`LocalizeDictionary.Instance.Culture = new System.Globalization.CultureInfo("de");`

However, what should I do if I want to set it to the current Windows default language. Please let me know if I'm misunderstanding something. Thank you!

[2020-05-22 23:14] joshli commented on #242
Nevermind, I believe I can just use `Thread.CurrentThread.CurrentCulture`.

[2020-05-22 23:14] #242 closed

[2020-05-23 06:59] konne commented on #186
add instance and markupextension for cleaner xaml without staticresource for converter http://drwpf.com/blog/2009/03/17/tips-and-tricks-making-value-converters-more-accessible-in-markup/

[2020-05-23 19:09] #226 closed

[2020-05-24 08:35] konne commented on #230
@DiegoBM
First, because of this feature that should be available next week (#241) LocProxy can get retired.
Second, did you tried to add an FallBackValue to the Binding, do you have a DesignTime DataContext available. Otherwise it's clear why you don't get any result.
/remind me in 1 week

[2020-05-24 11:47] DiegoBM commented on #230
Thank you for your answer @konne, I did not explicitly add any specific DataContext. Since it all worked fine for the standard lex:Loc, I assumed that I didn't need to do anything differently for locProxy. I added the FallbackValues to the locProxies and that at least displayed a fallback value for the controls bound to those locProxies

[2020-05-24 12:29] konne commented on #230
@DiegoBM lex:Loc is pointing to the resources, they are automatically available. LocProxy sets a Binding like an regular Binding to a property in the DataContex. Please test if this is working with setting a designtime
`
mc:Ignorable="d"
d:DataContext="{d:DesignInstance Type=local:MyView, IsDesignTimeCreatable=False}"
`
 datacontext please close. If you search for designtime datacontext wpf you fi

[2020-05-24 13:33] DiegoBM commented on #230
@konne I did as instructed (of course replacing the view name) and although everything compiled well, I still didn't get the translations at design time. I tried resetting the designer  process as well as restarting Visual Studio, to no avail

[2020-05-24 22:04] konne opened #243 "Depreacate"
- [ ] GapTextControl
- [ ] LocProxy
- [ ] all MarkupExtensions in Compatibility

add new Namespace with WPFLocalizeExtension.Deprecated and add Xmln with a compatiblity URL

[2020-05-24 22:19] konne commented on #152
please change a sample and make a PR, I tested the GapTextWpfTest and everything works fine. (see PR #244)

[2020-05-24 22:20] konne commented on #203
please change a sample and make a PR, I tested the GapTextWpfTest and everything works fine. (see PR #244)

[2020-05-24 22:20] #203 closed

[2020-05-24 22:20] konne commented on #186
see #243

[2020-05-26 09:39] konne commented on #230
@DiegoBM
I still don't understand your Suisse. I have added explicit this use case to the HelloWorldWPF sample. And it is perfect working with  `lex:LocProxy` this commit https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/commit/1cb14aaaaa2cbfe1a9516ab696377b47f1d479a6

![image](https://user-images.githubusercontent.com/1100969/82885144-0560a100-9f45-11ea-9e77-457e9f6df32b.png)

**No

[2020-05-26 10:38] DiegoBM commented on #230
Thank you @konne, in the end I found an alternative way to deal with my dynamic strings so I ended up not needing loc proxy anymore. But I'll make sure to give the new implementation a try

[2020-05-27 07:56] konne commented on #186
new preRelease is online: 3.7.0-alpha.45.nupkg

[2020-05-27 12:25] #217 closed

[2020-05-27 12:25] #225 closed

[2020-05-27 13:52] #206 closed

[2020-05-27 13:56] konne commented on #189
@Mahriel I know that more than one year is over, but I started now to cleanup this project.
Are you still interested to follow up on this topic?
It would be great to have a skype / ... meeting to discuss and see what can be done.
In the meantime we did also some performance improvements in the underlying XAMLMarkupExtensions Lib.

[2020-05-28 07:47] sa-he opened #247 "Make TaranslateConverter.Convert(object value, ..) virtual"
My initial implementation of TranslateConverter had a virtual Convert method. I have additional custom converters (not reusable for other purposes) that inherit from TranslateConverter. Could you make it virtual, so I can use your implemtation?

[2020-05-28 09:15] sa-he opened #248 "Change return value for not existing keys or make it configurable."
I stumbled across that during testing your implementation of TranslateConverter with multibinding. My initial TranslateConverter used as fallback value the given resource-key while your's returns `new object()` which is provided by LocExtension.GetLocalizedValue(..).

ResxLocalizationProviderBase.GetLocalizedObject currently returns null if the resource is not found and also it fires an event `Pro

[2020-05-28 10:32] konne commented on #248
I will update the TranslareConverter. The PR will available in some minutes

[2020-05-28 10:34] konne commented on #247
Hi, yes on one side this is not difficult, but I don't understand that this will help.
If you just override the whole function you can also just define a new one.
If you just like to have a baseclass you can also use TypeValueConverterBase that is introduced and have the advantage of the converter xaml without staticresource just with Converter={lex:TranslateConverter}

[2020-05-28 10:48] konne commented on #248
please check branch changes in #249 this should complete solve your issue. Please see the HelloWorld app for an short example to deliver own MissingKey results. Please add here your CheckDesignTime / check Debug / Release,
I think this should be handle for each use case.

[2020-05-28 14:41] konne commented on #247
@sa-he please give feedback

[2020-05-28 18:25] sa-he commented on #247
I have another converter that inherits the base functionality of translation and then modifies the result according to user-defined rules that match my business logic. Yes, this is not a common requirement.

[2020-05-28 18:45] sa-he commented on #248
Thank you for your very swift response. If I see it correctly the change is applied for LocExtension as well as TranslateConverter, but not for the others like BLoc or FELoc etc. What do you think of adding that functionality to central translate methods like `ResxLocalizationProviderBase.GetLocalizedObject()`? This way we had that feature for every possible way of translation.

[2020-05-28 19:09] konne commented on #248
@sa-he I was already thinking of todo that but not in the current phase.
All this need a big architecture review and rework and I have at the moment not the
time and focusing more on current issues.
Todo:
- [ ] FELoc
- [ ] BLoc
and than is at the moment enough.

[2020-05-28 19:11] konne commented on #247
I don't see the advantage of a virtual method for that. You could easily just make a new class, make inside of this class an instance of the translate converter and just call it like you would call base.Convert
even if it is not perfect I think this would work.
Can we close this issue?

[2020-05-28 20:20] sa-he commented on #248
It's ok to me! Personally, I do not use FELoc, but BLoc a lot.

[2020-05-28 20:20] sa-he commented on #247
Ok, I'll do that.

[2020-05-28 20:20] #247 closed

[2020-05-29 10:45] konne commented on #248
@sa-he please check the dev branch, I have added missing key for BLoc

[2020-05-31 12:52] #230 closed

[2020-05-31 13:49] #229 closed

[2020-05-31 14:49] konne commented on #186
follow up in #243

[2020-05-31 14:49] #186 closed

[2020-05-31 14:49] konne commented on #146
follow up in #243

[2020-05-31 14:55] konne commented on #243
starting with the next preRelease there are 2 xmlns Namespaces:
1. http://wpflocalizeextension.codeplex.com
2. https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension
If you use the existing every works like before. If you use the new one you can already check you code if it will work in the 4.0 Release. Because this doesn't contains the deprecated elements.

In the next release the http:

[2020-05-31 14:56] #146 closed

[2020-06-02 05:48] sa-he commented on #248
I've integrated the current pre-release in one of my smaller projects and it is working nicely! In my point of view, this ticket can be closed. Thanks!

[2020-06-02 06:03] sa-he commented on #243
In my point of view FELoc can also be deprecated. I've never had the need of using it and it carries some load of redundant code.

[2020-06-02 07:07] #248 closed

[2020-06-02 08:11] Karnah opened #254 "Bindings in LocTextExtension"
Connected with PR #241

First of all, thanks for this change. In most places code has become more readable. Only in two places we have problem with in order to completely refuse `LocProxy`. Also have two addition samples which can be interested.

**Sample 1**
We have own `AvailabilityToMessageKeysConverter`, which inherit `IMultiValueConverter`. It returns different keys depending on the `Bindings

[2020-06-02 08:34] konne commented on #254
@Karnah thanks for your great feedback.
Some first comments:

This is not my fault that Loc only support Binding at construtor. It is not possible to add KeyBinding because Loc is a MarkupExtension and not a Dependency Object.
I will dig into that If I see a better approach.

please see https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/blob/development/docs/GapText.md#gap-text

This

[2020-06-02 09:17] konne commented on #254
@Karnah

it should be possible that you do it with an static resource, the only disadvantage would be that you loose designe time translation support for that element.

[2020-06-02 09:42] Karnah commented on #254
There are idea about this.  In xaml for MarkupExtension setters are call before ProvideValue. If restrict during runtime - it will work. I checked this sample and it work:

[code]
If it is bad idea for you and doesn't exists some another options, I'll prefer if _binding became protected for use such realization in our code.

Hmm. I can not use this with {x:Static ...}. There are any ways to pass x

[2020-06-02 12:33] konne commented on #254
@Karnah
please make an PR with an example for BindableLocExtension I don't understand why this should work or how you would like to use it.

Please let us separate things so please follow up in different issues. So please add this issues

[2020-06-03 06:43] Karnah opened #256 "LocExtension: add support for TemplateBinding"
Related with #254

In templates there are two ways of binding to templated control:
- By TemplateBinding
[code]

- By Binding using RelativeSource
[code]

First way is a more simple, but it is not supported now

[2020-06-03 06:57] Karnah opened #257 "BLoc, TranslateConverter: target provider is ignored"
Related to #254

`BLoc` or `TranslateConverter` are always pass null as target.
https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/blob/077bac2daeed0c982ff63788fd9839ced3c1c63d/src/Extensions/BLoc.cs#L311
https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/blob/077bac2daeed0c982ff63788fd9839ced3c1c63d/src/ValueConverters/TranslateConverter.cs#L57

So you cannot override

[2020-06-03 07:02] Karnah commented on #254
@konne
I created for _sample 2_ and _sample 4_ separate issues.
With _sample 3_ I understood - there is a `Converter` propery in `LocExtension` which can easily use.

[2020-06-03 10:11] konne commented on #254
@Karnah
sample 3. I will add the converter in the next days.

[2020-06-03 11:38] konne commented on #257
Be honest: I tried everything and this is nearly impossibe.
The issue is that BindingBase sealed the ProvideValue and I found till today no way to get into that. I even tried IL Injection, https://harmony.pardeike.net/,...

SO ANY Ideas are highly welcome

For the converter this is not possible, because the converter.

We solve the issue in the way that we define here always the "long" key with as

[2020-06-03 12:18] konne commented on #256
@Karnah please can you provide a PR with working sample of the second approach.
I will after that take care that TemplateBinding will work

[2020-06-03 12:25] konne commented on #256
@Karnah ignore my last comment

[2020-06-03 17:50] Karnah commented on #257
We use our own `FileLocalizationProvider`, which was set as `DefaultProvider` only in xaml. So it was a bit unexpected when Bloc didn't work. For us it will be easy to fix. If someone uses many own providers, it should be write some provider aggregator and set it as default. But I think it will be useful if to document this.

About fix problem with xaml provider. My dream - refuse Bloc and Transla

[2020-06-03 20:11] konne commented on #257
Oh, this is a good point, because my way only works Assembly/Resource/Key and not for a different Provider.
I would be really interested why you use your own provider and If it make sense to make our better,...
Great if you make an PR.

[2020-06-03 20:14] konne commented on #256
@Karnah I added this feature to the dev branch, please check it, if it working like you expected

[2020-06-03 20:20] Karnah commented on #257
We store localization data in files near .exe file. This allows update localization texts without recompilation application. `FileLocalizationProvider` reads this files and for each culture create Dictionary<string, string>. When I need localized string - I check this dictionary.
If it will be usefull I can create PR with FileProvider - it's not complicated

[2020-06-04 12:51] Karnah commented on #256
@konne, yes, it looks as I expected. Thanks a lot.
I'll check it with future version of package, but I think it will work nice.

[2020-06-04 13:13] Karnah commented on #257
**1. Bad idea**
Add to `LocExtension` possibility to pass `MultiBindingConverter` and parameters. Always pass in converter first parameter output value.
[code]
I think it is the most common case. But it's looks a bit awful.

**2. Not so bad Idea but with breaking changes**
Remove Provider overriding. I think most of people uses single provider. It can just set Instance.DefaultProvider and will wor

[2020-06-04 19:38] konne commented on #257
@Karnah
I will think about your ideas.
What do you think about that idea:
Register Providers with a namesspace, so that you can have a long key that even define the exact provider? Because this could be added in a non breaking change with:
provider:assembly:resource:key

[2020-06-05 05:10] Karnah commented on #257
Hmmm. I don't like full keys because they are long and there is easy to make mistakes. Is it possible to use just "provider:key" and automaticly resolve conflicts? Or use separate property for provider name? For example: `<lex:Loc Provider="Images" Key="imageKey">`

[2020-06-05 12:52] konne opened #258 "Check Binding in Binding in Setter & Docu"
designtime support in setters with non Binding Markupelement

Check if this is working
[code]

Docu the following cool workaround many thanks @karnah
[code]

[2020-06-18 11:01] EgemenCiftci opened #260 "Deployment Exception"
Hello,
We upgraded our WPFLocalizationExtension package from 3.3.1 to 3.6.1. Created a ClickOnce package. When installing it we are getting this exception. We are also getting this exception from XAMLMarkupExtensions package. We had no issues about this with v3.3.1.

ERROR DETAILS
    Following errors were detected during this operation.
    * [17.06.2020 23:57:37] System.Deployment.Application.In

[2020-06-18 11:05] konne commented on #260
Hi,

please can you check if the following approach will help you:

https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/issues/225#issuecomment-615198865

We had already a very long code signing discussion and till now there is no 100% solution and the current design is great but have some issues in with click once.

bye Konrad

[2020-07-09 02:40] koronakaren opened #262 "Performance issue"
Please refer to:
https://stackoverflow.com/questions/49260388/prevent-wpflocalizeextension-from-trying-to-load-resources-for-all-possible-lang

I beleive this is adding 9+ seconds to my apps start up time.   Limiting culture thru a configuration mechanism might be an option?

[2020-07-09 08:57] konne commented on #262
Hi,

the issue is that this mechanism is used to get a list of all available cultures.
I will have a look if it would be possible to disable or limit  this feature to solve this issue.

bye

[2020-07-09 10:47] koronakaren commented on #262
Thank you Konne.  Maybe it could stated in app.config section.

[2020-08-03 03:32] hnmange opened #263 "Support for .net core"
How to use it with WPF .net core application ?

[2020-08-03 08:11] konne commented on #263
Hi, this example is compiles as .netcore.
https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/blob/master/tests/HelloWorldWPF/HelloWorldWPF.csproj
I hope that answers your question. If you have an issue just reopen this ticket.

[2020-08-03 08:11] #263 closed

[2020-08-04 12:54] benjaminrupp commented on #260
Hi,

Is it possible to have a second nuget-version with a signed project?
I just saw there is a nuget paket called "WpfLocalizeExtension.Signed". But this is an old version.
We did not have sucess using the strong name signer with out click-once project.
So the solution of #225 does not helf us.

Best regards

Benjamin

[2020-08-04 14:35] schwartzberg opened #264 "Like to to use lex:LocText with resource key returned by converter"
Like to to use lex:LocText with resource key returned by a converter
Something like this:
Text="{lex:Loc {Binding Path=Name, Converter={StaticResource EnumToLocalizedDescriptionConverter}}}" />
--  but the above doesnt work.  Pls inform me if there is a syntax that does so.
-- or it is not possible yet to do what i am asking.

This was also asked here, with a real answer to be desired:
***  https:

[2020-08-05 07:17] konne commented on #260
Hi Benjamin,

sorry the "WpfLocalizeExtension.Signed" is from a other person that didn't marked it with a forkname and I even if I would add this signed version, this is not possible because I have no access to this nuget package.
Can you provide a small sample app, that shows that issue, I will than try to find a good solution for your issue.

bye
Konrad

[2020-08-05 07:17] konne commented on #260
@benjaminrupp

[2020-08-07 04:35] JeremyWu917 opened #265 "No hotkey or samrt tips"
Hi brother,

First of all thanks for your open source project and it's great and gives me lots of help in my project.

Then there is a advise that is it possible to add a smart tip (showing a list of resource keywords) after I enter a keyword(like ctr+j) or press the space key? and I bet this project would be even more popular if it were possible.

Thanks a again.

[2020-08-07 04:59] benjaminrupp commented on #260
@konne:

We get the following exception with a strong signed dll:

Beschreibung: Der Prozess wurde aufgrund einer unbehandelten Ausnahme beendet.
Ausnahmeinformationen: System.IO.FileLoadException
bei System.Reflection.RuntimeAssembly._nLoad(System.Reflection.AssemblyName, System.String, System.Security.Policy.Evidence, System.Reflection.RuntimeAssembly, System.Threading.StackCrawlMark ByRef, IntP

[2020-08-07 06:37] konne commented on #265
Hi,

first that is a cool idea. But this have to be an extra visual studio extension an can not be combined with this library.
I add here some links for later clarification.

https://docs.microsoft.com/en-us/visualstudio/extensibility/walkthrough-displaying-quickinfo-tooltips?view=vs-2019
https://github.com/tomasr/viasfora

I will definitely let this here as Idea, but more for 2021/22

bye
Konrad

[2020-08-07 06:47] JeremyWu917 commented on #265
Cooool
Noted, thanks

[2020-08-07 08:29] konne commented on #260
Hi benjamin,

please can you check the following approach:
https://stackoverflow.com/a/4517482
That you sign only the manifest and not the full all?

Thanks for pointing on the StrongNameSigner XAML/BAML issue.

bye Konrad

[2020-08-07 11:05] benjaminrupp commented on #260
Hi Konrad,

we are only signing the manifest. Nothing more.

Benjamin

[2020-08-11 08:23] Phyxion opened #266 ".NET Core shouldn't use Microsoft.Windows.Compatibility"
Just include whatever is necessary, the Microsoft.Windows.Compatibility contains a ton of unused stuff (e.g. the sni.dlls of SqlClient).
Also applies to the XAMLMarkupExtensions project.

[2020-08-13 08:03] konne commented on #264
@schwartzberg Hi this should work at least with the preRelease. I will take care and give you latest next week an answer

[2020-08-16 13:48] konne opened #271 "Setter & Binding usage with XAMLMarkupExtension 2.0"
update Docu:

[code]

[2020-08-17 09:31] konne commented on #262
@koronakaren you can define your own searchlist in the next release please see:

https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/blob/development/docs/FAQ.md#startuptime-for-available-cultures-search-with-resx-provider

[2020-08-17 09:33] #266 closed

[2020-08-17 09:33] #262 closed

[2020-08-17 09:38] konne commented on #264
Hi,

I think this line show that this is working in the next release. You can already try the preReleases or compile from code:

https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/blob/e972f6baa91e7bb0be10c5d7a13f018d5d1bfaab/tests/HelloWorldWPF/MainWindow.xaml#L64

you can even use a Converter in the lex:Loc and another converter in the Binding.

bye

[2020-08-17 09:38] #264 closed

[2020-08-17 09:39] #256 closed

[2020-08-17 13:03] konne commented on #189
@Mahriel PING?!?

[2020-08-17 14:20] #254 closed

[2020-08-17 15:05] konne commented on #257
@Karnah I like more the last idea from you with a separated Provider Attribute.
This add this idea in a lightweight way. Please c an you provide a PR

[2020-08-18 13:37] schwartzberg commented on #264
I will try it ... in a demo project ...

I would like to ask if this issue about strong naming of the dlls in some versions of WPFLocalizationExtension still exist?
Here it is described
     https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/issues/225

WPFLocalisationExtension in our case is in a click-once application and (i think) it is easiest if it  is all strongly named
Otherwi

[2020-08-19 07:32] konne commented on #264
@schwartzberg the issue for click-once is still exiting #260
Please at least test if this solves your issue and we are also working on a general signing solution.

[2020-09-08 07:07] Mahriel commented on #189
Hello @konne sorry for the late reply.
We are currently using a custom build with the changes from my PR. We've also changed a lot on our framework side so i don't know exactly if the performance issue still exists with the official WPFLocalizationExtension release.
My boss won't give me time to carry on the investigation on this topic.
Feel free to contact me anyway, maybe we can find a solution

[2020-10-09 20:03] nithinshiriya commented on #243
I am having a warning and what is the alternative code for the same?

 warning CS0618: 'LocProxy' is obsolete: 'LocProxy is deprecated and will be removed in version 4.0, because lex:Loc supports now direct Binding, see documentation'

[code]

[2020-10-10 04:42] sa-he commented on #243
Try

`<TextBlock Style="{StaticResource PanelTitleSecondary}" Text="{lex:Loc {Binding Title}}" VerticalAlignment="Center" Margin="5,0" />`

[2020-10-20 20:38] fernandreu commented on #102
Late to the party but, for anybody like me wondering about this and finding this issue, here is a workaround: create a separate file containing the property **names** (i.e. **not** the values) as constants, and reference those instead.

Something like this:
[code]

Then, use it like:
[code]

A bit more verbose, but you have IntelliSense available, plus your application won't even compile if the ke

[2020-10-21 15:25] qmatteoq opened #278 "Support for a fallback assembly"
Hello, I'm trying to implement a scenario with the WPF Localization Extension, but I can't find a way to do it, so I wanted to check if it's indeed a missing feature or if there's any workaround.
Here is my scenario, based on an application which is distributed to multiple customizers, who can require a specific customization of the base app.

1. I have a basic .resx file, one for each language, w

[2020-10-21 16:35] Karnah commented on #278
Hello!
I think the easiest way now - use `LocalizeDictionary.Instance.MissingKeyEvent`. When you handle this event you can try find missing in key in your default .resx file.
[Here sample of usages](https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/blob/244f915125315ef429cfb724e0e5170cbe5ca102/tests/HelloWorldWPF/MainWindow.xaml.cs#L45)

[2020-10-21 17:25] qmatteoq commented on #278
Thanks for the suggestion! I thought about this as well, but I'm not able to get the MissingKeyEvent to work properly. I tried to match my project with the sample one, but I can't really understand what's going on.
This is what I'm doing.

I've setup the main Window of the app like this:

[code]

Then, in the code behind, I have the following code:

[code]

Then, I have a Button control in the pag

[2020-10-21 17:50] Karnah commented on #278
Please, in MainMenu move InitializeComponent after the subscription. The problem is that all event generated before subscription.
Probably moving this subscription to `App.xaml.cs`, `OnStartup` method is better way.

About Button. You do not spicife key in yours `Content="{lex:Loc}" `. Is it OK?

[2020-10-21 18:26] Karnah commented on #278
Yes, this is OK. But unfortunetly `MissingKeyEvent` passes only original key. I'm not sure if it's possible to fix this behavior, because it tryes find both `{ControlName}_{ControlProperty}` and `{ControlName}` and it will hard to understand which key we should pass in this case.

[2020-10-21 18:52] qmatteoq commented on #278
Thanks @Karnah , by moving the InitializeComponent() after the subscription I've been able to fix the first problem.
Regarding the second, do you mean that currently that using the Loc markup extension without specifying a key doesn't trigger the MissingKeyEvent? Yeah this is what I'm seeing as well. But it isn't a big deal, I'm ok also with forcing a key if it can help to solve my scenario.

I wi

[2020-10-21 19:26] Karnah commented on #278
You are always welcome :)

I think there is another way to solve this issue - create your own `ILocalizationProvider`. But it seems to me it will not be so easy.

[2020-10-22 14:50] ruudsieb opened #279 "Using StringFormatConverter on GroupBox.Header fails"
Using the following code to localize my Groupbox header:
[code]
I get an exception in the StringFormatConverter because the GroupBox header type is not `string` but `object`.

[code]
Can I work around this? Or is it a "bug" ?

[2020-10-23 05:31] konne commented on #279
@ruudsieb thx for highlighting this issue
@karnah thx for PRs
@fernandreu for the PR to the same topic
I will check it, merge it and will create a new release in the next days

[2020-10-23 07:31] ruudsieb commented on #279
@konne thanks for solving it!

[2020-10-23 11:18] fernandreu commented on #271
Hi, I just saw this issue and I was wondering: should the first case still work if the `LocExtension` uses a binding? Something like:

[code]

I tried it but it seems to give me an empty string instead. My use case is also slightly different because I want the binding for one of the arguments, not the string format, but I guess they are probably handled in the same way.

Otherwise, is there a reco

[2020-10-23 11:29] konne commented on #271
Hi, good question. I will test this, but the issue here might be that Binding is a MarkupExtension and not a DependencyObject.  It can be that the necessary changes are still not in the pre / release.

Normally this Binding inside a MarkupExtension is not possible, but karnah and I found together
a cool workaround to make this possible, but this is not working in all cases.

[2020-11-13 10:52] Enviolet commented on #105
I'm really happy to shove my own implementation of localization into the trash, and use this great solution.

But I'm having this same issue right now.
I even tried to put the whole code into a task that will be disposed after a timeout.
However, even long after the timeout should be over the task is not disposed, as the whole app completely freezes on the line where I set the Culture.

It happens

[2020-11-19 10:32] DocBrown101 commented on #258
Is there anything new yet? When can we expect a solution?

[2020-12-15 22:44] aknot13 commented on #260
Hi,

This is a serious problem. I spent days replacings all strings using this great extension only to find out that I can't deploy it using clickonce. I had to downgrade to 3.3.1 but now I can't use some of the latest features. I'm using .net framework 4.7.2.

It turns out that your strong named assembly in the package is invalid signed. You probably made a mistake.

You can easily verify this by

[2021-01-04 05:14] Genteure opened #287 "Binding Error 4 RelativeSource FindAncestor BindingExpression:Path=Parent"
### Problem

[code]

I'm using ContextMenu in Resources

[code]

I believe this is a duplicate of #55 #96 #144 #152

### Workaround

Add `lex:ResxLocalizationProvider.DefaultDictionary="Resources"` to the element in question so it looks like

[code]

ref: https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/issues/55#issuecomment-102269827

[2021-01-11 15:13] #287 closed

[2021-01-25 09:46] maggima commented on #260
Experiencing the same problem after upgrading to 3.8.
That's a serious issue breaking ClickOnce deployments...

[2021-01-26 14:53] LinoBarreca opened #288 "Binding, formatting and Lex:Loc"
Hi. I read all the documentation and after hours I can't combine the three concepts above.
I have to set a caption through binding, taking the resources to format the string.
Bind to "Name"
Resource key "Welcome" with contents "Welcome {0}"

Without lex:Loc I can write
`something.Caption= "{Binding Name, StringFormat=Welcome{0}}"
`
and it works. It sets the caption to _Welcome Lino_
with
`somethin

[2021-01-26 15:08] Karnah commented on #288
Hello, @LinoBarreca. If you need use localized string as format string - you should use MultiBinding with StringFormatConverter.
It's neccessary, because both 'StringFormat' and 'ConverterParameter' doesn't support `Binding` (it is WPF behavior)

Sample:
[code]

I didn't work much with "code behind markup", but probably you can change my sample to your needs.

[2021-01-26 15:57] LinoBarreca commented on #288
Hi @Karnah

Tried this as well with this code:
[code]
 but, in my case, I still have two problems:

1) the databinding seems to not work property: the window has a weird effect because (I don't know why) the converter seems to return the viewmodelname so the window is created/shown with that wrong caption and after a  0,4 sec the converter kicks in, translates properly and the caption is set to th

[2021-01-26 18:48] Karnah commented on #288
1. Hmm. It's weird. When and where you set Provider for LocalizeDictionary? Probably you use ResxLocalizationProvider. If you set it code behind, probably screen will show before it set.

2. If I correctly understand your problem, you can use MultiBinding with attached properties. Just for sample, like this:
[code]
Instead `lex:LocalizeDictionary.Provider` use `YourNamespace:YourAttachedProperties

[2021-01-27 05:43] Karnah commented on #288
1. Could you create a sample project with this problem? I don't have any ideas now.
2. You can define your `UserControl` like this:
[code]

[2021-02-01 15:49] LinoBarreca commented on #288
The solution you proposed for point 2 worked (thanks about that, I never used it that way, you never stop learning).
Without the double binding it also it solved the problem in point 1.
Thank you.

[2021-02-01 15:49] #288 closed

[2021-02-05 14:40] JorisCleVR opened #289 "Searching for a way to implement Multibinding with localized enum value"
Because lex:LocProxy is deprecated I try to refactor my code.
I tried the following:
`<TextBlock Style="{StaticResource DSTextBlock}"  Grid.Row="3" Grid.Column="1">
    <TextBlock.Text>
        <MultiBinding StringFormat="{lex:Loc LocalizationView_FormatText1}">
            <Binding Path="Number1" />
            <Binding Path="String1" />
            <lex:BLoc Path="Enum1Value" Converter="{lex:Pre

[2021-02-16 14:17] rolikoff commented on #279
Hey, any updates on the new release? Thank you!

[2021-03-05 18:43] mark-monteiro opened #291 "StringFormatConverter should support converting to object"
StringFormatConverter currently throws an exception if the target type is not `string`, but a target type of `object` is also valid. For example, I think the following should be supported:

[code]

To address this I think the [existing check](https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/blob/master/src/ValueConverters/StringFormatConverter.cs#L50) in `StringFormatConverter` sho

[2021-03-06 08:31] Karnah commented on #291
Duplicated #279. Also already there is PR for this bug #280 .
@konne, could you check and publish new release? :)

[2021-03-06 13:49] mark-monteiro commented on #291
Thanks, I searched the existing issues before opening this one but missed that. I'll close this issue

[2021-03-06 13:49] #291 closed

[2021-03-08 15:12] mark-monteiro opened #292 "Publish Debug Symbols to NuGet"
Can the debugging symbols for this library be published to NuGet in the next release?

https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages-snupkg

[2021-03-21 16:24] Uporka95 opened #294 "Image source binding"
Can you give an example of binding for Image's "Source" property with XAML markup?
Thank you

[2021-03-26 08:09] GF-Huang commented on #152
Issue still..

[2021-03-26 08:11] GF-Huang commented on #287
So you should put `lex:ResxLocalizationProvider.DefaultDictionary="Resources"` everywhere you use a `ContextMenu`.. 😢

[2021-03-26 09:33] ghost1372 commented on #235
@konne Why this repo has no activity? Some PRs and issues are still open It would be great if you could rewrite this library and solve many of its problems.
I have also written a better documentation based on your documentation.
Maybe help you rewrite the documentation
https://ghost1372.github.io/handycontrol/persianToolkit/dynamicLanguage/

[2021-03-26 11:24] SeriousM commented on #235
That looks awesome! We should use this in our readme!

Regarding the rewrite: it's always difficult to replace a service by
rewrite.
Maybe you could point out what points in your view are broken and should be
fixed?

[2021-03-26 12:57] ghost1372 commented on #235
@SeriousM  Thanks for the reply, if you want, I can send a PR for readme
Right now I have a problems Which is very annoying
I constantly encounter binding errors

[code]
I know the solution

But I have to constantly specify the dictionary and assembly for the controls that have this problem.
I just want to specify the dictionary and assembly once and that's it

[2021-03-26 20:28] SeriousM commented on #235
As far as i can remember you can specify the dictionary and assembly once
per page. @Konne could you help out please?

[2021-03-30 14:15] konne commented on #235
@ghost1372

The main issue is that I, unfortunately, don't use that lib in my daily job and I have not enough time.

yes, yes. I plan to have next week a big coding session and please open PRs and I will try to get them at least for
Docu changes asap merged.

[2021-03-31 14:45] ruudsieb opened #296 "NullReference exception in wpf designer"
I often get a NullReference exception in the WPF designer on all localization atttributes. When this happens, no localized strings are rendered in the designer.

![image](https://user-images.githubusercontent.com/6681459/113163435-75fcdc00-9240-11eb-8538-81a12106925a.png)

After debugging, I found out the exception is thrown here;
File: NestedMarkupExtension.cs, line 142:

[code]
rootObject.RootOb

[2021-03-31 15:41] ruudsieb commented on #296
Sorry, I think this issue should actually be in the XAMLMarkupExtensions repo.

[2021-04-05 12:43] konne commented on #292
@mark-monteiro
At the moment the symbols are directly embedded into the main NuGet. So debugging should already work.
So why this change is necessary for you?

[2021-04-23 19:09] centrolutions opened #297 "Unit tests are failing randomly"
I have certain unit tests that are setting the Culture property like this:
[code]
The last line above sometimes throws a NullReferenceException or an InvalidOperationException. Other times, it seems no exception is thrown, but the wrong language is retrieved.

Here are some exceptions:
[code]
[code]

I should also mention the strings are being retrieved like this:
[code]
So, it seems the setter fo

[2021-04-23 19:23] mark-monteiro commented on #292
Sorry, I didn't realize the symbols were already embedded into the NuGet package.

What I was trying to do was debug one of the classes in the NuGet package (I think `StringFormatConverter`) and I couldn't figure out how to do that. It sounds like something I need to figure out on my end if the symbols are already in the NuGet package.

Thanks for responding, I'll close this issue.

[2021-04-23 19:23] #292 closed

[2021-04-24 10:06] eriove commented on #297
I use XUnit's `CollectionAttribute` to avoid running multiple localization tests at the same time. Each test is disposable. In the constructor I set the `LocalizeDictionary.Instance.DefaultProvider` to a mock and in `Dispose()` I return it to the original value. We don't have any test that tests changing culture, but I imagine that could work in the same way.

[2021-04-25 05:55] Karnah commented on #297
`LocalizeDictionary` is singleton and `LocalizeDictionary.set_Culture` is not thread safe (if i not mistaken it's because you can change this property only in main thread otherwise WPF will have problem with updating UI). Please, disable parallel execution of unit tests and try again.
You can disable parallelism using `CollectionAttribute` ([described here](https://xunit.net/docs/running-tests-in-

[2021-04-25 18:17] SeriousM commented on #297
May I ask why you're don't set the test language fix to eg. "en"?
imho, localization isn't a thing you should test if you just use the XAMLMarkupExtensions package.

[2021-04-26 14:51] centrolutions commented on #297
Thanks for the info / feedback everyone. I figured it was because XUnit was running things in a multi-threaded way. I will start using the CollectionAttribute on localized tests so they don't interfere with each other.

[2021-04-26 21:08] centrolutions commented on #297
@Karnah thank you for the links and information -- especially the configuration file parameter. I found that I had to use that. The CollectionAttribute seemed to have no effect on its own. The `"parallelizeTestCollections" : false` solved the problem though. Thank you!

[2021-04-26 21:08] #297 closed

[2021-04-27 08:56] alexraoux commented on #296
Hello

I am facing probably the same issue, but the weirdest thing is that is happen only in one my views in my solution and I can't find a difference with other views where it is working (maybe there is a conflict of some sort, and I am using a custom provider)

I am not an expert of visual studio designer debugging but the closest I got from some information is this exception :
Cannot set unknow

[2021-05-06 01:30] skowront opened #298 "Switching .dlls freezes application for way too long."
The idea is simple. Suppose there are multiple libraries, each provides it's own localization resources and it's own windows.
Therefore:
[code]
is pretty common in code (with defaultassembly and defaultdictionary adjussted to each library of course).
So far so good, library works perfectly fine.
However InitializeComponent() function (not directly) calls the GetResourceManager function from ResxLo

[2021-05-21 03:28] ADNALYTICS commented on #296
Hi,
I also have this problem that occurs on some of my views without me seeing any explanation. But I noticed that it happens more often when I have overlapping UIElements or when I define design time visibilities.

[2021-05-21 07:25] alexraoux commented on #296
Many thanks for your answer I removed the d:Visibility from my view and magically it worked

[2021-08-19 18:36] konne commented on #296
@ruudsieb @alexraoux @ADNALYTICS @Karnah
please check the new 3.8.1-preview1 release. This should solve this issue
Can you please give feedback

[2021-08-19 18:38] konne commented on #260
@maggima @aknot13 @benjaminrupp @EgemenCiftci @Karnah
Starting from the next release the release is fullsigned. For everybody who want to have an unsigned version this is now also available from nuget.

please check the **new 3.8.1-preview1 release**. This should solve this issue
Can you please give feedback

[2021-08-19 18:38] #228 closed

[2021-08-23 09:45] Skuriles opened #309 "Proxy replacement does not work"
Hello all, thanks for this extension.

we tried to update to latest version and replace proxy usage as we use a lot of usercontrols.
Idea is to read label texts from json files and set this text to user controls. With the proxy is worked fine.

old
[code]
new:
[code]

`Content="{lex:Loc {Binding LeftText}}` or  ` Content="{lex:Loc {Binding LeftText, RelativeSource={RelativeSource FindAncestor, Anc

[2021-08-23 12:48] konne commented on #309
@Skuriles can you provide a small sample app that shows that issues?
Did you even tried the current preRelease?

bye

[2021-08-23 12:50] Skuriles commented on #309
Hey,
think it could be closed.
There was an issue with a parent stackpanel which did not recognize the binding correctly and set it's height to 0.
=> Without the Stackpanel and the correct settings for ancestors it seems to work.
Sorry for circumstances!

[2021-08-23 12:50] #309 closed

[2021-08-23 12:53] konne commented on #309
@Skuriles
for this issue: And another question: Can we prevent the default behavior if label content is empty?
You can maybe use a converter?

[2021-08-23 13:04] Skuriles commented on #309
As said, I use a ResxLocalizationProvider which currently checks for special cases (we used this for proxy upper/lower case writing before). So if no built-in settings is give this solution is fine for us.
As all translations are loaded and rendered at startup we don't need a special converter for this as it is not time-critical or performance affecting.
Thanks

[2021-08-30 13:22] konne commented on #279
@mark-monteiro thanks for the confirmation

[2021-08-30 13:22] #279 closed

[2021-09-07 10:15] tobe83 opened #313 "KeyNotFoundException with v3.9.0"
Hello,
since updating to new Version v3.9.0 I get sporadic KeyNotFoundException. Never happened with previous version installed.

the complete exception text:

`System.Windows.Markup.XamlParseException
  HResult=0x80131501
  Nachricht = The specified key was not given in the dictionary.
  Quelle = PresentationFramework
  Stapelüberwachung:
   bei System.Windows.FrameworkTemplate.LoadTemplateXaml(X

[2021-09-07 12:51] sa-he commented on #313
I can reproduce the exception when switching the context of a TabControl really fast. The exception does not occur always. Switching the TabControl context slowly never results in an error. It seems to be a timing issue.

[2021-09-08 07:32] Psykobal commented on #313
It's a bug from XAMLMarkupExtensions, an issue is already open there: https://github.com/XAMLMarkupExtensions/XAMLMarkupExtensions/issues/114

[2021-09-30 08:30] ADNALYTICS commented on #296
@konne thank you very much, it solved the problem for me.

[2021-10-05 07:47] Skuriles opened #314 "Localization within border ctrl seems to cause Memory Leak"
**Describe the bug**
We used lex:Loc extension to translate a TextBlock within a BorderCtrl. After checking the Memory consumption with JetBrains dotMemory tool we saw a slightly increase of the "inner" dictionary of ParentNotifiers used in public static T GetValueOrRegisterParentNotifier<T> of ParentChangedNotifierHelper.
It looks like the references are set to "null" before the ParentNotifier Di

[2021-10-06 14:53] Code-Reaper opened #315 "Newlines do not seperate text into seperate lines when bound."
Hello,

I was looking for some guidance regarding newlines. I am using this extension with the ResX resource manager and I am having issues getting newlines to work.

Consider a text block...
`<TextBlock x:Name="ATextBlock" Text="Line1&#x0a;Line2" />`

This shows the text correctly on two separate lines.

Line1
Line2

If I then make this into an entry in the resource manager and bind it to my text

[2021-10-13 08:36] strohhaecker opened #316 "File Version not set for v3.9.0"
Since v3.8.x the File Version is no longer present for the DLLs:
![grafik](https://user-images.githubusercontent.com/46814283/137097504-097fd2fb-fdee-41e1-86e6-1662f2567b07.png)

This causes problems with some setup tools that fail to identify the type of upgrading necessary.

Seems to be related to this commit: https://github.com/XAMLMarkupExtensions/WPFLocalizeExtension/commit/3e713941f39c5d5712

[2021-11-14 18:14] konne commented on #316
@strohhaecker should be fixed in 3.9.1, please check and if you still have an issue, reopen this issue

[2021-11-14 18:15] #316 closed

[2021-11-14 18:15] konne commented on #314
@Karnah do you have a chance to check this?

[2021-11-14 18:16] konne commented on #313
@Psykobal @sa-he @tobe83 should be fixed with 3.9.1
I will close this issue. If you still have an issue, just reopen.

[2021-11-14 18:16] #313 closed

[2021-11-14 18:27] konne commented on #298
@Karnah any idea, maybe to do it better if the extension running inside of VS?

[2021-11-18 05:21] HoytRen commented on #147
However you can assign a x:Name or x:Uid to a setter in xaml, these property isn't exist in code, I guess only the xaml engine use them when parse your xaml and then they are unknown, so the auto key retrieval feature never works for setter, and you have to provide a key. Bad news for me too.

[2021-11-29 05:31] eric9881 opened #331 "no underline is allowed in assembly name."
**Describe the bug**
No underline is allowed in assembly name

**To Reproduce**
1.Create a WPF application like Wpf_App3.
2. Create multi-language resources
3.         xmlns:lex="http://wpflocalizeextension.codeplex.com"
        lex:LocalizeDictionary.DesignCulture="en"
        lex:ResxLocalizationProvider.DefaultAssembly="Wpf_App3"
        lex:ResxLocalizationProvider.DefaultDictionary="Resources

[2021-11-29 06:32] #331 closed

[2021-11-29 06:33] eric9881 commented on #331
Misoperation. Sorry about that.

[2021-11-30 10:23] Genteure opened #332 "KeyNotFoundException causing crash after updating to WPFLocalizeExtension 3.9.0"
**Describe the bug**

After updating `WPFLocalizeExtension` from `3.8.0` to `3.9.0`, crashes started to happen due to `System.Collections.Generic.KeyNotFoundException`.

**To Reproduce**
I don't have a way to reproduce.
Currently about 0.54% of the users (~20 out of ~3700) crashed at least once based on crash telemetry from `sentry.io`.

**Expected behavior**
Not crash.

**Screenshots**
A user pro

[2021-11-30 11:01] Karnah commented on #332
Hi, @Genteure. Could you check 3.9.1? It seems like #313, which has been fixed

[2021-11-30 11:07] Genteure commented on #332
Ohh you're right, not sure how I missed that.
I'll release a new version of my app this week.
Closing for now, I'll reopen if crashes still happens.

[2021-11-30 11:07] #332 closed

[2021-12-01 09:46] narcis-sy commented on #314
Happens to me also. Unrelated to borders. Closures of `ParentChangedNotifierHelper` are being leaked

I think it's related to access of the closure generated classes which are being kept in memory by the delegate which is hold in mem by a gc root (the xaml extensions: `ParentChangedNotifier.OnParentChangedList`)

![image](https://user-images.githubusercontent.com/67704105/144206632-fd117002-eb62-4

[2021-12-14 21:12] jeremyiverson commented on #316
This is still an issue in 3.9.1

[2021-12-15 07:01] konne commented on #316
@jeremyiverson sorry, this was only fixed for the underlaying XamlMarkupExtensions Lib but here we still have an issue. I will check it asap

[2021-12-30 22:23] konne commented on #316
@jeremyiverson @strohhaecker now it should be fixed with 3.9.2

![image](https://user-images.githubusercontent.com/1100969/147791724-fece2dcc-6e63-416e-bb50-26d3debcbd96.png)

[2021-12-30 22:44] konne commented on #315
@Karnah do you have a chance to check this and give an answer?

[2021-12-30 22:45] konne commented on #314
@Karnah do you have a chance to check this?

[2021-12-31 09:00] Karnah commented on #315
Hello, @Code-Reaper.
Hmm, it's stange. I checked it on HelloWorldWPF.sln, it's working.

![image](https://user-images.githubusercontent.com/6525732/147813795-416d83a0-8cd2-43ce-bcdc-0f9182af0b73.png)

I use Visual Studio and create new line with "Shift + Enter" combination.

[2021-12-31 09:04] Karnah commented on #314
Hello. @konne, I'll try to check this next week

[2021-12-31 13:07] Code-Reaper commented on #315
Hello @Karnah

I can confirm that using your method it does work and new lines are generated correctly. I figured that it was supposed to allow for the normal values that you could put into a XAML designer file like, "&#x0a;". If that wasn't supposed to be the design then we can close this out as completed.

For anyone else that stumbles upon this seeking a code-based approach I ended up writing a

[2021-12-31 13:07] #315 closed

[2021-12-31 13:30] Karnah commented on #315
Symbols `&#x0a;` are used only in the XAML file, because it doesn't support `CR LF` directly. Instead of this XAML parser automatically replaces `&#x0a;` with `CR LF` and puts a new string in `TextBlock.Text` (you can check it throw debug).
For any other string resources, you should use  `CR LF`

[2022-01-03 06:53] strohhaecker commented on #316
Since we've implemented a work-around for our setup procedure, I cannot directly verify that our problem is fixed.
But both your code changes as well as the resulting changes to the binary indicate that this is no longer an issue, and the ticket can be closed.
Thanks for taking care of this!

[2022-01-10 23:53] jeremyiverson commented on #316
I can verify this solves the issue. Thanks so much!

[2022-01-11 12:05] andrewalford1 commented on #289
I've just came accross a very similar issue today. Checking out the source code it looks like setting the `Path` property just causes an exception to be thrown. I was able to get around this by using the `Key` property instead.

So my exmple looks like `<lex:BLoc Key="Assembly:Resource:Key" />`

https://github.com/XAMLMarkupExtensions/WPFLocalizeExtension/blob/833970d3cd6dd97ca15a18bc38137147879d9

[2022-01-14 13:23] Karnah commented on #314
@narcis-sy, could you create a separate project which shows memory leaking? I can't fully understand how you do it.
I reproduced similar situation when created controls code-behind:
[code]
But I want to be sure that your case looks the same.

@konne
I've found two problems and solutions for them:
1.
https://github.com/XAMLMarkupExtensions/WPFLocalizeExtension/blob/833970d3cd6dd97ca15a18bc381371478

[2022-01-14 15:55] narcis-sy commented on #314
Hello

You can find a reproduction repo [here](https://github.com/narcis-sy/wpflocalize_memory_leak).

Here is how to reproduce it:

[code]
Start of the app state
![image](https://user-images.githubusercontent.com/67704105/149543648-3fd08327-f64c-4631-a300-6edd01faeb05.png)

After adding 10 items

![image](https://user-images.githubusercontent.com/67704105/149543785-6bcdd1f7-4641-4165-a922-df3235e

[2022-01-15 10:29] konne commented on #314
@Skuriles thanks for the great reproduce howto
@Karnah great please add the PRs

[2022-01-16 16:46] Karnah commented on #314
@konne, did it

@narcis-sy, I debugged it and found a bit another way of reproducing. After removing items, I called to change the language. There were a lot of controls that were detached from Visual Tree and for them created notifiers. Now if these controls are collected by GC (it's important, I created new button in your project to call GC.Collect()) and call `Add` then all dead items will be r

[2022-01-16 17:53] konne commented on #314
@Skuriles @narcis-sy @Karnah
please test the new 3.9.3 Release. It should be in around 20min available on nuget
https://github.com/XAMLMarkupExtensions/WPFLocalizeExtension/releases/tag/3.9.3

I will close the issue for now. If you still find issues, just reopen.

[2022-01-16 17:53] #314 closed

[2022-01-16 17:59] Karnah commented on #314
@konne, [this PR](https://github.com/XAMLMarkupExtensions/XAMLMarkupExtensions/pull/124) is also needed to fix this bug.

[2022-01-17 07:29] konne commented on #314
@Skuriles @narcis-sy @Karnah
sorry I didn't update the underlying Lib. Fixed, so please test the new 3.9.4

[2022-01-17 08:46] narcis-sy commented on #314
For me it still happens with version 3.9.4. Added button for 2x GC.Collect as well, although I am sure the Take Snapshot does a GC.Collect as well.

![image](https://user-images.githubusercontent.com/67704105/149736786-5304c4ec-9001-44e2-9ee0-288ec17dab4c.png)

[2022-01-17 09:03] Karnah commented on #314
@narcis-sy, I've tested your project:
Snapshot 1:
![image](https://user-images.githubusercontent.com/6525732/149738800-688ccc64-edcf-4cfd-b0a9-1e282b39c674.png)
Snapshot 2:
![image](https://user-images.githubusercontent.com/6525732/149738859-36e7bedb-6fa0-4c33-bc59-5a50f407312e.png)

Did you call 'Add' after collecting? These items removing only when adding new. It's the easiest way to control thi

[2022-01-17 09:31] narcis-sy commented on #314
Steps:

1. 3 x Add
2. 2 x Change
3. 4 x Remove
4. 1 x Collect
5. Snapshot
![image](https://user-images.githubusercontent.com/67704105/149743260-0f9b6915-e7e3-4bdf-aa28-29b0a83b7cb2.png)

Works, but the adding/removing and changing while there are still some items in the list doesn't

Steps:
1. 6 x Add
2. 2 x Change
3. 2 x Remove
4. 3 x Add
5. 3 x Change
6. remove all
5. 1 x Collect
6. Snapshot

![

[2022-01-17 09:32] narcis-sy commented on #314
Added debug output logs for easier repro.

![image](https://user-images.githubusercontent.com/67704105/149744027-60b59866-709c-4223-81e6-8bf460bc620f.png)

[2022-01-17 09:38] narcis-sy commented on #314
I've added a button "Scenario1" to execute the click sequence.

I consistently get 2 memory leaks for this scenario.

![image](https://user-images.githubusercontent.com/67704105/149744879-354562ce-7d4b-44d6-9a42-a465218d0d6d.png)

[2022-01-17 09:42] Karnah commented on #314
@narcis-sy, please, add call 'Add' after 'Collect'. As I said, a collection of `WPFLocalizeExtension.Providers.ParentChangedNotifierHelper+<>c__DisplayClass0_0<System.String>` cleared only in specific moments of time. In a real application, these moments will be quite ofter for not to worry about memory leaks.

[2022-01-17 11:39] narcis-sy commented on #314
@Karnah

Added Add after collect. Still results in increase of memory leaks. I clicked Scenario 1 a couple of times:

![image](https://user-images.githubusercontent.com/67704105/149762165-d7c7071f-694d-4be7-a83a-5f3ba34572a8.png)

[code]

Updated the repro as well.

Start app. Click Scenario1 3 times. Snapshot. => 6 objects in memory.
Repeat. 3 x Scenario1. Snapshot => 12 objects in memory

![imag

[2022-01-17 16:08] narcis-sy commented on #314
Weird, I see it doesn't reproduce it on your machine. It does on mine. See 2 separate examples below.
One thing that I remember is that the Visual Studio live tree does affect if it is on, it keeps the elements in mem, not sure how it would affect here, but just fyi.
![sample](https://user-images.githubusercontent.com/67704105/149803751-b04f48d9-3dce-4f8e-a438-7a4003fe8f9c.gif)
![scr](https://user

[2022-01-17 17:54] Karnah commented on #314
@narcis-sy, hmm, it's an interesting idea about Live Visual Tree. I wrote code that can help you to track inner collection:
[code]

Please add it to your project and create an output field for it. After this, you can run your application without debug and check how it works. Also, you can check if your controls are alive. This really means that something has reference to them.

[2022-01-17 19:12] narcis-sy commented on #314
Seems to be working fine if I start without debugging, i dump a couple of times (collect + add) until i get zero count/alive. I then attach the debugger and take a snapshot. It returns to 1. I guess the live visual tree still holds some refs when running directly in debug mode.

Thanks for taking the time to fix it. Cheers!

![image](https://user-images.githubusercontent.com/67704105/149825692-251

[2022-01-30 18:32] igibek opened #338 "Workflows are referencing vulnerable actions"
Hello, there!

As part of the university research we are currently doing regarding the security of Github Actions, we noticed that one or many of the workflows that are part of this repository are referencing vulnerable versions of the third-party actions. As part of a disclosure process, we decided to open issues to notify GitHub Community.

*Please note that there are could be some false positiv

[2022-01-30 19:34] #338 closed

[2022-05-11 09:45] susmitakanchinadham opened #350 "I'm looking for 64 bit dll of WPFLocalizeExtension.dll for our 64 bit application."
I'm looking for 64 bit dll of WPFLocalizeExtension.dll for our 64 bit application.
Could you please point me to them.
Thanks!

_Originally posted by @susmitakanchinadham in https://github.com/XAMLMarkupExtensions/WPFLocalizeExtension/discussions/349_

[2022-05-13 18:13] #350 closed

[2022-05-24 16:19] NiklasMoller commented on #271
Following the example above, I'm trying to change the value of a Setter:

`<DataTrigger Binding="{Binding XPath=configurations/PatientType}" Value="PMI">
<Setter x:Name="LoginPageTitlePMI" Property="Text" Value="{Binding Source={lex:Loc en}}"/>
</DataTrigger>`

This displays "Key: en" and not the correct string. Also, I would like to be able to set any language (as in Text="{lex:Loc}")

@konne Cou

[2022-05-31 09:45] NiklasMoller commented on #271
@Karnah Thanks! Could you provide an example in code of what you describe?

[2022-06-01 10:32] NiklasMoller commented on #271
@Karnah Thanks! I tried it without any luck.

I have setup an example repo here with my use case described: https://github.com/NiklasMoller/WPFLocalizationExtensionsWithSetters

Could you please help me and others struggling with this? Thanks :)

[2022-06-01 11:06] NiklasMoller commented on #271
@Karnah Brilliant! Specifying the key works fine 👍

With "to be able to set any language" I meant that the text should adapt depending on which CultureInfo is being specified. Works fine just specifying the key.

Many thanks for your help with this  🥇

[2022-06-26 08:48] superware opened #354 "Allow outputting the key itself (without "Key: ") if missing from localization dictionary"
Hello,

Many times there're texts coming from a remote system, then you would want to localize if possible (by using the text as key) else if it doesn't exist as key - output it as is (without the "Key: " prefix).

I don't see an easy workaround, will be **very** helpful to add this property per usage (and not in dictionary instance etc.):

[code]

Thank you for this amazing package.

[2022-06-26 12:05] Karnah commented on #354
Hello, @superware!
You can try to use `LocalizeDictionary.Instance.MissingKeyEvent`. Here the sample how you can set any string what you want:
https://github.com/XAMLMarkupExtensions/WPFLocalizeExtension/blob/3b350ebca0d0f823f45fe0e20b698f6163d3323b/tests/HelloWorldWPF/MainWindow.xaml.cs#L49-L52

[2022-06-26 17:00] superware commented on #354
Hi @Karnah!

Your suggestion is per dictionary (and requires coding), what about per usage?

[code]

It's a very powerful feature. You're not always localizing known/static strings, sometimes you have a string (usually from an external source) which you might have localized, but if not then your only true fallback is the string itself.

This should be a simple non-breaking feature...

Thanks!

[2022-07-01 18:14] Karnah commented on #354
I see here three possible ways:
1. Add just property `OutputKeyAsFallback`. This is quick and easy
2. Add property and enum `FallbackBehavior`. Possible values: Default (`"Key: " + _key`), Key (`_key`), EmptyString (`string.Emty`). It's also easy and a bit more flexible.
3. Add property `FallbackValue`. It can be really hard, because it should support `Binding`. But it can be really powerful featu

[2022-07-02 14:45] Karnah commented on #298
Hello! Sorry for really long answer.
@skowront, this problem appears when you Debug your application? Did you try to specify `SearchCultures` yourself? If it works, I think this is the best solution.

As for me `resManager.GetResourceSet` has really complicated logic and I affraid problems because of it. I think your solution (with some changes, because you shouldn't use `Assembly.GetExecutingAsse

[2022-07-02 14:59] Karnah commented on #294
Hello, @Uporka95!
I think the problem is that `Binding` inside `lex:Loc` doesn't have access to control's `ILocalizationProvider`, only to default. And I think you use default provider for strings (because I do the same).
@konne, I think this restriction with `Binding` is very bad. And now threre is not opportunity to refuse from LocProxy untill it wasn't fixed.

[2022-07-02 19:14] konne commented on #294
@Karnah can we have next week a sync and let us discuss potential changes. I this week ill. You should still have my skype connection. What would fit for you (after Wednesday)

[2022-07-02 20:00] skowront commented on #298
Yes, only while VS is attached to the process. When I run the application without VS there is no issue, and everything works seamlessly.

I would try to specify SearchCultures myself, yet i'm not aware how exactly (unless you just mean to hardcode it somewhere :D ).

[2022-07-03 04:31] Karnah commented on #294
@Uporka95, sorry, but I had a mistake. It's possible to do like this:
[code]

or don't use `Provider/DefaultAssembly/DefaultDictionary` if you have specified them upper on hierarchy.

@konne, sorry too, this case is ok. But there are another cases with problems. And it is a good idea to have a call. I think we can discuss time on Thursday.

[2022-07-03 05:37] Karnah commented on #298
Oops, yes, I offered to hardcode it. Sample:
https://github.com/XAMLMarkupExtensions/WPFLocalizeExtension/blob/788bbcb6edd8a62c4b8d19b3e7d8ca4d06026204/tests/HelloWorldWPF/MainWindow.xaml.cs#L37-L44
But probably it's better to use `ResxLocalizationProvider.Instance.SearchCultures` directly and do it at `App.xam.cs`

[2022-07-19 17:47] superware commented on #354
@Karnah thank you for your comments!

Both 1 and 2 will be perfect.

[2022-08-03 17:30] Karnah commented on #354
Hello, @superware.
I have some ideas about refactoring `XAMLMarkupExtensions` which will allow implementing the third option. I think it's the beast solution, because it's the most powerful feature.
If it doesn't work, I'll try to implement the first or second way.
Thanks!

[2022-08-03 17:33] Karnah commented on #298
Also it's the official solution of this problem like described here #262
@skowront, could you say if it for any reason doesn't suit you?

[2022-08-03 17:34] Karnah commented on #294
Hi, @Uporka95! Did you have opportunity to check this?

[2022-08-03 17:36] Karnah commented on #278
@qmatteoq, do you have any other questions or this issue can be closed? :)

[2022-08-03 17:47] skowront commented on #298
Had I see this dolutions earlier I wouldn't have opened this issue. However I'd say it does not seem a clean solution in terms of maintaining the code, but also totaoly valid.

[2022-08-03 17:48] #298 closed

[2022-08-26 03:40] yuliaria opened #362 "Exception thrown: 'System.IO.FileNotFoundException' in System.Private.CoreLib.dll"
Hello

**Describe the bug**
I am upgrading my project from .net framework 4.7.2 to .net 6.

When I debug my project, I will get a bunch of exceptions:
`Exception thrown: 'System.IO.FileNotFoundException' in System.Private.CoreLib.dll`

It makes the debug much much slower now compared to when I was using .net framework 4.7.2.

**To Reproduce**
My assembly structure is something like this:
Exe > Ass

[2022-08-26 03:59] Karnah commented on #362
Hello, @yuliaria.
Could you share the full stack trace of the exception?

[2022-08-26 16:47] Karnah commented on #362
@yuliaria, I'm not sure why this happens after upgrading from netFramework to net6.0, but could you please check [FAQ: Startuptime for Available Cultures Search with Resx Provider](https://github.com/XAMLMarkupExtensions/WPFLocalizeExtension/blob/master/docs/FAQ.md#startuptime-for-available-cultures-search-with-resx-provider)

This exception usually happens because ResxLocalizationProviderBase doe

[2022-08-29 02:51] yuliaria commented on #362
Hi @Karnah , ah, yes. Debug is much faster now. Thank you very much.

[2022-08-29 02:51] #362 closed

[2022-09-01 12:39] Ataegina opened #363 "Multiple resource files"
Hi dear person in front of the monitor,

Its not an issue, more likely a help request.

Im not able to copy the example (maybe its my fault) how to use multiple resource files.
I want to use several translation files to have a better organization.

There are these lines which is fine.
_lex:ResxLocalizationProvider.DefaultAssembly="NameSpace.SubNameSpace"
lex:ResxLocalizationProvider.DefaultDiction

[2022-09-01 13:05] Karnah commented on #363
Hello, @Ataegina!
Unfortunately, `Binding` supports only default provider. But if you use `ResxLocalizationProvider`, it's possible just to specify the full key. You can do it with converter:
[code]

[code]
I don't know why, but unfortunately `Binding.StringFormat` not working too. I think converter is the best solution which I can offer now.

[2022-09-01 13:49] Ataegina commented on #363
Thanks its working.
I just want to clarify for those who are interested in that "HelloWorldWPF" is only the root namespace and not the whole namespace route of the resx file.

Having a nice day

[2022-09-01 13:54] #363 closed

[2022-09-18 21:04] superware commented on #354
Thanks @Karnah! Is there something I can already test?

[2022-09-20 10:48] Karnah commented on #354
Hello, @superware.
I'm so sorry, I didn't have time to implement the third solution. And I really don't know when I can do it.
I hope I can create PR with the first or second solution on next week. I thinks it's the best way now.