[2012-01-13 13:24] konne opened #1 "Nuget Package"
Please add the nspec file an build a nuget package for this wonderul extension

[2012-01-16 09:23] #1 closed, assigned to nobody

[2012-05-31 21:50] danielmarbach opened #6 "Release Source Code under License"
Hy
Your product would benefit in defining the term "free". For example I suggest you release the code under Apache2 license. With that regard the legal stuff is also covered.

Daniel

[2012-05-31 22:52] #6 closed, assigned to nobody

[2013-07-25 14:14] SeriousM opened #19 "Support Formatting with SmartFormat.Net"
usually people have hard times to format strings, especially when it comes to formatting with a context object.

I found this library very useful, can we use it?https://github.com/scottrippey/SmartFormat.NET

Ping @MrCircuit

[2014-04-08 14:55] urza opened #25 "Provide Localization providers Examples"
Could you please provide working example solution (simple wpf project) featuring custom Localization provider? There is some class CSVProvider in source code, but I was not able to use it tu successfully localize my project. I have internal dictionary of key/value pairs that will be my provider. Thanks a lot.

[2014-06-03 22:21] pdoh00 opened #26 "XAML Tooltip sometimes fails to retrieve translation"
If I declare the tooltip on the button with an attribute like this:
[code]
then the key is successfully retrieved.

If I declare the tool tip like this then I get back Key: HotkeyText
[code]
It is preferable to use the second way as it let's me style the Tooltip as a TextBlock.

I am using WPFLocalizeExtension v2.2.1.0 and XAMLMarkupExtensions v1.1.6.3 pulled via nuget

[2014-09-04 07:38] SeriousM opened #27 "Remove WeakReference.IsAlive race condition"
same as issue https://github.com/MrCircuit/XAMLMarkupExtensions/issues/4

[2014-09-04 07:40] #27 closed, assigned to nobody

[2014-10-03 09:13] SeriousM opened #28 "Drop Support for WP7 / Silverlight"
yes, thats right. WP7 is dead and Silverlight felt into the darkness.
why now? we can't build WP7 anymore and silverlight doesn't make any sense anymore.

What do you think?

Reference: https://wpflocalizeextension.codeplex.com/workitem/9315

[2014-10-03 09:14] SeriousM opened #29 "Create a MEF example"
Create an example using a simple DI container like MEF with dynamic localized content.

Reference: https://wpflocalizeextension.codeplex.com/workitem/9303

[2014-10-03 09:16] SeriousM opened #30 "Update ChangeLog and Documentation"
The header tells the whole story :-|

Reference: https://wpflocalizeextension.codeplex.com/workitem/9302

[2014-10-05 16:14] Rainer1 opened #31 "Can't Localize ContextMenue"
Hi,
as the screenshot shows, in stead of getting the localized text for my context menue I get the keys shown:
![localizingcontextmenu1](https://cloud.githubusercontent.com/assets/9027052/4519015/62bcbdc8-4caa-11e4-8b6e-8d869eed2505.PNG)

Here the XAML:

[code]

The "regular" localizations like for TextBlock work fine ....
Is there something I am doing Wrong?

Regards
Rainer

[2014-10-09 03:01] #31 closed, assigned to nobody

[2014-10-09 10:45] artxach opened #32 "The name Loc doesn't exist in the namespace "http://wpflocalizeextension.codeplex.com""
Hi. When i first used your extension it worked fine.(i installed it through VS NuGet package installer). When the other day i opened my solution in VS 2012 i saw the XAML Design view is not opening because of some errors and found the error

[code]

When i rebuild and run the app everything works fine(the terms are translated), so my problem is that i can't open my Design view in VS.

[code]

i ge

[2014-10-14 17:00] alvarojosepl opened #33 "AvalonDock Headers Title Binding not working with Localization"
I am using avalondock as a framework, and i am using WPFLocalization for Localization of course hehe.

The fact is when i try to bind the Header Title property by:
Title="{lex:Loc myResourceName}"

It actually dosnt display the output it, it will display:
Key: myResourceName

Probably has to do with some interaction happening in between both frameworks.

 I would like to know if there is any worka

[2014-10-16 07:01] sindrepm opened #34 "Design-time issue in Visual Studio 2013 (WPF)"
Hello,

First, let me say that I think this extension is great and is working very well on runtime. However, I have one issue currently with the design-time support in Visual Studio 2013 on my WPF project. I am using the ResxLocalizationProvider.

The texts from the resource file does not show up in the designer until after I restart Visual Studio. I added a simple string to the Text property of a

[2014-10-17 13:42] alexdrenea opened #35 "Default Assembly and Dictionary"
More of a comment than an issue, regarding the way we make use of the assembly and dictionary properties.

Trying to use the (new) library (I've used it since since its initial release a long long time ago), I realized that in every xaml file I have to declare the default assembly and default dictionary, in the top level control, then I could use the markup extension without additional parameters.

[2014-10-31 08:23] dymanoid opened #36 "Fluent.Ribbon backstage localization issue using with PRISM and MEF"
Hello,

first of all I would like to thank you for this really nice localization feature. We're using it in our product and are fully satisfied with the result!

However, we're now encountering an issue using an open source WPF ribbon control called Fluent.Ribbon (see https://fluent.codeplex.com/).

The problem is that the ribbon's backstage gets not localized with WPF localization extension when

[2014-11-03 18:17] PhyxionNL opened #38 "Please sign the NuGet assemblies"
Title :+1:

[2014-11-08 11:56] thoemmi opened #39 "How can I force the initialization of the available cultures?"
During startup of my application, I want to set the current cullture to a valid culture, i.e. one of the cultures my application provides resources for (I'm using the default provider with .resx files). If it isn't supported, I fall back to English. The code looks like this:

[code]

However, `LocalizeDictionary.Instance.MergedAvailableCultures` contains only `CultureInfo.InvariantCulture`, so I g

[2014-11-08 13:36] #39 closed, assigned to nobody

[2014-11-09 14:48] DoctorVanGogh opened #40 "Basic example not working"
I'm trying to use your library to localize a project, but can't seem to get it to work.

Even using a simplified WPF test project called 'Foo' I get this error both at design and run time:

This is the whole of my glorious test window:
[code]

[2014-11-18 08:03] Rainer1 opened #41 "XamlParseException in MS-Test"
Hi,
I am experiencing some odd behavior with my unit-tests in conjunction with WPFLocalizationExtension.
Running them with MS-Test I get the Exception shown below. If I run them for example with NCrunch they pass fine.
Thanks for any help on this issue!

Regards
Rainer
## The Exception:

Microsoft.Practices.Unity.ResolutionFailedException: Resolution of the dependency failed, type = "X1.XPrep.GuiM

[2014-11-20 13:27] #41 closed, assigned to nobody

[2014-11-20 18:02] Rand-Random opened #42 "Threading issue"
Hi.

I have a little annoying problem with opening new windows in separate threads, have a look at the following setup.

This is my Window XAML:
[code]
And this is the code behind:

[code]

When you run this application and hit the button you will notice that no second window shows up, if you remove the line lex:LocalizeDictionary.DesignCulture="de" the window will show.

Another issue I am facing

[2014-11-21 10:21] Lutzeslife opened #43 "LocTextExtension.Assembly is obsolete"
Hello,

i want to know what kind of changes i should excepted when i us the Asembly property of LocTextExtension which is obsolete? Is there any plan to change the property?

Best regards
Daniel

[2014-12-04 06:26] mohSalah66 opened #44 "Value from Resources.Language.Resx"
how to get values from Resources.Language.Resx and populate code behind fields WPF
for example
<TextBlock  x:Name="ErrorBox" Foreground="Red"  />
i want  set the Text property of the TextBlock From code behind
 ErrorBox.Text = Loc ErrorMessage}

[2014-12-04 14:42] #44 closed, assigned to nobody

[2014-12-09 12:05] evertd opened #45 "Problem with CSV example"
I'm trying to get the CSV example working cause I would like to write my own provider that uses a database connection and gets values at design time. So I got 2 questions. Is this even possible?

For the CSV example I have the following problem. I uncomment this code in the MainWindow and get the following errors.

lex:LocalizeDictionary.Provider>
  Example:CSVLocalizationProvider FileName="Exampl

[2014-12-09 19:14] mijikin opened #46 "DatePicker shows wrong date"
I'm building a bilingual application which makes use of this extension. There is a button at the top to switch from English to French, and vice versa.
I was pleasantly surprised to see that the DatePicker widget is also updated when I switch languages, without me having had to do anything  to earn this.
Except that, while a date such as 2014-12-09 (yyyy-mm-dd) is shown correctly as December 9th, 2

[2014-12-15 13:55] #38 closed, assigned to nobody

[2014-12-18 15:08] #46 closed, assigned to nobody

[2014-12-25 22:25] #32 closed, assigned to nobody

[2015-01-04 21:41] MrCircuit commented on #43
**Open discussion:** How should we continue with Assembly and Dict properties? In fact, they are not needed any more and do not work together with custom resource providers. Otherwise they do not interfere in a bad way and keep up the support of legacy applications.

[2015-01-05 00:08] SeriousM commented on #43
Well, the common property is the `key`. For the resource file provider we
could add them to a derivation and enforce the usage via an generic
interface. On the other hand we can just drop assembly and dict property
and work with the composite key like "x:y:z".
We don't need to care too much for legacy code because the backend was
never the target environment for the extension and we always recomme

[2015-01-05 22:04] MrCircuit commented on #43
Vote for 2nd

[2015-01-05 22:05] MrCircuit commented on #28
WP7: OK
SL: No - it still is used in productive environments (e.g. by myself :-))

[2015-01-05 23:04] #26 closed

[2015-01-05 23:05] SeriousM commented on #28
then you have to maintain it :)

# SOLUTION

we'll drop WP7 support

[2015-01-05 23:07] MrCircuit commented on #28
**I will** hehe
Please read my edit! It is not WP7 alone - you would drop also WP8 and WP8.1 support!

[2015-01-05 23:07] SeriousM commented on #43
we will drop the assembly and dict key with the next version

[2015-01-05 23:12] MrCircuit commented on #33
In an old project of mine, I used the viewmodels to set the title of the avalondock windows:

<ad:DockingManager.LayoutItemContainerStyle>
                <Style TargetType="{x:Type ad:LayoutItem}">
                    <Setter Property="Title" Value="{Binding Model.Title}" />
...

Then I used the extension in the viewmodel constructor like this (assuming the VM has a Title property):

var ext = ne

[2015-01-05 23:12] #33 closed

[2015-01-05 23:14] MrCircuit commented on #36
I also use Fluent "fluently" :-). I will have a look on that issue.

[2015-01-05 23:56] SeriousM commented on #28
well then, you have to support it. i don't have any access to windows phones and no clue what problems they have. is that ok for you @MrCircuit ?

[2015-01-05 23:57] #28 closed

[2015-01-06 23:25] #36 closed, assigned to MrCircuit

[2015-01-07 00:09] #43 closed

[2015-01-07 00:26] MrCircuit commented on #45
Hi, you are right. The example CSV provider seems to be left behind by the recent development. I'll try to get an example to work with one of the example CSV providers .

[2015-01-07 00:28] MrCircuit commented on #35
This issue was handled as proposed by you (pull-request #37). Thanks for your input.

[2015-01-07 00:28] #35 closed

[2015-01-07 00:37] MrCircuit commented on #34
Hi.
I've already managed to get external assemblies to work in the designer as expected (added or changed keys are reflected after recompile, language switching with DesignCulture). Unfortunately, I was not able to get the same behaviour for the main assembly's resources. I don't know exactly, but I think it might be the designer that cannot unload the old main assembly's resources and load new re

[2015-01-07 00:39] MrCircuit commented on #42
I will first take care of the other (more urgent) issues and then I'll continue with this one.

[2015-01-07 00:41] MrCircuit commented on #40
* No example supplied
* Most probably related to #34

[2015-01-07 00:41] #40 closed

[2015-01-07 01:05] MrCircuit commented on #45
The CSV provider uses an outdated way to get the running VS process in order to get the design time files. I fixed this in a similar way as already done for resx.

[2015-01-07 01:06] #45 closed

[2015-01-07 09:25] SeriousM commented on #34
:+1: very well done!

[2015-01-07 09:35] SeriousM opened #47 "Add UI-Tests / Unit-Tests"
The project started long time ago and all we needed was a test application to see if the localization works.
Since then the library evolved to an "almost product" and people complaining that "this or that" doesn't work. We, @MrCircuit and @SeriousM, don't have the time to always investigate these errors and therefore I propose to create a _**real**_ test suite that covers all critical and optional

[2015-01-08 10:54] Rand-Random commented on #42
Thanks for the update.

[2015-01-19 09:06] Cuiyansong commented on #34
I meet the same problem, sometime it can render "strings" and the other  side it just show an error of "does not have a resource identified by the URI XXX". I tried to find the problem for a few days, but still not have a solution. Mybe it just like @MrCircuit said, " I think it might be the designer that cannot unload the old main assembly's resources and load new resources", sometimes it cannot

[2015-01-21 15:38] evertd commented on #45
Hello,

I was trying the CSV example again and I still go this error

An object of the type "ProviderExample.CSVLocalizationProvider" cannot be applied to a property that expects the type "WPFLocalizeExtension.Providers.ILocalizationProvider". in my xaml...

Does anybody know how to fix this problem? Thanks for the help!

Kind regards

[2015-01-22 22:16] MrCircuit commented on #45
Have you tried the last version of the AssemblyTest test project? I tested it right now again and it worked without these errors. Maybe something is missing, e.g. the resource files (you have to enable at least "Copy if newer")?

[2015-01-22 22:19] MrCircuit commented on #42
Hi - I just want to keep you updated, that this issue will still need some time, because I'm very busy at work right now. I expect to have more time mid of Feb.

[2015-01-26 07:37] evertd commented on #45
![image](https://cloud.githubusercontent.com/assets/10117416/5896477/800c6268-a536-11e4-9cf6-89c5fe1bc8cd.png)

This is the error I get.

[2015-01-30 14:11] Phyxion opened #48 "Increase GetResourceManager 'cache' timeout"
This line:

In https://github.com/SeriousM/WPFLocalizationExtension/blob/master/WPFLocalizeExtension/Providers/ResxLocalizationProviderBase.cs#L299

The 1 second is way too low when you have a lot of files in your solution. It takes nearly a minute to find all files in my solution. I currently have put it at '60.0' and it's working now without taking 10+ minutes to load a xaml.

[2015-02-03 09:46] SeriousM commented on #48
How big is your project?
Could the size be the issue?
@MrCircuit did you noticed such a delay?

[2015-02-03 09:53] Phyxion commented on #48
Here are some statistics about my project:
31,7 GB (34.043.961.786 bytes)
77.455 Files, 10.754 Folders

So yes, the size is an issue. Besides the size, I don't see a reason why this should be at one second. It only stresses the disk a lot.

[2015-02-03 10:09] MrCircuit commented on #48
This IS a big project :-).
Although, only the files matching the resource assembly name are copied, the search process might take some time.

It's OK for me to change the value to a higher one. The 1s time was just a guess how fast a user expects that changes will be reflected in the designer.

[2015-02-03 10:11] SeriousM commented on #48
We build that with test-projects or not-so-large projects in mind. Lets imagine you open a small project and you have to wait 60 seconds until ready.
what about going from 1 second to max 30, depending how long it takes to get ready?
eg. every time it's not ready increase the timeout by 1-2 seconds up to 30.

[2015-02-03 10:25] Phyxion commented on #48
Yes, it's big, it's mostly content but as it searches every folder in solution it takes a serious time to complete. Perhaps the locations of the files can be cached instead (https://github.com/SeriousM/WPFLocalizationExtension/blob/master/WPFLocalizeExtension/Providers/ResxLocalizationProviderBase.cs#L321)? I'm not sure how often this changes but even 30 seconds wouldn't cut it with a project this

[2015-02-03 10:32] MrCircuit commented on #48
One possible approach could really be to cache the results of the file search process. This, in turn, would result in the need to restart the designer / VS in case a resource file was added afterwards. But for "settled" projects that only expect changes in the resource file content, this is OK.

What do you think about this compromise?

[2015-02-03 10:54] Phyxion commented on #48
Yeah, that works too, I initially used that instead of increasing the caching timeout.

[2015-02-03 11:06] MrCircuit commented on #48
OK, I'll fix that. I even can cache the project directory, once it was found :-). Then this should reduce the overhead even more. Thanks for the hint.

[2015-02-16 12:03] HartlD opened #50 "Unit Tests Exception"
Hi,
I'm getting always the followitng exception:
Test Name:	NominalGeometryInputAllTests
Test FullName:	UnitTest_NominalGeometryInput.GeometryInputTests.NominalGeometryInputAllTests
Test Source:	e:\VisualStudio2013\ALC Neu\UnitTest_NominalGeometryInput\GeometryInputTests.cs : line 25
Test Outcome:	Failed
Test Duration:	0:00:00,1824027

Result Message:	Die UnitTest_NominalGeometryInput.GeometryInpu

[2015-02-16 12:36] MrCircuit commented on #50
Hi,

Please check, at which thread the loc extension was used first in the execution context of the unit test (let's call this the "creator thread"). All access operations to this extension must (right now - refer to #42) be synchronized to this "creator thread" because of the dependency properties of the extension.

[2015-02-16 21:27] MrCircuit commented on #34
Any update on this topic?

[2015-02-16 21:55] MrCircuit commented on #48
Hi,

Sorry for the delay. Now it should work as described above. Could you please test it at your big project before I can close the issue?

[2015-02-17 01:12] MrCircuit commented on #42
Hi,

work is in progress on this topic right now. I already figured out what to do to support multiple UI threads. But there's still a huge bug when switching the language :-). Because of this, I'll not push the results yet.

[2015-02-17 08:59] Rand-Random commented on #42
Thanks for the update, good luck on the fix. Hope to see it soonish™ :)

[2015-02-17 10:22] Phyxion commented on #48
I'll try it out in the next few days and let you know, thanks!

[2015-02-23 12:54] MrCircuit commented on #42
Good news: I got it working. I had to change the base library (XamlMarkupExtensions). As soon as I made the next release there (this evening), I'll push the changes.

[2015-02-24 07:34] Joris8 opened #51 "Designer stops loading custom UserControls"
Hi,
For a project I am trying to integrate the WPFLocalizeExtension in an application.
I have the following setup:
 * The WPF application itself (references to a controls and style dll)
 * Controls DLL (Contains an InputPicker UserControl)
 * Style DLL (Contains the style for the InputPicker UserControl)
Software:
 * Visual Studio 2013 (.NET Framework 4.5.2)

When I run the application without WPF

[2015-02-24 07:47] MrCircuit commented on #51
Hi,
Sorry, I have no clue. Did you try using the latest revision of our library from source? If not, please stand by - I'm building the next revision right now.
If the problem is not solved with this, please provide a simple example that we can debug.

[2015-02-24 08:02] Joris8 commented on #51
Thanks for your (really fast :)) reply, I have used the Nuget Package. Currently I am working on a simplified version. I will also try the version built from source. I will let you know about the outcome.

[2015-02-24 08:45] #48 closed

[2015-02-24 10:06] SeriousM commented on #42
:clap: :clap: :clap:

[2015-02-24 10:35] Joris8 commented on #51
Hi,
I have now made a small project that is having the same issues. Though it was hard to reproduce, but when it is reproduced it continues to exist. Als now the local UserControl is not working instead of the external DLL UserControl.
How can I send the project files to you?

In the example project I used the manually build master branch version.

The following steps should reproduce the issue in

[2015-02-24 10:55] MrCircuit commented on #51
Good question :-)
GitHub apparently does not include a user-to-user communication.

You could fork the project and add your example project as a test.

[2015-02-24 10:57] MrCircuit commented on #50
The issue should be solved by the last release. Please test and comment. Thanks

[2015-02-24 11:22] Joris8 commented on #51
I made a wetransfer link:
https://www.wetransfer.com/downloads/71ba785775e3fded07d4954e95a00ae520150224112032/ff6fdbba35bfe2ae033d2a81d947e8b220150224112032/e4a6a8

[2015-02-24 14:25] Rand-Random commented on #42
Going to test it soon, cant wait to get rid of all the Dispatcher.Invoke stuff that I randomly added to please my boss. :)

[2015-02-24 15:14] #50 closed

[2015-02-24 16:27] MrCircuit commented on #42
If I missed something, please provide detailed information.
Thanks again for your patience :-).

[2015-02-24 16:32] MrCircuit commented on #51
OK. Got the file. I'll have a look on it.

[2015-02-25 19:29] Phyxion commented on #48
Sorry for the delay, I just downloaded the latest version through NuGet and I can confirm that it's working flawlessly! Finally a version I can use again that is just 1:1 from NuGet :+1:

[2015-02-26 08:47] SeriousM commented on #48
nice to hear that :)

[2015-02-26 15:26] Joris8 commented on #51
Hi,
Have you got the reproduction of the issue working with the example project I have send you?

In the mean time I have tried to find more information about what may be causing the issue.
I have looked into pack URI's (https://msdn.microsoft.com/en-us/library/aa970069(v=vs.110).aspx), and adjusted the line in *App.xaml* to `<ResourceDictionary Source="pack://application:,,,/Style;component/Defau

[2015-02-26 16:09] Rand-Random commented on #42
I have now tested the new version.
The exception of my second problem is gone but my first problem is still there.

Not sure if you said its fixed or not since you mentioned the following
"But there's still a huge bug when switching the language :-)"

Got this fixed it the current version?
(I am talking about the problem that if the second-ui-thread-window contains lex:LocalizeDictionary.DesignCul

[2015-02-27 08:01] MrCircuit commented on #42
You're right - this was indeed a problem but I've overseen it during testing. I'll have a look on that.
The huge bug I mentioned had other effects that were solved.

[2015-02-27 08:12] MrCircuit commented on #51
Sorry, I was too busy the last 2 days.
Before, I was once able to reproduce the issue but it didn't show up again after rebuilding the whole solution. Unfortunately, I did not have time then to investigate more on that topic.

Thanks for sharing your ideas. The design culture feature is really an annoying thing, because the designer changed completely since VS2012. The workarounds we found to keep

[2015-02-27 09:47] Joris8 commented on #51
No sweat, thanks for looking into it.

I also figured out reproduction of the issue is sometimes hard, though sometimes (after reboot of my pc or restart of visual studio) it continues to consist.

At this moment I am  looking into creating Custom Controls instead of using UserControls (With DynamicResource binding) for my own created controls. Maybe this is an underlying issue, but still don't kn

[2015-02-27 10:29] roadz99 opened #52 "Memory leak when using collapsed control within a control template"
Use the localization extension in a control within a collapsed container within a control template. When the Window is closed the localised item is held in memory.

[2015-02-27 11:56] SeriousM commented on #52
Is that the issue to the PR #53?

[2015-02-27 12:17] roadz99 commented on #52
Yes

[2015-02-27 16:39] SeriousM commented on #52
The PR #53 is representing the issue already, closing this issue here to reduce irritation.

[2015-02-27 16:39] #52 closed

[2015-03-16 21:03] joelbourbon commented on #34
Hey @MrCircuit !

Just added your Nuget package to a solution I have to localize. Everything seems to work fine at runtime but I get exactly the same issue as the other guys here at design time. In the designer, the strings are not reloaded when edited in the resx file. The string switches when I change the LocalizeDictionary.DesignCulture but it keeps the values loaded the first time.

Ex: I'm sw

[2015-03-20 12:46] Joris8 commented on #51
It has been a while, but in the meantime I have tested removing DynamicResource, and this seems to make it more stable. Sometimes it still occurs and then a restart of VS2012 is required for the UserControls to be depicted.
So I think DynamicResources need to be avoided and custom controls is the way to go.

Unfortunately I can't seem to figure out what exactly is the problem because it is not rea

[2015-03-23 14:05] ThomasHelm commented on #25
I can change the provider to a provider off my application at runtime with
[code]

How do I this for Design Time???

[2015-04-03 05:11] #51 closed

[2015-04-16 20:41] MrCircuit commented on #34
Thanks for the hint.
I'll see if we can use it.

[2015-04-26 14:16] Cuiyansong commented on #34
When I attached the visual studio IDE and the other vs open "MainWindow.xaml", I got the fellowing message, does someone have suggestions?

System.TypeLoadException was caught
  HResult=-2146233054
  Message=Could not load type 'XAMLMarkupExtensions.Base.DependencyObjectHelper' from assembly 'XAMLMarkupExtensions, Version=1.1.6.3, Culture=neutral, PublicKeyToken=null'.
  Source=WPFLocalizeExtensio

[2015-04-27 18:46] Phyxion opened #54 "Ignore casing for keys"
Is this possible? I already looked a bit through the available properties and did not see this. Did I miss it or does this not exists?

[2015-04-27 20:14] SeriousM commented on #54
hmmm, I never faced the problem that a key-case was treated sensitive!
are you sure?

[2015-04-28 07:33] Phyxion commented on #54
Yes, I'm 100% sure. Add a language key like: "TestTest" and request "Testtest", it won't return anything.

[2015-04-28 08:25] SeriousM commented on #54
My best guess is [this line](https://github.com/SeriousM/WPFLocalizationExtension/blob/master/WPFLocalizeExtension/Providers/ResxLocalizationProviderBase.cs#L708) where the ResourceManager is called.

There is a [IgnoreCase](https://msdn.microsoft.com/en-us/library/system.resources.resourcemanager.ignorecase(v=vs.110).aspx) property on the resource manager which is default to `true`... I don't thi

[2015-04-28 08:28] SeriousM commented on #54
oh oh, I've fonud a problem on the msdn documentation about IgnoreCase:

Are the keys insensitive when you specify a culture?

[2015-04-28 08:54] Phyxion commented on #54
I already specify a culture, it doesn't help. Are you sure IgnoreCase is actually set to true by default? Because it doesn't says so anywhere.

[2015-04-28 08:55] Phyxion commented on #54
Just checked it myself, IgnoreCase defaults to false.

[2015-04-28 09:35] SeriousM commented on #54
@MrCircuit, are you agree that we just set the property to true on startup, regardless what the user might have set?

[2015-04-28 10:36] lkettenb opened #55 "Errors when using WPFLocalizationExtension for Templates or DataContext"
Hello,

when I use the WPFLocalizationExtension for Templates or DataContext it works as expected, but Visual Studio 2012 produces the following error messages:

For ContextMenu:

    System.Windows.Data Error: 4 : Cannot find source for binding with reference 'RelativeSource FindAncestor, AncestorType='System.Windows.FrameworkElement', AncestorLevel='1''. BindingExpression:Path=Parent; DataItem=n

[2015-04-28 11:14] SeriousM commented on #55
hmmm, I guess @MrCircuit is the right person for such a problem. I
hadn't my hands in the RelativeSource since years :(

On 4/28/15, Lukas Kettenbach <notifications@github.com> wrote:

[2015-04-29 16:26] MrCircuit commented on #55
I also seldomly had this issue, where this binding to the Parent property failed. But I did not find a solution to it. On the other hand, it never lead to a failing translation...

IMHO it's a Mandelbug :-).

[2015-04-29 16:31] MrCircuit commented on #54
So you would prefer that we add a controlling property for case sensitivity?
If we don't want to break with the previous behaviour, we should not set it to True by default.

[2015-04-29 16:40] Phyxion commented on #54
I would prefer that. It shouldn't break previous behaviour as all it does is allow Testtest to work for TestTest (which you cannot add again in the designer as it says the key already exists).

[2015-04-30 08:21] SeriousM commented on #54
Ok, that sounds good. Do we have a entrypoint for initial configuration?
If not, what about the app.config?

[2015-04-30 08:26] Phyxion commented on #54
This can be added to Resx..Provider(Base) or just to the Localize...Instance (I do not recall the exact names) as its more of a global setting. Or just set it as default.

How do you guys feel about opening up ResourceManagerList (see my above post)?

[2015-04-30 09:55] SeriousM commented on #54
The ResourceManagerList can be opened as ReadOnlyCollection so we can be still sure that we don't lose any instances and the consumer can modify the instances.

A setting to the Localize...Instance is maybe already too late - depends when the consumer access it the first time. (not all users of the library have a program.cs that startsup the application)

[2015-04-30 10:29] Phyxion commented on #54
The ResourceManagerList is a protected property, so I have to use reflector to get it. I'd be nice if you could make this public so it's easier to retrieve this. I'm currently manually setting the ResourceManager in this list so I can use the CreateFileBasedResourceManager method of the ResourceManager to automatically pick all language files from a specific directory as the current resx provider

[2015-04-30 11:30] SeriousM commented on #54
Would be a method to get all the resource managers sufficient for you?

[2015-04-30 11:34] Phyxion commented on #54
As long as I can modify that collection (and it'll be used :)), sure.

[2015-04-30 12:14] SeriousM commented on #54
The collection or the instances?
Am 30.04.2015 13:34 schrieb "Phyxion" <notifications@github.com>:

[2015-04-30 12:17] Phyxion commented on #54
Well, I need to be able to add a new resource manager myself (and also be able to call ReleaseAllResources on it), so I'd say both.

[2015-05-05 20:11] kim07 commented on #54
:+1:

[2015-05-07 04:42] HartlD opened #56 "Unit Test and Localization and thread issues"
Bevor I had updated the Localization Extension, I got the Test result failure that Localization is used by a
another thread,....

By the lates version my unit Tests->RunAll -> Hanging->no response i have to Cancel all tests.

[2015-05-15 05:57] ChristianPerner commented on #55
I had the same issue. After adding
[code]
to the view it doesn't show up again.
The "Assembly:Dictionary:Key" notation doesn't fix the problem.
hth

[2015-05-18 14:30] eBeyond commented on #34
Hi,

is there some progress on this issue? It's really annoying to refresh the project all the times and my impression is that's not solving the problem on a regular basis. Sometimes it's resolved sometimes it's not.

[2015-05-19 09:13] MrCircuit commented on #56
Can you share a simple test scenario that reproduces the error (e.g. by forking and extending one of our tests?)

[2015-05-20 14:17] eBeyond commented on #34
Hmmm,

I've tried it with VS 2015 RC... It's the same as in VS 2013.

[2015-05-22 10:22] xmedeko opened #57 "Forum or SO tag"
Hi, I miss some place, like forum, to discuss proper use of WPFLocalizationExtension. Or an "official"  StackOverflow tag - now the SO topics about WPFLocalizationExtension are sometimes tricky to find. (Some people use WPFLocalizationExtension, others WPFLocalizeExtension, ...). If you decide to create SOI tag, just put it into README.md.

[2015-05-22 13:00] xmedeko commented on #34
I ahve the same issue. I chaneg RESX files and do not see texts in the designer. But after some time working in Studio the text appears in the designer and even switching `DesignCulture` works well. I've tried to discover, what triggers the change but cannot find it (rebuild, unload load project or solution, nothing works). Maybe some cache which has to timeout?

[2015-05-22 19:59] SeriousM commented on #57
Hi!

I don't know which tags you ment which are used already, but its neither http://stackoverflow.com/questions/tagged/WPFLocalizationExtension or http://stackoverflow.com/questions/tagged/WPFLocalizeExtension.

I agree, a SO tag would be nice, but we wouldn't monitor it because of the missing time.
@MrCircuit and I have already hard times to keep up with the questions and issues.

What would hel

[2015-05-23 19:31] xmedeko commented on #57
No SO tag for WPFLocalizationExtension exists yet. I mean some people call it WPFLocalizationExtension, others WPFLocalizeExtension. It's not easy to do full text search to find relevant topics. I propose to create SO tag and write it to the README.md, so as people will know where to discuss problems and how to tag new topics.

I can help with wiki - just copy and paste old documentation. But do n

[2015-05-26 15:34] xmedeko opened #58 "Add GitLink to build process"
GitLink let's users step through your code hosted on GitHub: https://github.com/CatenaLogic/GitLink

This will allow me to step through the code without a hassle, which makes it easier to understand the code and the inner workings.

[2015-05-27 09:36] alanwol commented on #55
I have both:

lex:ResxLocalizationProvider.DefaultDictionary="Resources"

and "Assembly:Dictionary:Key" notation but still have this problem.

I get it when I use a context menu inside a DataTemplate

 <ContextMenu>
        <MenuItem Header="{lex:Loc MyAssembly:Resources:Header_TEXT}" />
 </ContextMenu>

[2015-05-27 11:30] SeriousM commented on #55
Could you assemble a small test program so that we can investigate it?

On 5/27/15, alanwol <notifications@github.com> wrote:

[2015-06-01 12:52] mgnslndh opened #59 "Localized text is only displayed first time in design mode"
Hi,

I am experiencing a problem with localized text in design time. The first time I open a view the localized text is displayed according to the DesignCulture specified in the XAML. If I close and reopen the view the text displayed will be "Key: Description" or something similar depending on the actual key in use. I guess I must have missed some step in setting up the view but I have tried to fo

[2015-06-01 14:13] mgnslndh commented on #34
Is this problem related to the ResXLocalizationProvider only or will we run into the same issue for any provider? How about known workarounds?

[2015-06-14 14:46] ckocer opened #60 "Binding on code behind."
Hi there.
I couldn't find any document about binding on code behind.
I've a few MessageBoxes and I don't know how to bind strings to these MessageBoxes.

Can you help me. Thank you!

[2015-06-14 17:45] SeriousM commented on #60
Hi ckocer,

you're right, we don't have any test code (anymore).
Anyway, here is the API for it:
https://github.com/SeriousM/WPFLocalizationExtension/blob/master/WPFLocalizeExtension/Extensions/LocExtension.cs#L768

It works for DependencyObjects as well as normal Objects.
The property may be a DependencyProperty as well as a normal Property.

If you have any questions don't hesitate to ask.

Chee

[2015-06-14 17:45] #60 closed

[2015-06-14 19:46] ckocer commented on #60
Hi, thank you for fastest answer.
But my English is not that good. The "Binding" word is actually wrong for my question.

How can I get the localized texts using Keys to use MessageBox like this.
MessageBox.Show( .... localized text will be here ... );

[2015-06-14 20:58] SeriousM commented on #60
Thats even easier!
Either with [GetLocalizedValue](https://github.com/SeriousM/WPFLocalizationExtension/blob/master/WPFLocalizeExtension/Extensions/LocExtension.cs#L588) (Static method) or with [ResolveLocalizedValue](https://github.com/SeriousM/WPFLocalizationExtension/blob/master/WPFLocalizeExtension/Extensions/LocExtension.cs#L684) (Instance method).

Just pick the right overload of the methods

[2015-06-15 01:12] ckocer opened #61 "Cannot resolve dependency to assembly XAMLMarkupExtension because it is not preloaded..."
Hi there,
First of all, I'd like to thank you for that cool project but, I've a problem.

In my MainWindow XAML, Localizer works like a charm with that code:
xmlns:lex = "http://wpflocalizeextension.codeplex.com"
lex:LocalizeDictionary.DesignCulture="tr"
lex:ResxLocalizationProvider.DefaultAssembly="WPFLocalizeExtension"
lex:ResxLocalizationProvider.DefaultDictionary="Language"

I've a few windows

[2015-06-15 15:11] SeriousM commented on #61
uhm, ähm... @MrCircuit, may you help with this please?

[2015-06-15 20:33] MrCircuit commented on #61
Hi,

unfortunately, I'm not very familar with the deeper mechanics of NuGet. Try reinstalling the NuGet packages and make sure, that only version 1.2 of XamlMarkupExtensions is installed. If your project consists of several libraries containing your views, verify that each library has an appropriate reference to this package.

[2015-06-19 15:43] ctusch opened #62 "Memory leak when localizing a ContextMenu"
Hey,

when I localize a MenuItem's Header property within a ContextMenu your library keeps the reference to that MenuItem even after removing the containing control from the UI.

Here you can see the relevant root path:
![image](https://cloud.githubusercontent.com/assets/6949649/8256873/2777ed62-16aa-11e5-8bbd-37fadb36be3b.png)

Here you can download my sample project:
https://drive.google.com/uc?

[2015-06-22 19:58] SeriousM commented on #62
Hi @ctusch, I'll have a look at it.
Thanks for reporting!

[2015-06-22 21:17] SeriousM commented on #62
Found the issues which spans over XAMLMarkupExtensions and WPFLocalizationExtension.
How important is the fix for you @ctusch?

[2015-06-22 21:50] SeriousM commented on #62
Alright @ctusch, @MrCircuit is fixing the leak on the XAMLMarkupExtensions side, I already fixed it on WPFLocalizationExtension. Just hang on until the new packages are created and published.

[2015-06-23 08:03] kroimon commented on #62
It would be great if you could also fix #52 / #53 for this release as it leaks memory when translating collapsed elements.

[2015-06-23 13:26] ctusch commented on #62
Great @SeriousM, thanks for the fast response! Will test it when it's released.

[2015-06-23 21:04] SeriousM commented on #62
@MrCircuit is currently adding your changes in LocExtension.cs to the upcoming release.

[2015-06-26 15:00] ctusch commented on #62
Hey @SeriousM, sorry I've been sick the past two days. I've tested your fix today. It fixes the problem in my sample application but the solution causes an null reference exception in our real application. Wasn't able to figure out the reason. A simple null check should do but maybe there is a bigger underlying problem.

![image](https://cloud.githubusercontent.com/assets/6949649/8380190/bf58c21c-

[2015-06-26 16:20] steveadoo32 opened #64 "ParentChangedNotifier Target null causing crash"
Hi,

I'm using MvvmCross for my application, and it involves a presenter to show your Views. My presenter is just a Window and I replace the Windows content with the view when navigating. I noticed that if I switch views, my app will crash at ParentNotifiers's Remove method, specifically:

        _inner[singleOrDefault].Target.Dispose();

Honestly, I'm not sure if this is because I'm using MvvmCr

[2015-06-26 23:53] ckocer opened #65 "Binding with string.Format"
Hi, is there any way that I can bind formatted texts to (for example) MenuItem.HeaderProperty ?

Sample localized text: You have reached level {0} of {1}.

[2015-06-28 21:02] MrCircuit commented on #65
There is a specific LocTextExtension for this purpose. Otherwise, use a proxy class similar to the LocProxy class.

[2015-06-28 21:52] #64 closed

[2015-06-28 21:53] MrCircuit commented on #64
I fixed it the way you propose, because when the Target is null (or not alive) it's safe to not call Dispose.

[2015-06-28 22:00] MrCircuit commented on #62
refs #64

[2015-06-28 22:00] #62 closed

[2015-06-28 22:23] SeriousM commented on #64
Please read the comment on [c72a992](https://github.com/SeriousM/WPFLocalizationExtension/commit/c72a992f295d01d0097e1cfa7deace71a3866ca7#commitcomment-11901110)

[2015-07-14 16:05] Acaspita commented on #59
I found that in MemoryTest sample project, if you exclude the Resources.resx file side with its designer file, you'll get the "Key: KeyValue" text, despite changing the localization at MainWindow.xaml.cs to "de"...
This makes me think that the resouces files need a main resources file that only has the keys, and then the individual resx files for every localization you need to implement, to avoid

[2015-07-22 14:38] OfekA opened #66 "How to switch language to display?"
I looked at the documentation and I couldn't find a way to change the user language, any help?

[2015-07-22 14:44] UeliHilfiker commented on #66
I hasn't found it too, but you can change the language on this way:

Source in vb.net:
[code]

[2015-07-22 14:51] UeliHilfiker commented on #66
or for C#
look at this Example Code:
https://github.com/SeriousM/WPFLocalizationExtension/blob/master/Tests/LocalizationTest/App.xaml.cs

You can find example sources (C#, VB, SL, Phone, etc.) in Tests - folder:
https://github.com/SeriousM/WPFLocalizationExtension/tree/master/Tests

[2015-07-22 18:55] OfekA commented on #66
Thanks a lot, I didn't know about the examples in the Tests directory.

I will try what you suggested, thanks.

On Wed, Jul 22, 2015 at 4:51 PM Ueli Hilfiker <notifications@github.com>
wrote:

[2015-07-23 12:57] OfekA commented on #66
Your first example worked perfectly, thanks a lot!

[2015-07-24 12:44] #66 closed

[2015-07-24 19:58] aconcagua21 commented on #34
Hi, thanks for nice work!
I have modular MVVM application. Resource lookup works well both in design and run time. However, when I switch the language, only controls from the main assembly get switched. Other resources remain in the original language. What am I missing?
Thanks,
Jiri

[2015-07-27 08:17] UeliHilfiker commented on #34
@aconcagua21
Set the language for every form/window manually, see: https://github.com/SeriousM/WPFLocalizationExtension/issues/66

[2015-08-10 20:18] JamesWHurst opened #67 "How to localize Text on an element inside of a ResourceDictionary ?"
This seems to work just fine for localizing text within normal XAML views. But what about within a XAML ResourceDictionary?
For example, within Themes\Generic.xaml  I define this..

[code]
This resource-key, "Step", fails to be translated. Also, if I put lex:ResxLocalizationProvider.DefaultAssembly=".." or .DefaultDictionary="..", the compiler complains about those.

Does WPFLocalizationExtension

[2015-08-12 00:43] ckocer opened #68 "Binding on code behind is too slow :("
Hi there,
I'm using your library for my app and i realized that the binding is too slow and slows down evertthing.

I've written a static class named "L.cs" to use your class easier.
public static void Bind(DependencyObject dObj, DependencyProperty dProp, string key)
{
	new LocExtension(key).SetBinding(dObj, dProp);
}

this is my static class to bind ListViewItem's Header property. Using it like:

[2015-08-12 06:23] indazoo commented on #61
I had the same error, maybe it helps you too or hints you in the right/wrong direction.
After adding the source code of wpfLocalizationExtension to my project I had this message.

Problem was the XAMLMarkupExtension is an external module and the dll was missing in the bin folder (Build output).
I had added this project too, but then a century old VS Bug hit: It does not copy the dependent dll to m

[2015-08-12 06:33] indazoo opened #69 "Multiple resource assemblies not working/false documented"
Hi
I just started to use this extension really the basic steps.
Then I wanted in my simple view use resources from two different assemblies and read the doc here:
https://wpflocalizeextension.codeplex.com/wikipage?title=Multiple%20assemblies%20and%20dictionaries

But the "Assembly" property and "Dict" property no longer exist. I found them in source (June 2012) with depreceated flag:
https://githu

[2015-08-12 06:36] indazoo commented on #69
Oh, Now I see the full text. In Github I only saw this:
"This property is obsolete and will be removed from the extension in the future.\r\nUse the attached properties"  without " of the ResxLocalizationProvider instead." at the end because the GitHub Gui makes no "autoWrap" (which may be good).

This means I can only change resources per Control? Hmm..

[2015-08-12 06:50] indazoo commented on #69
This works, is this the correct (only)way now?
<StackPanel lex:ResxLocalizationProvider.DefaultAssembly="My.Other:Assembly">
        <TextBlock Text="{lex:Loc Key=OS}" Grid.Row="0" Grid.Column="0" ></TextBlock>
    </StackPanel >

[2015-08-12 11:29] indazoo commented on #69
Don't bother, I'll not use it.
I missed too much the intellisense for my resource keys.

[2015-08-12 11:29] #69 closed

[2015-08-26 06:33] nzain opened #70 "Why is enum localization so counter-intuitive?"
I was using your project for a while now, using a custom provider, very nice. However, today I tried to localize an enum value. Following the documentation at

  https://wpflocalizeextension.codeplex.com/wikipage?title=LocProxy%20%26%20EnumComboBox&referringTitle=Documentation

I first have to add an FrameworkElement with zero size only to bind to some obscure Result property?

<lex:LocProxy Sourc

[2015-08-26 08:14] SeriousM commented on #70
Hi @nzain,

That would be great!!

[2015-08-26 15:25] nzain commented on #70
Ok, so my quick fix was to use a converter. This might not work for everyone, since you don't have the DependencyObject in the Convert method and it depends on static access to the LocalizeDictionary.Instance singleton. However, the usage does not require declaration of ghost-UiElements, is more intuitive, and allows me to speficy a custom prefix (via `ConverterParameter`) instead of the enum's ty

[2015-08-26 20:52] MrCircuit commented on #70
Hi @nzain,

Let me first start with the description of the problem why the current solution is as it is:
The most common situation is that one may want to bind a localized enum property to a visual, like a TextBox, a ComboBox etc. This means, that we need a Binding and we need some way to inject the localization. There are two major restrictions to that: A Binding instance must not change after be

[2015-08-26 20:56] MrCircuit commented on #69
Sorry for the late answer, but you're right. There are two ways:
* Use the attached properties
* Use the extended key syntax (`MyAssembly:MyResource:Test`).

[2015-08-26 21:01] MrCircuit commented on #68
Hi @ckocer,

I also used larger lists including localized entries without any problem, but using XAML techniques. Can you extract an example project illustrating this problem and send it to us? This would help finding the issue.

[2015-08-26 21:07] MrCircuit commented on #67
It is working. I tested this one right now to double-check:
[code]
What you cannot do there is setting any attached properties to the ResourceDictionary (DefaultAssembly & DefaultDictionary). But their values will be taken from the target where the templates will be used.

[2015-08-26 21:11] MrCircuit commented on #59
But this comes to the cost of loosing the invariant culture fallback.
Nevertheless, I still don't exactly understand the issue and the solution...

[2015-08-27 08:58] LordLaurent opened #71 "Runtime problem to translate"
Hello,
I've started using the WPF Localization Extension to localize my resources for WPF projects. I like the library because it can easily locate resource's out of the XAML-Code.

My project contains some assembly (one by specific view) and I want to use one dictionnary resource by assembly that contain the key specific to the assembly. I have a problem on an assembly where I want to translate a

[2015-08-27 09:12] nzain commented on #70
Ah, well. I knew, my approach is very simplified - but I really forgot about the dynamic culture change, which is a required feature for me. So my approach is crap, agree.

Admittedly, I don't really understand the MarkupExtension/Binding details, I thought one could create a DependencyProperty inside the MarkupExtension, much like you do with attached properties when you define them in a static c

[2015-08-27 09:21] nzain commented on #70
Actually, the prefix could be completely separated (optional, defaults to null) plus a bool PrependTypename like you use for the LocProxy. This way one could build more complex keys like
`MyCustomPrefix.EnumTypeName.EnumValue`.

[2015-08-27 10:01] MrCircuit commented on #70
Hi,

Yes, you can create data templates for non-WPF elements - it's just a dictionary with the data type as the key and a visual representation as the value (IMHO one of the most important features of WPF for MVVM pattern support). Therefore you can template each particular enum type in your solution in a different way with its own prefix.

Nevertheless I will try to have a look on the proposed ex

[2015-08-27 10:06] MrCircuit commented on #71
Hi @LordLaurent,

What you describe is a deeper problem of WPF: The DataGrid breaks the Parent/Child relationship tree that is needed for Attached Property retrieval. Therefore, the loc extensions inside the DataGrid can't access the DefaultAssembly and DefaultDictionary values.

Possible workarounds are:
(A) to add these attached properties inside of your DataGrid elements
(B) to use the extended

[2015-08-27 10:18] nzain commented on #70
Obviously, viewmodels are never UI elements and you template them every day. I just never thought about this for an enum (which does not implement INotifyPropertyChanged etc.).

Thanks for looking into this! I'm looking forward to an update :-) :+1:

[2015-08-27 11:43] nzain opened #72 "LocProxy queries for invalid keys during initialization"
When using the LocProxy to localize enum values, the LocalizeDictionary is first queried for `"_Result"` and then for the empty string before the correct key is built. Expected behavior: The dictionary is not queried until the correct key is built.

    <TextBlock Text="{Binding ElementName=Proxy, Path=Result}">
        <lex:LocProxy Name="Proxy" PrependType="True" Separator="/"

[2015-08-27 12:02] GeroIwan commented on #70
Maybe the following approach works for you. It uses an encapsulated MultiBinding in order to update the binding if the localization culture changes. The MultiValueConverter is written on the lines of the ValueConverter given above. The C# code is:
[code]
The usage in XAML is very similar to the above converter-only approach:
[code]
Note that `Path=` can be omitted (although I prefer to not omit it

[2015-08-27 12:35] LordLaurent commented on #71
Ok thank you for the answer.
I just tested the option B and it work fine.
I have not understand the possibility A, have you a simple sample ?

[2015-09-02 08:16] KristianKuhlmann commented on #56
Hello MrCircuit,
we use WPFLocalizeExtension excessively and are experiencing the exact same and other similar threading issues as reported in this bug report.

Currently it is not possible to change the LocalizeDictionary.Instance.Culture from another thread as the main thread. This will cause the Disptacher to block. The application hangs (seems to lock) at WPFLocalizeExtension.Engine.LocalizeDi

[2015-09-02 10:35] KristianKuhlmann commented on #42
This should be fixed as well by the merge of the pull request 74 (https://github.com/SeriousM/WPFLocalizationExtension/pull/74) done to fix issue#56 (https://github.com/SeriousM/WPFLocalizationExtension/issues/56).

[2015-09-02 10:46] SeriousM commented on #42
can anyone please confirm that?

[2015-09-02 20:55] #72 closed

[2015-09-02 20:56] MrCircuit commented on #72
This issue was solved by moving the construction of the loc extension object to the first place when it's needed and a key is present.

[2015-09-02 21:27] MrCircuit commented on #70
Hi @GeroIwan,

thanks for your suggestion. Unfortunately, this approach suffers from having no access to the dictionary and assembly settings of the resource provider. This issue goes deeper into the mechanics of the MarkupExtension base class and the - unfortunately - poor access to the necessary information of the extension target in the Binding and MultiBinding classes.

If your resource provid

[2015-09-02 21:43] #70 closed

[2015-09-02 21:44] MrCircuit commented on #70
Hi @nzain,

Your proposed approach by extending Run is ready for testing. My own first tests look good. Custom prefixes are also possible using the Prefix property (also in LocProxy).

[2015-09-02 22:34] MrCircuit commented on #71
For example, you could define these attached properties to containers that build up the item cells. This of course might lead to a similar or even higher effort than option B, if each cell needs these attached properties for just one localized value. It therefore depends on the situation.

[2015-09-03 06:46] nzain commented on #70
Thanks a lot, Mr Circuit! I'll look into it right now.

[2015-09-03 07:56] nzain commented on #70
Tested, Great: much more intutive + custom prefix (which also allows to override the enum type name).

Given the problems with other approaches, this seems to be the best compromise between fancy functionality (dynamic language change at runtime, binding different dictionaries to different dependency objects etc.) and simple usage like this:

    <TextBlock>
         <Run Text="{lex:LocText Key=Fo

[2015-09-03 09:25] Rand-Random commented on #42
Tested it with the latest version from trunk and the freeze is gone, thx.

[2015-09-03 11:50] SeriousM commented on #42
Glad to hear! Thank you @KristianKuhlmann for the fix!

[2015-09-03 11:50] #42 closed

[2015-09-09 11:54] LordLaurent commented on #71
I try now to translate a binding text value. I try with the xamlmarkupextensions like that:
<GroupBox  Header="{ext:DynBinding Path=Title }">
I want to translate the value on Title but only the original value is showed.
What is wrong or what is the possibility?

[2015-09-29 16:37] melance opened #75 "Localizations showing as key: <key> at runtime and designtime"
I have installed WPFLocalizationExtension using NuGet to my VS2013 .NET 4.5 VB application.  I added the namespace and initialization to my window definition:

[code]

I added a resx file named Strings.resx and one named Strings.en-US.resx to my project that use the `PublicResXFileCodeGenerator` custom tool.  I set them to be a public embedded resource and added a key "tools_menu" => "Tools" to bo

[2015-09-30 08:38] arcuri opened #76 "Localization with Caliburn Micro"
I'am using Caliburn Micro for developing my multilanguage application. It is compose by the main panel and several modules that are loaded runtime by the bootstrapper and placed in AvalonDock panels.

The multilanguage works perfectly in the main panel (messages are correctly retrieved based on current culture) while all the modules load correctly only the Resource Manager but are not able to load

[2015-10-31 09:27] jongleur1983 opened #78 "Enhancement idea: Localizations as a cloze (German: Lückentext)"
Once in a while I come across a UI pattern that includes controls in a sentence.
Like
"The shop is open [input1] from [input2] to [input3].",
where input1 is a control to select some days of the week, and input2 and input3 are inputs for the time of the day.

For localization it would be great if it could be handled with a localization format string like
"The shop is open {0} from {1} to {2}", whe

[2015-10-31 11:51] SeriousM commented on #78
Hi!

The reason why it looks not active is because it's pretty stable, not dead
:)

I've seen the need for such a feature over the years over and over again,
but never had a good idea to implement it so that it's really useful.

It would be awesome to soo your PR for that! If you need some help to the
api don't hesitate to ask, we'll try to answer your questions.

Cheers
Am 31.10.2015 10:27 schrie

[2015-11-04 21:13] NoFear23m commented on #75
I have the same issue as melance.
I am using VisualStudio 2015 with .NET 4.6

[2015-11-04 22:23] MrCircuit commented on #75
Have you tried the same key on a simple TextBlock in your window? If it works there, then MenuItem itself or its container - the tool menu - is the problem (refer to various discussions on that topic before). In that case, try to use the full notation at the key, like in your case: "TheRandomizerWPF:Strings:tools_menu". It should work then.

[2015-11-04 22:27] MrCircuit commented on #76
I've no experience with caliburn micro - only some smaller localized plug-in projects with MEF. Could you please provide a sample project that demonstrates your setup and the problem. I will then try to find out what's going on...

[2015-11-06 18:57] NoFear23m commented on #75
Thanks
OK, i have created a new Project and now it works. But in VS 2015 is have not Designtime support. Is it right?

[2015-11-12 13:01] DarkCloud14 opened #79 "Multiple format segments (FormatSegment1,2 etc.) not working when using ResxLocalizationProvider"
Hello,

I've tried to use FormatSegment1, FormatSegment2 and FormatSegment3 but last two do not work properly during runtime!
During Designtime it shows the translations correctly but during runtime FormatSegment2 and FormatSegment3 are empty.

This is the xaml code of my TestWindow:

<pre><code>&lt;Window x:Class=&quot;MemoryTest.TestWindowAdditionalDictionary&quot;
        xmlns=&quot;http://sch

[2015-11-12 13:54] SeriousM commented on #79
Hi, currently I have no idea why it's broken, but maybe #78 can help you out since @jongleur1983 is rebuilding it.

[2015-11-12 15:55] DarkCloud14 commented on #79
Hi,

looks like the problem only occurs if you try to use translatable text in FormatSegment1 and also in FormatSegment2, FormatSegment3 etc. the additional translation is only done for FormatSegment1 or better the first one that uses translatable text.

I've debugged a bit and maybe the problem is in XAMLMarkupExtensions not WPFLocalizationExtension.
What I found out so far is that the first time

[2015-11-12 20:52] jongleur1983 commented on #79
I didn't see lex:LocText with the FormatSegment arguments before, but it looks helpful for #78 as well.
For this issue I'm testing currently, let's see....

[2015-11-12 21:07] jongleur1983 commented on #79
tested it now, the following works for me:

        <TextBlock Text="{lex:LocText simpleText}" />
        <TextBlock Text="{lex:LocText stringWithStringParam, FormatSegment1=Peter}" />
        <TextBlock Text="{lex:LocText stringWithStringParam, FormatSegment1={lex:LocText simpleText}}" />
        <TextBlock Text="{lex:LocText twoStringParams, FormatSegment1=Peter, FormatSegment2={lex:LocText thir

[2015-11-13 06:32] DarkCloud14 commented on #79
Same here, as soon as you've multiple segments to translate only the first one gets translated at the moment.
As I said before maybe it's because of the endpoint handling in XAMLMarkupExtensions dll but I'm not sure if there is another way to get this working again.

[2015-11-13 11:49] SeriousM commented on #79
Since @MrCircuit is the maintainer of XAMLMarkupExtension I need his advice in that.

[2015-11-13 14:46] DarkCloud14 commented on #79
That's fine, I mean it's just guess that this case is not handled correctly in XAMLMarkupExtension.
I'm not an expert and can just guess what the purpose of this handling is..

Maybe it's necessary to find another solution for WPFLocalizationExtension or in both projects to fix this.

[2015-11-13 21:36] MrCircuit commented on #75
I'm working with VS2015 and it works even during design time :-o.

[2015-11-13 21:40] MrCircuit commented on #79
Hi there.
I'll have a look on that topic. Thanks for digging into it.

[2015-11-14 20:03] tempywritescode commented on #65
@MrCircuit Could you possibly elaborate on using LocTextExtension for this? I basically tried what [this person on SO](http://stackoverflow.com/questions/9520030/markupextension-converting-a-simple-property-to-dependencyproperty) tried and got the same result as him. I want to make sure I'm not missing anything obvious before I start trying to roll something of my own.

[2015-11-15 11:16] DarkCloud14 commented on #79
Hmm I'm not sure if it would be better then to override UpdateOnEndpoint in LocText and change the handling there. I mean I don't know what performance impact the change could have on other projects that may use XAMLMarkupExtension.

On the other side it may not be such a big impact as the foreach loop runs for every item in the list and doesn't break as soon as <code>args.Handled</code> is true..

[2015-11-15 19:38] arcuri commented on #76
Sorry for the delay.. This is my simple application:
https://github.com/arcuri/SimpleGiotto

[2015-11-15 20:27] SeriousM commented on #76
That's just a quick shot, but what if you're using "{lex:Loc
Shell:Italian}" instead of "{lex:Loc Italian}"?

[2015-11-16 07:08] arcuri commented on #76
The problem is not in "SimpleGiotto.dll" but the localization doesn't work in "ExplorerApp.dll". Do you have other suggestions?

[2015-11-16 13:39] SeriousM commented on #76
Same for the ExplorerApp: try use "{lex:Loc Explorer:Label}" instead of "{lex:Loc Label}"

[2015-11-16 15:57] arcuri commented on #76
Still doesn't work

[2015-11-16 16:21] SGStino opened #80 "Binding to ViewModel"
I'm receiving my keys from the viewmodel, is there a way I can localize them

{lex:BLoc Name} where Name is a property on the Datacontext object results in it trying to look up the Name key instead of the value of the Name property.

How is this supposed to be implemented, if at all possible?

[2015-11-16 16:52] UeliHilfiker commented on #76
Try to set the culture in ExplorerApp too, like:
`LocalizeDictionary.Instance.Culture = new CultureInfo("it");`
because ExplorerApp is in a separate project and it was not notified if the language was changed... (?)

[2015-11-16 19:56] SeriousM commented on #80
Sorry, but that's not possible. The only way would be to have all possible
elements (eg textbox) on the view and control the visibility of them
whatever has to be shown.

[2015-11-17 07:22] arcuri commented on #76
I have tried to notify the changes with a EventAggregator, but it doesn't s solve the problem.

[2015-11-17 07:28] SGStino commented on #80
Wouldn't it be possible with a value converter and a multibinding thrown in a markup extension?
The multibinding could bind to the viewmodel for the key, and to the dictionary for the culture. If either one changed, the valueconverter would need to run again?

[2015-11-17 12:00] SeriousM commented on #80
I guess the easiest way would be to try it out! could you post back with your results?

[2015-11-17 12:41] SeriousM commented on #76
Alright, I found the problem:

Your output the application to `bin/Debug` and the resource from ExplorerApp is located at `bin/Debug/Apps/it`. The reason why the `ExplorerApp.resources.dll` is not loaded is, that resources are searched in `bin/Debug/it` (without Apps).
Once you move the resources from your apps in the output folder's resource folders, everything works.

The solution to that:
A) yo

[2015-11-17 12:42] SeriousM commented on #76
@MrCircuit do we have a clean way to interact with the RESX provider over the extension?

[2015-11-17 12:50] #57 closed

[2015-11-17 12:52] #59 closed

[2015-11-17 12:54] #61 closed

[2015-11-17 12:54] #19 closed

[2015-11-17 13:02] SeriousM commented on #68
Closed due lost contact

[2015-11-17 13:02] #68 closed

[2015-11-17 13:03] #67 closed

[2015-11-17 13:06] SeriousM commented on #58
I know it's been a while since your post, but could help us out with a batch file that does what it needs to do? we don't have a CI server...

[2015-11-17 13:08] arcuri commented on #76
@SeriousM Great!!! Solution "B" fully works as expected!
Many many thanks for the suggestion.

[2015-11-17 13:20] SeriousM commented on #76
you're welcome!

[2015-11-17 13:20] #76 closed

[2015-11-17 13:51] #56 closed

[2015-11-17 13:52] SeriousM commented on #55
Closed due lost contact

[2015-11-17 13:52] #55 closed

[2015-11-17 13:52] #34 closed

[2015-11-17 13:55] #30 closed

[2015-11-17 13:55] #29 closed

[2015-11-17 13:56] #25 closed

[2015-11-17 14:08] SeriousM opened #81 "Code Cleanup & update to C# 6"

[2015-11-17 14:27] joelweiss commented on #80
The way I use it is, and it works.
[code]
[code]

[2015-11-17 22:39] alanwol commented on #55
Hi Bernhard,

What does it mean closed due to lost contact?

Regards,
Alan
Op 17 nov. 2015 9:52 PM schreef "Bernhard Millauer" <
notifications@github.com>:

[2015-11-18 06:32] SeriousM commented on #55
Hi Alan!
Well, I asked for a small test application but nothing happend after that, so I guess you lost interest solving the problem.
If that's not the case, please feel free to open the issue again.
Thank you :)

[2015-11-19 09:34] arcuri opened #82 "GridViewColumn not localized"
Hi,
I have a problem with a localization. When I change the language, the Headers of GridViewColumns aren't localized. Infact appears "key:MyKeyword" etc.

[code]

Do you have any suggestions?

[2015-11-19 09:58] UeliHilfiker commented on #82
Did you try with extented or full notation, like:
`<GridViewColumn Header="{lex:LocText RessourceName:HighTheshold}" Width="75"/>`
or full notation
`<GridViewColumn Header="{lex:LocText AssemblyName:RessourceName:HighTheshold}" Width="75"/>`

[2015-11-19 15:28] vslynko commented on #80
@joelweiss your solution will not refresh values when key stays the same, but Culture changes. + in your implementation key variable is not declared.

Alternatively, one can derive from MultiBinding and in c'tor add programatically binding to LocalizeDictionary.Instance.Culture, and specify MultiValueConverter, that would do about what joelweiss suggestion does.

[2015-11-20 07:16] arcuri commented on #82
Thank you!

[2015-11-20 10:10] #82 closed

[2015-11-22 12:31] SGStino commented on #80
It's on my work pc, but from the top of my head, it should boil down to something like this:

[code]
[code]

[2015-11-22 21:42] DarkCloud14 commented on #79
Looks like nobody else has an objection so why not.
Thanks!

[2015-11-24 09:13] SeriousM commented on #79
Please link your changesets here for reference. Thank you :+1:

[2015-11-24 20:50] MrCircuit commented on #79
hey cool, that worked :-)

[2015-11-24 21:57] jongleur1983 commented on #79
if that works, this issue could be closed, right? (I can't do that)

[2015-11-25 13:04] DarkCloud14 commented on #79
I think we can close this as soon as the XAMLMarkupExtensions dll are updated as for now it is just fixed in that project. @MrCircuit do you normally update those dlls or should I do that?

[2015-11-25 13:41] SGStino commented on #80
Any idea how I reduce this to something like {lex:MBLoc KeyProperty} ?

[2015-11-25 14:12] MrCircuit commented on #79
The new DLLs are already available at Nuget.

[2015-11-25 14:12] #79 closed

[2015-11-25 14:14] MrCircuit commented on #80
I'll see, what I can do...

[2015-11-25 20:47] DarkCloud14 commented on #79
Oh ok didn't see that, thought that the dlls in packages directory of WPFLocalizationExtension project here on GitHub will also be updated.

But anyway thanks for fixing it!

[2015-11-26 21:33] MrCircuit commented on #79
OK, understood. I just updated the XAMLMarkupExtensions nuget package. But you can update this one via nuget without the need of updating the loc extension package.

[2015-11-27 12:38] vslynko commented on #80
Along this lines. Now you can have
[code]
Following is a code snippet.
Briefly we inherit from MultiBinding and add programmatically binding to Culture at Bindings[0]. Bindings[1] will always be binding to Key. Converter assumes this order.

[code]

[2015-12-01 06:54] jongleur1983 commented on #78
working on it right now I would ask for some more ideas, what should be supported by a feature like this.

I propose something like the following xaml code for usage:

[code]

Applied this would render to something like this (where all children of the outer TextBlock would of course be the result of the bound FormatString and Gaps):

[code]
Where City binds to OpenDayItem.City and so on.

I would

[2015-12-01 07:30] SeriousM commented on #78
As you write it here, the FormatString should be localizable, right?
How do you like to handle missing elements (2 placeholders in text but 1
gap text provided) or duplicate elements (eg twice {0} in the string)?
Cloze is also new to me a d I never heard of it till now. What about
loc:segment(ed) with segment(ed).part?
Am 01.12.2015 07:54 schrieb "jongleur1983" <notifications@github.com>:

[2015-12-01 22:17] jongleur1983 commented on #78
I would not handle missing elements at all. If that happens, the corresponding element is not included in the visual tree afterwards, but that's straight in line with how localization with text placeholders work.

In fact, for usual pure-text localization a localized string value that lacks any of the placeholders is a usage error as well - with one single exception: if the same fact is encoded in

[2015-12-02 06:54] SeriousM commented on #78
Well, that's true, but as a developer, or have to consider that the user of
the software will make mistakes and you need a way to tell him/her that.
That's the reason why we show the localization key instead of N empty
string for not-found elements.
Anyway, I guess you want to support binding to the segments, right? How do
you want to handle language switching (a control needs to be repositioned
b

[2015-12-02 08:41] jongleur1983 commented on #78
Regarding the fallback to display the localization key: agree - but if there is a localization key up to know where two parameters are provided in the loc-binding, but only one occurs in the localization string, there's nothing to indicate that yet, right? so a ```{lex:LocText MyKey FormatSegment1={Binding SomeStringProperty} FormatSegment2={Binding SomeIntProperty} FormatSegment3={Binding SomeDat

[2015-12-04 15:40] GeroIwan commented on #78
Is this really a WPFLocalizationExtension issue? The Cloze control itself is independent from localization. Only its FormatString property would have to get its value via WPFLocalizationExtension. But providing localized property values is usual business.

[2015-12-05 08:13] jongleur1983 commented on #78
@GeroIwan Is that use case "usual business"? I would be happy if you could share your knowledge on how you would solve the issue.
Can you give an example how you do that as usual business?

Such an example should be able to
* include two or more placeholders that are not displayed as text
* include the possibility to switch their order depending on the locale

As an example, when locale 1 displays

[2015-12-07 11:58] GeroIwan commented on #78
@jongleur1983 What I wanted to say is:
* It is _usual localization business_ to have a resource key whose value in locale1 is `"lorem {0} ipsum {1} dolor"`, in locale2 is `"sit {0} {1} amet"`, and in locale3 is `"{1} consectetur {0}"`, and to provide the value to a string property of some control (e.g. a FormatString property).
* The other part of the issue is having a control (say, `Cloze`) that

[2015-12-07 18:40] jongleur1983 commented on #78
@GeroIwan
Agree up to your conclusion.
When you look into the source code of the project there are two controls already.
Maybe those are seldom in use, I discovered them when I investigated if it's useful to have this included in WPFLocalizationExtension or not (the same question you raise here).

These are at least:

* EnumRun is a Run derivate that binds to an Enum value, see  https://github.com

[2015-12-07 21:20] SeriousM commented on #78
I would welcome such a control as long as it offers a range of features
instead just cover a single case ;)

[2015-12-07 21:47] jongleur1983 commented on #78
I'm working on it.
May take a while though. Feel free to provide necessary or nice-to-have features.

[2015-12-07 22:38] ZlobnyiSerg opened #83 "Translations for bindings"
Sorry guys I'm asking here. I need to translate bound value, for example:
[code]
But this won't working - all values are empty (when other translathions with Loc extension are ok). How does it supposed to do with your library?

[2015-12-07 22:52] SeriousM commented on #78
Just keep us informed and we can give you our thoughts to it.

[2015-12-08 08:01] SeriousM commented on #83
Due the nature of datatemplate it's impossible to determine the correct
assembly and dictionary.
Please use the full notation like {lex:BLoc Assembly:Dictionary:Name}

[2015-12-08 11:05] GeroIwan commented on #78
@jongleur1983  Just as addendum:
* EnumRun is really a _localization control_: It uses the bound Enum value to compute the key for a private LocExtension member that in turn is "bound"(assigned/provided) to the Text property of the underlying Run.
* EnumComboBox in fact does not involve localization, and hence is a helper that could be moved to a different project. In the context of localization,

[2015-12-08 12:11] SeriousM commented on #78
The controls are includes by @MrCircuit and I don't know anything about
them, but your guess sounds good!

[2015-12-08 21:32] jongleur1983 commented on #78
First Update, although I didn't upload anything yet.
Sketch of the actual approach:

- Custom Control (planned to support templates). Currently the outermost control is a TextBlock as I want to support the inline-elements variant first (where text can wrap anywhere like it's done in a TextBlock).
- A Property with name `FormatString` takes a formatString, this will usually be used together with th

[2015-12-14 22:19] jongleur1983 commented on #78
update: I don't get the default template for the control to work properly, but with a custom template it seems to work. Some cleanup is missing yet and some more tests to apply, but I'm on a good way, I think. Hope to be able to commit something for review before christmas at least.

[2015-12-21 09:49] papuashu opened #84 "v2.3.2 NuGet package install on Silverlight error"
I tried to upgrade to v 2.3.2 an older solution with several Silverlight projects and got error:

Could not install package 'WpfLocalizeExtension 2.3.2'. You are trying to install this package into a project that targets 'Silverlight,Version=v5.0', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the pa

[2015-12-21 11:51] vovakh opened #85 "Error: After a 'SetterBase' is in use (sealed), it cannot be modified."
When I set Culture in runtime I get exception:
"After a 'SetterBase' is in use (sealed), it cannot be modified."

There is no such error if I set Culture in Application_Startup.

[2015-12-22 23:36] jongleur1983 commented on #78
feel free to take a look into the commit on my branch https://github.com/jongleur1983/WPFLocalizationExtension/tree/feature/GapText - it contains a small demo project WPFLocalizationExtensionDemoApplication which I would like to extend to a general demo project for the whole WPFLocalization. Up to know it contains demos for the GapTextControl.

Currently the limitations I would see as "bugs" are:

[2015-12-23 09:33] SeriousM commented on #78
Thank you very much for the work! I'll have a look next year because it's
family time.
Frohe Weihnachten und nen guten Rutsch!

[2016-01-08 18:55] melance commented on #75
Sorry it's taken me so long to reply.  I've been very busy with other things.  I tried what you mentioned and created a TextBlock with the following tag:

    <TextBlock Text="{lex:Loc Key=TheRandomizerWPF:Strings:tagslabel}" Foreground="{DynamicResource IdealForegroundColorBrush}" FontWeight="Bold" />

I also tried with {lex:Loc Key=tagslabel} which also didn't work.  Presently the textblock disp

[2016-01-15 11:53] bisato opened #86 "Wrong unsubscribe from event"
Hello,

can it be, that the Setter in Property "DefaultProvider" in https://github.com/SeriousM/WPFLocalizationExtension/blob/f8fce632fe897a17109dffd7de57479aa347dd3b/WPFLocalizeExtension/Engine/LocalizeDictionary.cs does a wrong unsubscribe?

Line 794: defaultProvider.ValueChanged += new ValueChangedEventHandler(ValueChanged);
should be: defaultProvider.ValueChanged -= new ValueChangedEventHandle

[2016-01-18 09:00] #86 closed

[2016-01-18 09:00] SeriousM commented on #86
Hi Tobias, you're absolutely right! Thank you!

[2016-01-25 12:17] Magaye opened #87 "Binding to string variable"
Is the a way to bind a string variable to  the current culture so that if the culture changes the string variable also changes automatically ?
thank you.

[2016-01-25 12:24] SeriousM commented on #87
So you want to have a "value representing the current culture" provided by the localization?
Well, that value is not provided by the extension, but you can achieve that behavior with your own implementation.

pseudocode:
[code]

[2016-01-25 12:29] Magaye commented on #87
not exactly , suppose i have a string in the on Resource.en.resx file with the same key as another string in Resource.fr.resx and i create  a string variable in c# i want it to contain the satring stored in Resource.en.resx and if the culture changes i want that string to change to the one with same key but in Resource.fr.resx .

[2016-01-25 12:54] Magaye commented on #87
i am not sure if what i said is clear

[2016-01-25 13:33] SeriousM commented on #87
Well, you *can* bind to poco objects, not only to wpf objects.

here is a little example I quickly put together to demonstrate it:
it contains also an implementation for a custom resource provider.

[code]

output:
[code]

[2016-01-29 20:52] godfetish opened #88 "Cannot use "lex:LocXXXX KEYNAME" without Key="
I had to pull an old release of our HMI to make some custom modifications, I am using VS2015 (instead of VS2013 like the original developer) and I got the project to compile just fine in December.  I did not go into testing or even opening a Design window, though I did look at some classes to see where I needed to add some PLC tags - the test was to compile an installer and see no errors and it pa

[2016-02-10 16:38] SeriousM opened #89 "Publish new version with XAMLMarkupExtensions v1.2.1.4"
Reference: https://github.com/MrCircuit/XAMLMarkupExtensions/issues/8

[2016-02-10 16:39] SeriousM commented on #89
@MrCircuit, please publish it. I still can't build the package because of the damn WP7 project :angry:. Thank you!

[2016-02-14 14:40] MrCircuit commented on #85
You presumably used the loc extension in a Style Setter. This usage is limited due to the IsSealed property that is set after the Setter was created by the UI (by design of the WPF framework).

[2016-02-14 14:40] #85 closed

[2016-02-14 14:44] MrCircuit commented on #84
I found out, that in this particular package, the sl50 subtree is not located in the lib tree. This was not intended - the package must have been changed to this behaviour during upload. When I recreate the package using the nuspec template, everything is OK.

Strange.

I will double-check this issue at the next pending update.

[2016-02-14 14:50] MrCircuit commented on #75
@SeriousM  If I remember correctly, we once had some issues with VB.NET projects due to their nature of assembly and/or namespace naming. Is this correct and if yes, what was the result?

[2016-02-14 15:28] MrCircuit commented on #65
refs #78

[2016-02-14 15:28] #65 closed

[2016-02-15 22:38] MrCircuit commented on #78
Hi there,

thanks for your input. It looks promising but I encountered an issue that will definitely restrict the usage: Due to the WPF concept of single-parent-relationship (a child can not have many parents) a format string like this will not work with the current approach: "The shop in {0} is great. We need more of its kind in {0}." (OK, this text sounds weird - but think of the issue in genera

[2016-02-16 13:27] jongleur1983 commented on #78
Thanks for the feedback.
I agree that the case you mentioned has to be handled.

The following code throws an error as well and is independent of how my extension works. I guess (without having tested it) it would throw an exception when used with the current WPFLocalizationExtension as well:

[code]

This throws a System.FormatException: Format specifier was invalid.

It's a runtime exception and

[2016-02-16 21:52] MrCircuit commented on #78
I found a solution to this issue. I introduced a simple deep copy method using XamlWriter/Reader and Binding expression copy. It works but I would be glad if you could double check this.

We should think about:
* Make it faster - we could at least store the XAML string of each object of the gap collection thus reducing the XamlWriter effort
* Memory leaks - is it safe to replace already cloned obj

[2016-02-16 23:11] jongleur1983 commented on #78
My major concern against that solution proposal is that a pure copy might not be enough.

Let's take an element that has an ```x:Name``` and is referred to by this name from somewhere else.
If I'm not mistaken this is possible even when the element is not necessarily part of the visual tree, so we can have those references to FrameworkElements that are items.

In this case we would with your propo

[2016-02-16 23:39] MrCircuit commented on #78
The values of the Name and x:Name fields seem to have no impact on the runtime. Nevertheless I understand your point - there could be rare cases where these fields are needed. Appart from this, event registrations also fail to copy (a proper MVVM design may also get along without them).

In my opinion I would still stick to the current solution.

Another possible approach: Rather than building a d

[2016-02-18 19:45] jongleur1983 commented on #78
@MrCircuit using the current version where you implemented the deepCopy variant doesn't work for me.
Starting the DemoApplication I get a XamlParseException at the XamlReader.Load() command in DeepCopy.
Just starting the WPFLocalizationExtensionDemoApplication is enough to throw the exception.

Exception details:

I don't know what's wrong there, but it seem's not to be a valid solution so far ;)

[2016-02-20 22:54] jongleur1983 commented on #78
I have to admi that the exception I posted above occurs in a different test project I started a few weeks ago but didn't publish (yet). Investigating the problem furhter currently.

[2016-02-21 14:42] jongleur1983 commented on #78
still no idea why that fails, but tried a little bit more, compare this commit on my forks branch: https://github.com/jongleur1983/WPFLocalizationExtension/commit/ab110bff17eee7b4e6c9c93e4ed0ed8495838496

In Line 42 of GapTextWpfExample.xaml the EnumComboBox is commented out and replaced by an ordinary ComboBox for now. Using the EnumComboBox instead leads to the error posted above. The EnumComboB

[2016-02-21 22:51] MrCircuit commented on #78
Found a solution to it by fixing the serialization behaviour of the EnumComboBox...

[2016-02-21 22:57] jongleur1983 commented on #78
nice, thanks.
Only had a quick glance at what you do there; but it raises the question if the solution is stable.
What's the (general) requirement for the solution to work?
Correct serialization behaviour?

If we need a hack for the EnumComboBox, how much special treatment is required for arbitrary controls?

[2016-02-22 08:16] MrCircuit commented on #78
You are absolutely right - the solution fixes the EnumComboBox (btw: it does not cover inline item templates with binding...) and others might need adopted hacks too. I suggest to introduce an attached property for GapTextControl that lets the user decide if the particular control should copy or not.

[2016-02-24 21:17] gen3ric opened #91 "Forcing binding updates"
I have a unique implementation using a custom JSON provider, where my JSON is downloaded and loaded into a dictionary throughout the application lifecycle. How can I go about letting my `LocBinding`s know that they need to requery?

[2016-02-25 06:53] SeriousM commented on #91
You mean you got new localizations and you want to update the bindings?
Am 24.02.2016 22:17 schrieb "Eric Rodewald" <notifications@github.com>:

[2016-02-25 13:24] gen3ric commented on #91
Yes, that's correct.

[2016-02-25 18:06] SeriousM commented on #91
I guess you implemented ILocalizationProvider, right?
you can rise [ProviderChanged](https://github.com/SeriousM/WPFLocalizationExtension/blob/master/WPFLocalizeExtension/Providers/ILocalizationProvider.cs#L62) to force an update.
Can you verify please?

[2016-02-26 01:10] gen3ric commented on #75
I recently ran into this problem. For me, it was because I upgraded from ~2.1.2 to the latest NuGet package and had previously been using the `Loc` markup extension (e.g., `Text="{localize:Loc key.path}"`) but it was fixed when I switched to using `BLoc`. YMMV.

[2016-02-26 01:15] gen3ric commented on #91
@SeriousM Thanks for your response. I realized I was woefully out of date (2.1.2?) because NuGet did not think there was a newer package available. I removed and reinstalled the nupkg and updated my `ILocalizationProvider`. I better understand how it works now, and am correctly using `BLoc` instead of `Loc` in XAML, but it still won't quite sink in for me how I could notify the bindings to update

[2016-02-26 02:05] #91 closed

[2016-02-26 07:57] SeriousM commented on #91
@MrCircuit could you help us out?
Am 26.02.2016 03:05 schrieb "Eric Rodewald" <notifications@github.com>:

[2016-02-28 09:51] MrCircuit commented on #91
Sorry, but I'm confused. `OnProviderChanged(DependencyObject obj)` is a custom implementation of the ResxLocalizationProviderBase class and is not defined in the interface. Did you use this class as parent for your implementation?

Nevertheless, what's behind the curtain is, that this 'DependencyObject' is later needed for the event arguments of the 'ProviderChanged' event. This in turn will be re

[2016-03-01 13:57] antibarbie commented on #89
BTW could you, like XAMLMarkupExtensions, publish the nuget for both .net3.5 and .NET4.0 ?

[2016-03-01 14:19] MrCircuit commented on #89
Yes - it'll be published soon.

[2016-03-09 10:48] SecretOssi opened #92 "Gaps Release and DefaultValue in XAML"
Hello,

I just found this nice Project and use it for my current work.
I already found out about the Gaps (#78), but as i understood it they're not ready by now? I compiled the Version here from git but it always returns back to the demo assembly and strings ressource (seen while debugging). This will take a few time till release?

Another thing which would be great is the possibility to set a def

[2016-03-10 00:00] jongleur1983 commented on #92
Hi,
the GapTextControl you referred to by issue #78 was my idea and I started the implementation.
There is something that could be approved there; e.g. more tests. I didn't try extensive styling, templating and so on yet and much more.

But in general the control should work, and I don't understand what you expected by just compiling it. The demo assembly isn't touched yet, that's true, but the fa

[2016-03-14 11:15] zapacila89 opened #93 "DefaultAssembly/Dictionary magic strings"
Hello All,

I was thinking of a small improvement in terms of using magic strings when specifying the DefaultAssembly and DefaultDictionary.
Why not define another dependency property of type "Type" and pass {x:Type MyAssembly.Resource.Language}. The Language type is the class generated by Visual Studio.

This would be an improvement for the following:
1. No magic strings
2. Faster ResourceManager

[2016-03-16 11:58] xperiandri opened #94 "Missing packages.config files for all projects in WPFLocalizeExtension - Demo.sln"
In all the projects of `WPFLocalizeExtension - Demo.sln` solution `packages.config` files are missing

[2016-03-16 13:10] nzain opened #95 "Localized KeyGesture"
I'm looking into ways to localize a tooltip **and** KeyGesture (think of a button with keyboard shortcut), with the desired result

- [en] `This button does something (ctrl + H)`
- [de] `Macht irgendwas (strg + H)`

Note that the modifiers are localized, too. I know this is related to the every-once-and-then-raised question for localized texts with bindings (now gap text may offer a solution), but

[2016-03-16 14:59] nzain commented on #95
Ok, it seems the function `KeyGesture.GetDisplayStringForCulture` does not, what I expected. On my system it always returns `"ctrl"` regardless of the culture argument. Kind of useless (?). I iterated over all available cultures using `CultureInfo.GetCultures()`... result is invariant.

Anyways, I've put together a UserControl (single TextBlock only) that takes a (localization dictionary) key and

[2016-04-01 14:13] steA opened #96 "Error 4 when using WPFLocalizationExtension inside a style"
Hi all,

I have a similar problem as the one described in this thread https://github.com/SeriousM/WPFLocalizationExtension/issues/55
I have uploaded an example project here https://github.com/steA/LocExtensionTest

Basically I am getting the following error:

`System.Windows.Data Error: 4 : Cannot find source for binding with reference 'RelativeSource FindAncestor, AncestorType='System.Windows.Fra

[2016-04-15 10:01] XCasual opened #97 "Huge Memory Leak by ToolTips Object : With Fix Proposal"
We have localized a huge memory leak in WPFLocalizeExtension.Provider by ParentChangedNotifiedHelper class.

The Function GetValueOrRegisterParentNotifier should be extended with

if (depObj is System.Windows.Controls.ToolTip)
	break;

At Line 63-66, after this it works fine. At this moment we have like 5 Mb memory leak each time we switch the page. So it would be great if it would be fixed very s

[2016-04-15 11:15] SeriousM commented on #97
Thank you for submitting the bug. I just created the fix, but @MrCircuit has to review it because I don't use WPF anymore.
Would you be kind and provide a working example where the memory leak can be observed / tested against after the fix is applied?

[2016-04-15 14:30] XCasual commented on #97
![tooltip-memoryleak](https://cloud.githubusercontent.com/assets/11887533/14564484/010c6436-0327-11e6-80bb-2259b8f69b87.png)
I can make a test after but I can't attach the App. We have a Delta von unter +10MB with the fix and more than +40MB after 130 interaction with current script. The Tooltips are saved as an Referenz in ResxLocalizationProvider and ParentChangedNotifier.OnParentChangedList hol

[2016-04-15 15:14] SeriousM commented on #97
Yes, I guess WPF does not cache the tooltips but create a new one every time, is that true?
at least it would explain the behavior.

we need to wait for @MrCircuit for the deployment :(

[2016-04-19 14:07] jstevenson72 commented on #75
I too am having a similar issue.  Although it only seems to fail at Design Time.

![image](https://cloud.githubusercontent.com/assets/1573442/14641798/912fa904-060d-11e6-8174-1147de8f2087.png)

![image](https://cloud.githubusercontent.com/assets/1573442/14641864/cb583ac4-060d-11e6-9764-e02bf9d0c108.png)

I tried switching from Loc to BLoc but it only made the key name disappear at Design Time. Alt

[2016-04-19 14:15] torpederos commented on #75
Hi, maybe you should try to restart designer. You can configure this process as external tool like this:
![image](https://cloud.githubusercontent.com/assets/4268593/14642213/e919f098-0649-11e6-914d-bcc6e0c1337a.png)

[2016-04-19 14:30] jstevenson72 commented on #75
That is a great tip, however I have had this problem since yesterday, across multiple reboots, and restarts of VS.

Interestingly the problem partially goes away when using Blend instead of VS Designer.  Some fields are working at DesignTime while others are no longer working.

VS Designer:
![image](https://cloud.githubusercontent.com/assets/1573442/14642757/54c7b0ac-0611-11e6-8e24-55e12359748d.pn

[2016-04-19 14:36] jstevenson72 commented on #75
OK.  After killing all XDesProc.exe processes I am now getting a uniform behavior between both Blend and VS Designer.  But there are still a few items that show keys rather than the default translations.

[2016-04-20 07:08] MrCircuit commented on #97
Sorry - I was under heavy load the last weeks. I scheduled myself to work on this topic at latest this weekend. If not done, please remind me.

[2016-04-20 21:53] TheSentry opened #99 "Autocomplete/Intellisense for Keys"
Hi!

This is my first time developing a C# app in Visual Studio and I want to do it right, so I'm localizing it. Problem is, autocomplete (intellisense) won't work for the WPF Localization Extension.

For example, when I have this code

        <MenuItem Header="{lex:Loc MenuFile}">
and my key/value pairs in my Resources.resx file, instead of "MenuFile", it only suggests
* Converter
* ConverterPar

[2016-04-21 07:12] SeriousM commented on #99
Hi!

Visual studio or blend does not know what to offer because it does not know how the extension actually works.
Intellisense was one of my points to implement, but since we have the ability to use different localization sources (csv, database, etc) it's kinda impossible to offer keys from an dynamic source. In addition to this, the data source is usually known during the execution in designtime

[2016-04-21 07:12] #99 closed

[2016-04-21 09:03] TheSentry commented on #99
That's a shame. But how impossible is impossible? Is it really impossible?

As I said, I'm new to C# and Visual Studio, but I've found this [stackoverflow answer](http://stackoverflow.com/a/10527253) that says it might be possible. I could give it a try, but I wouldn't get my hope up if I where you (or anyone else).

Thanks for the very fast response, btw!

[2016-04-21 11:02] UeliHilfiker commented on #99
I'm using the **[Automatic key retrieval](Automatic key retrieval)** - feature, so autocomplete is not needed. ;-)

[2016-04-24 08:51] #97 closed

[2016-04-24 19:20] SeriousM commented on #99
Well, yes it is.
There are several problems:
- the source of the available keys is dynamic (defined on the binding and/or on the parent element up to the window during runtime and/or by code on startup)
- there is no way to cache loaded keys in case of a hard-to-call resource (eg. database, webservice)
- the loading of the localize extension dll is non-deterministic because VS as well as Blend don

[2016-04-24 19:36] TheSentry commented on #99
Ok, thank you all for the input. It helped me to get a better picture of the situation.

Well, this just turns the problem on its head, because now I'd like autocomplete to make sure the key I write in the resx file is the same as I named the element.

[2016-04-24 20:51] MrCircuit commented on #96
These errors are sometimes hard to find. I suggest to view this blog on how to debug such messages:

https://spin.atomicobject.com/2013/12/11/wpf-data-binding-debug/

Nevertheless, in your particular example, the problem is as follows (as far as I understood): The WPF Binding engine starts after app start and handles our internal Binding to the Parent property of a FrameworkElement. But the bindin

[2016-04-24 20:51] #96 closed

[2016-04-24 21:21] MrCircuit commented on #95
Thanks for the investigations - I did not believe it but I also got the same string for all cultures for KeyGesture.GetDisplayStringForCulture. This is really weird.

In general - if the function would have worked - one could think of a callback functionality (e.g. an assignable Func<string, CultureInfo>), that could be overwritten by particular implementations, e.g. by deriving from the LocExtens

[2016-04-24 21:21] #95 closed

[2016-04-24 21:38] MrCircuit commented on #94
I'm sorry, but the projects in this solution are very old and most of them fail to load in my current VS2015 :-(. Maybe we should think about removing them or should we keep it as a reference to our YouTube video @SeriousM ?

[2016-04-24 21:42] MrCircuit commented on #93
I think I can imagine the point of your approach, but still have some issues in mind (especially Design-Time support). Could you create an example of your proposal?

[2016-04-24 22:00] MrCircuit commented on #92
Hi,

Thank you @jongleur1983  for the comprehensive answer.

By now the Gap control is still under developement and needs to be tested.

Regarding the Key: keyname issue: We only have an attached property named: LocalizeDictionary.OutputMissingKeys (default: true). This can mute the output of these errors.

Regarding the Culture/resx issue: this behaviour was not intended. If you need it temporari

[2016-04-24 22:00] #92 closed

[2016-04-24 22:04] MrCircuit commented on #88
Sorry for the late answer. I cannot reproduce the behaviour. Did you find a hint on the cause of this issue? Or can I close the Issue?

[2016-04-24 22:05] #87 closed

[2016-04-24 22:06] #83 closed

[2016-04-24 22:10] #58 closed

[2016-04-24 22:20] MrCircuit commented on #84
I've got a problem now: SL projects are not loadable any more at my dev PC (some updated must have removed a critical part). How should we proceed?

@SeriousM I think I know your opinion :-)...

[2016-04-24 22:29] MrCircuit commented on #71
Still an issue? If yes, do you have an example?

[2016-04-24 22:31] #80 closed

[2016-04-24 23:12] godfetish commented on #88
Seems to be ReSharper issue, but affects only this extension in this way. I
only noticed when I disabled ReSharper to debug a different problem with my
XAML references

John

Sorry for the late answer. I cannot reproduce the behaviour. Did you find a
hint on the cause of this issue? Or can I close the Issue?

—
You are receiving this because you authored the thread.
Reply to this email directly or

[2016-04-25 07:24] nzain opened #100 "Localization via Custom Func"
In #95 @MrCircuit posted a great idea:

Indeed, this would allow "cleaner" implementations for some things, that don't work out of the box. I would definitely use it to solve #95 cleaner than currently and investigate my other workarounds for applicability!

[2016-04-25 17:00] #88 closed

[2016-04-29 08:39] steA commented on #96
Thank you!

[2016-05-04 20:43] jstevenson72 opened #102 "Support fo Design-Time Intellisense of String Resource file."
I wondering if there is a way to reference your strings from the Resource file at Design Time in the xaml UI Designer?

For instance, in the following code:

![image](https://cloud.githubusercontent.com/assets/1573442/15028401/5bbeb1cc-120e-11e6-88db-557246d5b8d6.png)

So I would like to be able to start typing something like **Strings.Button** and have it respond siimilar to how it does in Code B

[2016-05-04 21:18] #84 closed

[2016-05-04 21:44] #54 closed

[2016-05-04 21:45] MrCircuit commented on #71
If it is still an issue, please open a new ticket with an example

[2016-05-04 21:45] #71 closed

[2016-05-04 21:46] #94 closed

[2016-05-05 10:00] MrCircuit commented on #100
### Discussion
What functionality do we need of this func and how should it be used?
****
I could imagine that this function wraps around the default functionality of the localization extension. This way, the basic text gets localized properly and the function can replace parts of it or overwrite it completely. This gives us two approaches:

1. Derive from LocExtension itself and hook into **Forma

[2016-05-05 10:05] MrCircuit commented on #102
The only way is to write an own VS IntelliSense provider. One example can be found here:

* http://blog.robertgreyling.com/2010/05/sparksense-getting-started-wheres.html

With its code here:

* https://github.com/SparkViewEngine/SparkSense

[2016-05-05 12:07] jstevenson72 commented on #102
I don't think that would work because the localization extension doesn't reference the strings resource dictionary statically, does it?  It seems that some code would still need to change in this extension to be able to reference the strings like Inam trying...

[2016-05-05 13:45] SeriousM commented on #100
Which of them can be used during design time? Design time is very important
aspect imho.
Am 05.05.2016 12:00 schrieb "Uwe Mayer" <notifications@github.com>:

[2016-05-06 06:22] nzain commented on #100
Design Time is relevant for projects where localization happens within that same project. Personally, I'm not in this lucky position - global localization resources are shipped with the app (exe project) while 95% of the UI lives in separated module projects, where that resources are not available (no, I can't change this, unfortunately). So my design time always shows the "Missing Key: foo" thing

[2016-05-11 12:50] beachwalker opened #103 "How to remove "key:"?"
Hi guys,

I want to remove the output of "key:" in front of not translated (or not found) keys for the Release build.
I can't see easy extension point to achieve this. Any ideas/hints?

Thanks in advance,
Thomas

[2016-05-15 12:20] lablabla opened #104 "Localization not refreshing until UserControl is changed"
I have a UserControl of a settings screen. It's injected to the window using ContentControl and DataTemplate.

The UserControl has a ComboBox as in the examples with

[code]

I can see all the languages in the combo box but when I change the selected item nothing happens.
If I navigate back, the previous screen will have the strings in the correct language.

Is there a way to update the UI immedia

[2016-07-27 13:32] keke8273 opened #105 "Set LocalizeDictionary.Instance.Culture freezes the application"
My main UI thread spawns a new STA thread to display a splash screen on startup. Some of the texts displayed in the splash screen need to be localized.

When I try to set the LocalizeDictionary.Instance.Culture it hangs the thread indefinitely.

If I dont set the culture, the TextBlocks pick up the Netural text from resx file perfectly.

version = 2.3.2

[code]

[2016-08-12 11:31] mandawah opened #106 "Strong signing nuget packages"
Thanks for this wonderful lib.
Could you consider strong-signing nuget packages?
I need to use it from a strong-signed assembly, and as you know it doesn't work since yours is not signed. Thanks

[2016-08-12 11:38] torpederos commented on #106
Hi,
you can use [Strong Name Signer](https://github.com/brutaldev/StrongNameSigner) to do it by your self

[2016-08-12 12:42] mandawah commented on #106
Hi,
Yes indeed, thanks. I just thought it would be easier if you signed them.
Regards.

[2016-08-12 12:42] #106 closed

[2016-08-12 12:45] SeriousM commented on #106
Thank you for the hint!

[2016-08-19 11:34] TheNetStriker opened #107 "Localizing StringFormat throws "Binding cannot be changed after it has been used." exception"
I'am trying to localize the StringFormat in a TextBlock:
`
<TextBlock Text="{Binding StringFormat={lex:Loc TextBlock_StringFormat}}"
`
This works very good until I try to change the localisation by setting LocalizeDictionary.Instance.Culture. Then the following exception is thrown:

System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.I

[2016-08-19 13:08] SeriousM commented on #107
Honestly I have too few information from you.
Could you please try to isolate the issue into a small example project so we can check the issue?
Thank you

[2016-08-19 15:32] TheNetStriker commented on #107
I've created a small demo application and uploaded it to my Google Drive: https://drive.google.com/open?id=0B130Kflx3WntU1Q1OGlHTFZfNEU

What I'm trying to do is set a localized string in the StringFormat Property inside a Binding.

[2016-09-05 06:36] uldisv opened #108 "Suggestion: Migration to .NET 4.x"
Hi.
It would be nice if project could be migrated to full .NET 4.x. This would let get rid of accessing additional 2.0 framework.
I'm converting it by hand everytime I download a new version. Haven't had any problems with 4.x so far.

Uldis

[2016-09-05 08:11] SeriousM commented on #108
Hi Uldis,

I don't know why you want to convert the solution to .net 4+ because as dot.net works, it's backward compatible by design.
Do you have any issues you want to avoid?

[2016-09-05 09:42] gpomykala opened #109 "unable to set default assembly / dictionary / culture on resourcedictionary"
Hello,

I am trying to incorporate localization extensions into existing project and I have realized that culture / assembly / dictionary setting can be only set on a Dependency object which means they cannot be set on a ResourceDictionary which stores shared templates.

Is there any known workaround for such scenario to avoid using fully classified resource names within ResourceDictionary?

[2016-09-05 10:04] gpomykala opened #110 "no code signed package available on NuGet"
Hello,
Would you consider publishing code signed package on NuGet?

[2016-09-05 16:05] SeriousM commented on #110
Hi gpomykala, No.

But you can add the package https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/ to your dependencies and it will sign your assemblies during build time for free.
Or you can simply use https://github.com/brutaldev/StrongNameSigner/releases and sign it yourself.

Cheers

[2016-09-05 16:05] #110 closed

[2016-09-06 08:29] gpomykala commented on #110
Well, CodeSigner comes at a cost of signing all the packages before project build which is not sustainable in a bigger solution. thanks for your feedback anyway.

Cheers

[2016-09-06 10:22] SeriousM commented on #110
We sign our third party packages ourselves and run an own nuget server for
just that purpose.
Nuget.org does have a free server for that.

Am 06.09.2016 10:29 schrieb "gpomykala" <notifications@github.com>:

[2016-09-08 08:50] SeriousM commented on #109
Hi! Because the ResourceDictionary don't have a link to the visual root it's impossible to set the default assembly in xaml. however, you can set it code behind.
did that work for you?

[2016-09-08 08:53] gpomykala commented on #109
Yes, that worked. Thanks!

[2016-09-08 08:53] #109 closed

[2016-09-14 16:38] jongleur1983 commented on #107
Hi.
Stumbled over the same issue in the last days (and it's damn hard to debug if you don't know where it could crash.
I'm going to reproduce it today, but I'm not yet sure it's a WPFLocalizationExtension-only issue. It might be an issue with any bindings in triggers in styles in WPF affected by Culture changes.

Going to investigate it today.
A quick look into the demo of @TheNetStriker shows som

[2016-09-14 20:05] jongleur1983 commented on #107
in fact the issue seems to be a duplicate of #85 (as @SeriousM said there)

[2016-10-07 23:58] Nethemas opened #111 "ParentChangedNotifierHelper memory leak"
I have encountered an issue that seems to be related to  #62 #63.  There appears to be a
`Dictionary<WeakReference, Generic.List<Action>>` that is building up a continually growing collection.

![parentchangednotifier-leak](https://cloud.githubusercontent.com/assets/22692536/19208321/60ee2ef4-8cbe-11e6-9b83-9e7e3eeb2e5e.png)
![weakreferences-leak](https://cloud.githubusercontent.com/assets/2269253

[2016-11-01 02:36] superware opened #112 "EnumRun missing from the NuGet package"
EnumRun seems to be missing (!) from the NuGet package build, is this possible?

[2016-11-30 09:01] superware commented on #112
Hi @SeriousM and @MrCircuit, any plans for a new release?

[2017-01-05 08:47] SchwabenProgger commented on #85
So far I like this project well. Just the documentation and samples are very short.
For anyone who ends up having the same error:

If you want to localize within a style/trigger, do **NOT** use:
`<Setter Property="Content" Value="{lex:Loc YourKey}"/>`

but **instead**:
`<Setter Property="Content" Value="{lex:BLoc YourKey}"/>`

[2017-01-30 22:26] arteny commented on #111
I am getting lot of catched exceptiions "class is not visual or visual3d" when loading controls with WPFLocalizationExtension usage, they all are when WPFLocalizationExtension access internally Parent and looks they slow down loading much.

[2017-02-01 10:51] wowfood opened #113 "Localization of VM bindings"
Asking here as the documentation for binding dos/don'ts doesn't appear to be working, so not really sure where else to look.

Having an issue with localizing text via binding.  example.

I have my resources stored in a UIResource project, and my resx is called resources.  Key is button_text.

VM has a text property called ButtonText (set to button_text).  and my xaml has

[code]

But instead of fe

[2017-02-01 12:06] UeliHilfiker commented on #113
Use the [Button.Content](https://msdn.microsoft.com/en-us/library/system.windows.controls.contentcontrol.content(v=vs.110).aspx) property, not Tag.

So, in your example:
`<Button Command="{Binding Command}" Content="{lex:BLoc ButtonText}" />`
or
`<Button Command="{Binding Command}" Content="{lex:Loc ButtonText}" />`

[2017-02-02 12:08] wowfood commented on #113
Using the tag property as part of a style on the button tag sets button text.  With direct text, or just using a normal binding the text displays correctly, setting the text in the tag property shouldn't stop the lex:BLoc from working.

[2017-02-05 14:36] superware commented on #112
It also seems that besides EnumRun, EnumComboBox.PrependType is also missing from the NuGet release, any ideas? :|

[2017-02-11 14:15] rgilmutdinov commented on #75
In my case I fixed the problem by checking "Enable Project Code" option in XAML Designer of VS2015
![image](https://cloud.githubusercontent.com/assets/8816279/22854305/a45c555e-f095-11e6-82e5-278ac294c9cd.png)

[2017-02-11 14:36] jstevenson72 commented on #75
Yes.  Also if you have any design-time exceptions caused by your ViewModel
it will crash the XDesProc.exe causing it to reload with code disabled.

Thank you.

On Sat, Feb 11, 2017 at 8:15 AM Ruslan Gilmutdinov <notifications@github.com>
wrote:

[2017-02-12 21:20] adragoner opened #114 "NuGet packages are out of date"
Could you please update NuGet packages to the latest version?

[2017-02-12 21:59] SeriousM commented on #114
@mrcircuit is able to create the packages because I can't build them right
now. Could you please? Maybe we can find a way to make this process easier?

Am 12.02.2017 22:20 schrieb "Waspy" <notifications@github.com>:

[2017-02-14 18:49] arteny commented on #67
It is not working when I set this properties in element where this datatemplated object is used as content.
Textblock form example return nothing for me.

[2017-02-20 05:22] superware commented on #114
@MrCircuit can you please update the NuGet package? will be highly appreciated, thanks.

[2017-03-07 08:39] kszabolcs opened #115 "Performance issue in design time"
Hi,

I have just installed and tried WPF Localization Extension. Everything is ok, but when I change something in the XAML code, after a rebuild the XAML designer freeze the Visual Studio.  I have only one Window (MainWindow), and in this UI has 30 localized text ({lex:Loc Key=xxx}). In this UI, the XAML Designer will work more than 2 minutes, and until this time, I can't do nothing in Visual Stud

[2017-03-14 09:41] Markus-Rennings opened #116 "Initial localization is ignored"
Setting the langue to a specific culture at startup is ignored due to a bug in :

'private static void SetCultureFromDependencyProperty(DependencyObject obj, DependencyPropertyChangedEventArgs args)
        {
            if (!Instance.GetIsInDesignMode())
                return;'
I think i should be:
'            if (Instance.GetIsInDesignMode())
                return;'

The ! is wrong. It shoud

[2017-03-14 11:04] SeriousM commented on #116
@mrcircuit, can you confirm?

Am 14.03.2017 10:41 vorm. schrieb "Markus Rennings" <
notifications@github.com>:

[2017-03-14 15:41] Markus-Rennings commented on #116
Sorry it was my fault. The property is only for Design time and works correct

[2017-03-14 15:41] #116 closed

[2017-03-21 09:50] adragoner commented on #114
Any updates, guys?

[2017-03-28 13:35] bobdog1986 commented on #105
试试await Task.Factory.StartNew()，看看行吗？
另外，请教这个怎么切换Culture？我有default\en-US\zh-CN三个Resx，怎么设置Culture？

[2017-05-11 12:51] 4PinsGigabit commented on #103
You could use the Resources.resx as a default value.
Here a simple example:
You have this resource files:
[code]
After program start you switch to German and you will see "Ja / Nein".
If you now switch to English WPFLocalizationExtension can not find the Key in en-GB and therefore will use the <blank> from Resources.resx.

**Limitations:**
The Key Values have at least to exist in the Resources.res

[2017-05-15 17:47] nithinshiriya opened #117 "MVVM binding"
I am trying to bind a property called ["SampleName"]  that is declared in ViewModel.  Here SampleName is key.  However, when trying below code, it display's empty.

`<TextBlock FontSize="14" Text="{lex:BLoc Value=SampleName}" lex:ResxLocalizationProvider.DefaultAssembly="SAS.Resources" lex:ResxLocalizationProvider.DefaultDictionary="Report" HorizontalAlignment="Center" VerticalAlignment="Top" Text

[2017-05-15 18:28] nithinshiriya commented on #117
@SeriousM

[2017-05-16 07:50] beachwalker commented on #103
That is exactly the problem. I want to remove that in case some texts come in dynamically and are (not yet) translated and want to switch off/on the "key: " for release/debug.

[2017-05-16 08:54] 4PinsGigabit commented on #103
As mentioned in https://github.com/SeriousM/WPFLocalizationExtension/issues/92 there is a switch to disable the output:

Maybe I've overlooked something, but setting it to false does not work for me.
`lex:LocalizeDictionary.OutputMissingKeys="False"`

[2017-06-06 09:07] xmedeko commented on #115
Are you sure it's cause by the WPFLocalizationExtension? Just try the experiment: remove `lex:Loc` and `xmlns:lex` form your code. Do various editing in the XAML then. Do you experience the VS is faster?

[2017-06-06 09:09] xmedeko commented on #112
Duplicate of #114

[2017-06-06 09:12] xmedeko commented on #47
I recommend [xUnit](https://xunit.github.io/) for backend testing.
And the [White project has different home](https://github.com/TestStack/White) now.

[2017-06-07 13:53] SeriousM opened #118 "Maintainer needed"
Hi everyone!

As you may have noticed I'm not actively maintaining WPFLocalizationExtension.
I'm glad that the product works without that many issues and the more than 18.000 nuget downloads in two years shows me that there is still a need for such a localization solution.

I can't maintain the product anymore because wpf is not part of my daily work anymore.
@MrCircuit is not active anymore and I

[2017-06-13 11:19] Angelinsky7 commented on #75
Got this issue when passing from 2.3.2 to 2.3.4
my `{lex:Loc ch.infodev.srunner.infrastructure:Ressources:Open}"` binding were working but now they don't resolve...

[2017-07-06 12:39] superware commented on #114
@SeriousM Can you please update the NuGet package to the latest version?

We would greatly appreciate it.

[2017-07-06 17:04] SeriousM commented on #114
I guess I can't help you because my machine is not able to build the whole
project.
For example windows phone and silverlight  support would be dropped.

If that is no issue, I could publish a new major version.

[2017-07-13 13:20] wowfood commented on #117
Very late, and not the best fix for your problem, but here's how I've solved it on my end.

Create a translation service along the following lines.
    public class TranslationService : ITranslationService
    {
        private string Translate(
            string id )
        {
            string uiString;

            var locExtension = new LocTextExtension
            {
                Key = "X

[2017-07-13 19:41] brunoalreis commented on #117
Hi,

I posted this on so, related to this question: https://stackoverflow.com/a/44030897/1582065

[2017-07-26 11:37] superware commented on #114
@SeriousM can you please publish a new major version? if someone will want the phone/silverlight support he might temporarily target the previous versions (for now). Thanks!

[2017-08-03 10:41] VitorCastanheiro commented on #85
Hi,

I'm having the same issue and I've tried with BLoc too, but no text appears. I don't get an error, but...
the text is left blank! could you give me some guidance here?

thank you :)

[2017-08-03 11:23] UeliHilfiker opened #119 "CodePlex shutdown - Move CodePlex documentation to wiki here"
@MrCircuit

See shutting down notice in this [blog entry](https://blogs.msdn.microsoft.com/bharry/2017/03/31/shutting-down-codeplex/).

And there is a [walkthrough](https://codeplex.codeplex.com/wikipage?title=Migrating%20to%20GitHub) for migration from Codeplex to github.  See section "License, Documentation, and Home" to migrate the documentation/wiki to github wiki.

and look this blog article

[2017-08-17 13:37] wowfood commented on #117
Another belated reply as I've just found an even easier way around this.

`
<ContentControl x:Class="ASM.DEK.Rome.UI.Controls.Common.Views.CommandButton"
                xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
                xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
                xmlns:lex="http://wpflocalizeextension.codeplex.com"
                lex:Loca

[2017-09-25 11:28] xmedeko commented on #119
Even after the December 15th, 2017, the CodePlex content will be accessible as read-only archive.

I offer my hand with the documentation migration to GitHub Wiki.

[2017-09-25 11:35] xmedeko commented on #118
Hi, I do not know much the `WPFLocalizationExtension` internals and do not have a free time, unfortunately. I may help with some stuff around the project, like #119, or create a StackOverflow tag, make a build server, etc.

[2017-10-02 13:51] adragoner commented on #114
@SeriousM I have cleaned up remove_sl_wp (forked) branch, migrated project to the new format and generated NuGet package (2.3.3). I can upload it, but I'll need an API key. What's the procedure like?

[2017-10-03 09:33] SeriousM commented on #114
hi @adragoner, thank you very much for your participation!
to keep the source in this repository, you could send a PR from your fork onto this master and then we release it.

[2017-10-03 10:50] adragoner commented on #114
@SeriousM Would you like me to sync with master or remove_sl_wp first?

[2017-10-04 05:49] SeriousM commented on #114
@adragoner please have a chat at Join the chat: https://gitter.im/SeriousM/WPFLocalizationExtension . This is easier for the following steps

[2017-10-12 06:23] gpriaulx commented on #108
.Net 3.5 and less aren't installed by default with Windows 10. Would you accept a pull request that addresses this? Older projects could still of course use older releases of this library.

[2017-10-12 11:46] SeriousM commented on #108
I'm currently discussing it with @adragoner here: https://gitter.im/SeriousM/WPFLocalizationExtension

[2017-10-13 07:36] SeriousM commented on #108
https://msdn.microsoft.com/en-us/magazine/ee819091.aspx -> Overview of Behavior

https://stackoverflow.com/a/2642347/660428
https://www.experts-exchange.com/questions/26111498

I guess it's not necessary to compile against .net 4.
We can discuss the point again if you can name me a few important optimizations that would benefit the extensions execution

[2017-10-13 07:36] #108 closed

[2017-10-13 08:58] adragoner commented on #114
NuGet package (3.0.0) is available now. Issue closed.

[2017-10-13 08:58] #114 closed

[2017-10-16 11:43] FBClausen opened #122 "Fileversion on latest update"
Previous product version (2.3.2) has fileversion 2.3.2.0
Latest release (3.0.0) has fileversion 1.0.0.0
result: my install program will not install 3.0.0 (marked as 'old file')

[2017-10-16 12:02] adragoner commented on #122
Done.

[2017-10-16 12:02] #122 closed

[2017-10-16 12:03] adragoner commented on #119
Done.

[2017-10-16 12:03] #119 closed

[2017-10-21 22:58] #112 closed

[2017-10-21 22:59] #89 closed

[2017-10-21 22:59] adragoner commented on #81
Done. Updated to C# 7.

[2017-10-21 22:59] #81 closed

[2017-12-21 09:02] xmedeko commented on #103
I have peered into the code and cannot find any place, where the `OutputMissingKeys` is used. It should be plugged somewhere or removed, if it is not used.

[2017-12-21 22:04] qbakk opened #124 "Problem with Multiple assemblies and dictionaries"
Hello, I have problem with use your extension in my application.
I don't know how use multi resx file in one xaml file.
For example.

I create application

[code]

When application start my languages work correctly but in Designer(Preview xaml file) I see that

In Label when I use Test1:Test in Designer resource is correcly (when I change DesignCulture
the translation changes), On the seconde labe

[2017-12-21 23:27] SeriousM commented on #124
What about moving the test2 resx one folder up?

Am 21.12.2017 23:04 schrieb "qbakk" <notifications@github.com>:

[2017-12-21 23:33] qbakk commented on #124
I tried but the effect is the same as I use folders for resoueces file.

[2017-12-22 00:13] SeriousM commented on #124
It's long time ago but I guess there was something with namespace
settings... Sorry there I couldn't help you more right now

Am 22.12.2017 00:33 schrieb "qbakk" <notifications@github.com>:

[2017-12-22 07:55] qbakk commented on #124
OK, I understand:)
Your project it works fantastic in my demo project. Today I try use it on my main application. Using a designer is very useful for our team.

The only idea I have:
- Use one resource file for all system moduls.
- Reconcile with the problem

I will check how it will behave if the resx files are in a different dll or will be in the same namespace

[2017-12-22 14:36] xmedeko opened #125 "LocalizeDictionary.ResourceKeyExists weird and unused"
This code:
[code]

Is using hardcoded `ResxLocalizationProvider` instead of the `DefaultProvider`.  Seems like a bug. All of these `ResourceKeyExists` methods seems unused - may they be removed?

[2017-12-22 19:29] xmedeko opened #126 "Make ResxLocalizationProvider possible to subclass"
Currently, the `ResxLocalizationProvider` is not possible to subclass since it has private constructor and uses static readonly `Instance`. When I need to change some behaviour, I have to copy & paste whole code.

I think it would be enough to make constructor protected and define set for the `Instance`. If you agree, I can publish a PR for that.

My use case is, that I have a multiple assembly, m

[2017-12-23 06:20] SeriousM commented on #126
Oh, that sounds like a valid usecase! A PR would be very appreciated!
Please declare the setter method as a protected virtual on
the ResxLocalizationProvider so that it's a privilege for inheritors and
its not soo exposed.
Could you have a look at #125 too? I guess it's easy to fix.
Thank you so much!

Am 22.12.2017 20:29 schrieb "Ondrej Medek" <notifications@github.com>:

Currently, the ResxLocal

[2017-12-31 13:59] Symbai opened #127 "Freeze on itemcontainer"
I'm using this extension and everything works fine so far. Then I have a treeview with a custom itemcontainer based on a usercontrol. On this usercontrol I have for example a label. When I use this extension to translate this label my application instantly freezes when it tries to display the treeview item.

VS does not throw me any source code exception but this appears in the event viewer.

Stac

[2018-01-01 07:12] SeriousM commented on #127
Hello!
Could you provide an example code (working mini project) please?
It sounds like a threading issue but it's hard to analyze with so few
informations.

Thanks

Am 31.12.2017 14:59 schrieb "Symbai" <notifications@github.com>:

[2018-01-03 02:16] Symbai commented on #127
Hi,

it looks like it was my mistake. I've used your extension on a different thread which was not closed properly. Using your extension another time freees the application as its locked by the not properly closed thread.

[2018-01-03 02:16] #127 closed

[2018-01-03 07:32] xmedeko commented on #125
@SeriousM I can make a PR for that, just do not know how to fix it: either remove the `ResourceKeyExists` methods or use `Instance.DefaultProvider`?

[2018-01-03 07:53] SeriousM commented on #127
Glad to help!

[2018-01-06 23:14] Symbai opened #129 "Combobox example in demo"
Hi,

I'm trying to add localization of comboitems and looked at the demo. But if I change the language the demo app is always displaying "Key:Monday". The days are not translated. Did I missed something or is there any practical example for a combobox?

[2018-01-08 06:33] nzain commented on #129
The wiki at
https://github.com/SeriousM/WPFLocalizationExtension/wiki/LocProxy-&-EnumComboBox
says (regarding EnumComboBox)

[2018-01-08 14:49] Symbai commented on #129
Did you tried the example (read my post)? Because that's what i am talking about. The example that should demonstrate the EnumComboBox doesn't work on my end, the items are not translated.

[2018-01-08 19:47] SeriousM commented on #129
Hi @Symbai, could you please provide a small working example so we can help you?

"...doesn't work on my end..." isn't very helpful.

[2018-01-08 19:50] #126 closed

[2018-01-08 19:51] #103 closed

[2018-01-08 19:53] SeriousM commented on #125
I guess we can close this issue and release a new package now, right?

[2018-01-08 19:54] SeriousM commented on #124
any updates on this one? did you managed to fix it?

[2018-01-08 19:55] SeriousM commented on #117
@wowfood could you send an update to the readme please? I'm very very busy at the moment :(

[2018-01-08 19:55] #117 closed

[2018-01-08 19:56] SeriousM commented on #115
Closed due stall conversation

[2018-01-08 19:56] #115 closed

[2018-01-08 19:56] SeriousM commented on #113
Closed due stall conversation

[2018-01-08 19:56] #113 closed

[2018-01-08 19:58] SeriousM commented on #104
Closed due stall conversation

[2018-01-08 19:58] #104 closed

[2018-01-08 19:58] xmedeko commented on #125
Yep, you can close this issue.
I've tested the code in the PR in a proof-of-concept branch of our app. So, maybe some independent test would be fine :-)

[2018-01-08 19:58] SeriousM commented on #100
Closed due stall conversation

[2018-01-08 19:58] #100 closed

[2018-01-08 19:59] SeriousM commented on #93
Closed due stall conversation

[2018-01-08 19:59] #93 closed

[2018-01-08 20:00] SeriousM commented on #125
the biggest problem with this is that my startup time for wpf is probably some hours to remember all the things :). I really trust your tests^^

[2018-01-08 20:00] #125 closed

[2018-01-08 20:03] SeriousM commented on #118
@xmedeko I just promoted you to be a maintainer. It's not meant to put pressure on your shoulders, but it's better to have two semi maintainers than just one.

[2018-01-08 20:03] SeriousM commented on #105
Closed due stall conversation

[2018-01-08 20:03] #105 closed

[2018-01-08 20:05] SeriousM commented on #102
This feature would be neat but it's very unlikely to be released. sorry.

[2018-01-08 20:05] #102 closed

[2018-01-08 20:05] SeriousM commented on #75
Closed due stall conversation

[2018-01-08 20:05] #75 closed

[2018-01-08 20:06] SeriousM commented on #78
Closed due stall conversation

[2018-01-08 20:06] #78 closed

[2018-01-08 21:03] SeriousM commented on #125
@xmedeko I just published an updated version of XAMLMarkupExtensions and WPFLocalizationExtension. Would you be so kind to check if everything still works?

[2018-01-08 22:55] Symbai commented on #129
I'm sorry. I would upload an example but is your example application right in your github repo so all you need is to download it and run it. Please see the GIF perhaps it more clear then:

![untitled project](https://user-images.githubusercontent.com/14368203/34696478-4a016ae2-f4cf-11e7-9836-4dcaef89531b.gif)

(As you might see, everything is translated except the combobox items.)

[2018-01-09 08:32] adragoner commented on #129
Hi @Symbai,

It seems that WPFLocalizationExtensionDemoApplication was not finished. Please use AssemblyTest example as suggested by @nzain.

@SeriousM, shall we consider removing this demo project from the repository?

[2018-01-09 22:52] Symbai commented on #129
Ok found it. I clicked on the demo here and there (don't actually remember the exact steps) and an exception was thrown. Just in case it helps:

[code]

[2018-01-10 08:20] xmedeko commented on #129
Seems like a bug coming from #128 that empty keys leads to such problems. Have to fix that.

[2018-01-10 11:21] xmedeko commented on #129
@SeriousM I have added a commit fixing the NRE.
I've also fixed the combobx resources in the PR, see #130. If you want to remove the DemoApplication, then just close the PR without merging.

[2018-01-10 23:39] Symbai commented on #129
No I didn't changed anything. After adragoner was letting me know about Im using the wrong demo Ive just downloaded the recent source code and run it with VS 2017. After receiving the exception i couldnt reproduce it but like I said, I cannot remember the order I've clicked on all buttons when exception was thrown.

[2018-01-11 06:54] xmedeko commented on #129
OK, I've moved the conversation to the #130, so closing this issue.

[2018-01-11 06:54] #129 closed

[2018-01-18 11:28] dprevato opened #131 "Namespace problem after upgrading to version 3.1.0"
After upgrading to new version 3.1.0, I'm facing a pretty serious problem: first of all, I have errors "The name LocalizeDictionary does not exists in the namespace 'http://wpflocalizeextension.codeplex.com'", and the same message comes from ResxLocalizationProvider. Next, I have the error message "The name 'Loc' does not exists in the namespace 'http://wpflocalizeextension.codeplex.com'".
Needles

[2018-01-18 12:43] xmedeko commented on #131
3.1.0 Works fine for me. Try to clear your build, manually delete all `obj` dirs and all `packages\WpfLocalizeExtension*`.

[2018-01-18 18:41] sherman89 opened #132 "Possible to omit "default" resource files?"
Hey!

First of all thank you very much for this project!

Is it possible to have resources for different cultures, without having a default resource file, using the default provider?

The application supports a specific set of languages, and by default I will choose "en-US", so I only need to have "Strings.en-US.resx", but unless I also add "Strings.resx" which contains the same values as the en-U

[2018-01-18 19:56] xmedeko commented on #132
The RESX files are .NET standard, they are not specific to this project, e.g. see https://docs.microsoft.com/en-us/dotnet/framework/resources/ or other .NET docs. The advantage is, that you can easily access them from the C# code, too. And, that's what this project do as well - it just reads the RESX files by the standard [`ResourceManager`](https://msdn.microsoft.com/en-us/library/system.resource

[2018-01-18 19:56] #132 closed

[2018-01-19 08:54] dprevato commented on #131
So I did, and now it works :) thank you very much!

[2018-01-19 08:54] #131 closed

[2018-01-19 13:59] sherman89 commented on #132
I read about ResourceManager and apparently those "default" files are required and should not be deleted. I guess I'll just copy the contents of "en-US" to them every time via some script or something.

Thank you for the answer! :)

[2018-01-19 14:19] xmedeko commented on #132
You can move "en-US" files to default ones, you do not need to have a copy.

[2018-01-22 10:41] sherman89 commented on #132
I thought about that, but then I would lose the choice for "English (United States)" from MergedAvailableCultures, which I thought was nice and eliminated the need to manually manage a list of available cultures.

Should I just maintain my own list of supported cultures?

Thanks.

[2018-01-22 12:23] xmedeko commented on #132
Hm, do not know much about `MergedAvailableCultures`. Maybe better to create your own, e.g. copy `MergedAvailableCultures` and add/remove what you need.

[2018-01-22 13:25] sherman89 commented on #132
Actually yeah, I could just copy it and then add "en-US" myself... d'oh!

I think we've reached the conclusion of this thread, thank you very much for your responses xmedeko! 👍

[2018-01-24 10:47] sherman89 opened #133 "GetLocalizedObject null reference exception in design mode"
I'm using the method `GetLocalizedObject` in a Value Converter, but it breaks the designer with a null reference exception. Works fine in runtime.

I worked around this by just returning the key in design mode, but how can I actually get the localized object?

Thank you!

[2018-01-24 10:51] sherman89 commented on #133
Sorry nevermind, there was a bug in my  code...

[2018-01-24 10:51] #133 closed

[2018-01-25 09:42] ThomasHelm opened #134 "I need to be informed about Culture changed"
I have a ListBox for changing the Culture at Runtime. If user changes the Culture, the next time the application starts Culture should be that changed Culture.

[code]

In the comment to the Cultere property I have found: "Gets or sets the System.Globalization.CultureInfo for localization. On set, WPFLocalizeExtension.Engine.LocalizeDictionary.DictionaryEvent is raised."

But here is the Problem:

[2018-01-25 15:43] sherman89 commented on #134
You'll need to save the CultureInfo on the disk if you want to set it again after re-starting the program.

You can save it as a [user setting](https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanced/using-application-settings-and-user-settings) then read that value in app.xaml.cs and use it to set LocalizeDictionary.Instance.Culture.

[2018-01-26 07:46] ThomasHelm commented on #134
Thanks for your reply. I was a litle bit inaccurate with the description.

In the moment I wrote the question I have forgotten that I have some Texts which must be translated by code. That is the actual use case.

[2018-01-26 10:19] sherman89 commented on #134
I just took a quick look at the source code, and it looks like the PropertyChanged event is raised for the Culture property, so you can simply do this to detect culture change:
[code]

Goodluck! :)

[2018-01-29 11:11] ThomasHelm commented on #134
The approach with `PropertyChanged` works.

I think I was too close to the `DictionaryEvent`, but why is there an `public Interface IDictionaryEventListener` and how is it to use without the `DictionaryEvent`?

Thanks

[2018-02-15 11:13] deakjahn commented on #107
This shouldn't have been closed. The problem is still there and no, it's not a duplicate of the workaround suggested in #85. In my case, it has nothing to do with styles.

[2018-02-16 07:39] #134 closed

[2018-02-16 19:23] SeriousM commented on #107
So then please provide a small sample so I can debug it. Thank you

[2018-03-15 12:12] Mitsoshima opened #135 "WPFLocalizeExtension and AssemblyResolve"
We are just beginning to use the WPFLocalizeExtension in a project. It works, but it has a serious impact on the startup performance of the app. It tries to load the resources for all possible languages, including many which we won't ever provide resources for. Normally that might happen without notice, but in this case we have a special folder structure for some of the loaded assemblies. Although

[2018-03-20 16:39] adragoner opened #136 "No labels displayed in the designer in 3.1.0"
Guys,
After recent changes (3.1.0), no labels are displayed in the designer mode.
@xmedeko, can you please have a look?

[2018-03-20 20:14] xmedeko commented on #136
Try the master branch, it works for me. I guess it's caused by the NRE when a key is null and it has been fixed in the master.

[2018-03-20 20:29] adragoner commented on #136
I'm using published nuget package in the production project.

[2018-03-20 21:32] SeriousM commented on #136
I will release a package tomorrow. Any objections about it @adragoner ?

[2018-03-20 21:35] adragoner commented on #136
I'll give it a go when published. Many thanks!

[2018-03-21 15:56] SeriousM commented on #136
Alright, new version 3.1.1 is released.

[2018-03-22 08:39] adragoner commented on #136
Guys, problem is still there.

[2018-03-22 09:36] xmedeko commented on #136
May you try the the master and the WPFLocalizationExtensionDemoApplication?

[2018-03-22 11:03] Urganot opened #137 "Design time text in Window.Title not working"
Hi,

I've got the following error if I try to use lacalization in the window title:

![image](https://user-images.githubusercontent.com/5991022/37766863-899828f8-2dc8-11e8-847c-25d15a8dd996.png)

This is my xaml:
`<Window
        xmlns:lex="http://wpflocalizeextension.codeplex.com"
        lex:LocalizeDictionary.DesignCulture="en"
        lex:ResxLocalizationProvider.DefaultAssembly="AssemblyName"

[2018-03-22 14:24] Urganot commented on #137
I'm using Visual Studio 2017.
When I open my solution is Blend VS 2017 it work in both.

[2018-03-22 20:08] xmedeko commented on #137
Duplicate to #136.

[2018-03-22 20:08] #137 closed

[2018-03-22 20:13] xmedeko commented on #136
Seems it's caused by #123, which has fixed the `OutputMissingKeys` behaviour.
So, in the design mode, the `LocExtension.FormatOutput` should behave like `OutputMissingKeys` is always `true`?

[2018-03-23 06:17] Urganot commented on #137
I'm not sure if this is a duplicate.
Additionally to not displaying the missing text text it also cant find the resource string

[2018-03-23 06:44] xmedeko commented on #137
Yes, the #136 is about to get rid of the error and display "Key: RenameLabelTitle" if the resource cannot be found.
Do you see the title when you run the app? If so, try to open/close XAML, open/close project, recompile project. As the last resort, close the VS, remove `obj/` and `bin/` dirs and open VS again. The designer uses some sort of caching. I do not know it well. I do not use designer, on

[2018-03-25 20:44] xmedeko commented on #136
@adragoner I've set OutputMissingKeys default to true, pls try the current master branch.

[2018-03-26 04:54] SeriousM commented on #136
Hmmm, I thought it's true by default as I wrote that... Interesting...

[2018-03-26 09:53] adragoner commented on #136
Guys, the issue is not fixed.

The expected behavior is:
- if _OutputMissingKeys_ is true then all labels with missing keys in designer should display "Key:Value", all labels with found keys should display the actual value (upon rebuild);
- if _OutputMissingKeys_ is false then all labels with missing keys in designer should be displayed blank, all labels with found keys should display the actual v

[2018-03-26 10:19] xmedeko commented on #136
Yes, the demo app behave like this to me. Frankly, I do not use designer, so do not have much experience with it. Generally, I do not know which changes are reflected immediately, which upon rebuild, sometimes I need to close/open VS, ...
Can you go back in the git commits (`git reset --hard`) to find the one which works for you as you expect? May you test both cases - the commit and master few ti

[2018-03-26 11:40] adragoner commented on #136
The designer can be quite useful for quick layout checks. The behavior I described is the desired one, but it never worked like this unfortunately - rebuild never worked properly.
As for the current issue, I downloaded latest master and labels turn blank for non-existing keys, instead of displaying "Key:Value". The latest working (except for rebuild) was 3.0.1.

[2018-03-26 12:10] xmedeko commented on #136
If it has never worked properly, then it's another story (another issue please).
Yes, this designer caching is always confusing me. So, please, just stay in the same project, switch git to 3.0.1. and them to master a few times to see if the problem is reproducible and not just a stale cache.
Or, try close VS, remove all `bin\` and  `obj\` dirs, start VS and check the master, if the "Key:Value" are

[2018-03-26 15:09] adragoner commented on #136
In version 3.0.1 the behavior is as follows:
- if _OutputMissingKeys_ is true then all labels with missing keys in designer are displayed as "Key:Value", all labels with found keys display the actual value. Values are not updated upon rebuild, only when VS is restarted.
- if _OutputMissingKeys_ is false then all labels with missing keys in designer **are still displayed as "Key:Value"**, all label

[2018-03-26 15:38] SeriousM commented on #136
Just for your info: design time support was never official supported by
Microsoft we can't guarantee that it works. Obviously it works for most of
the users but not all :(

[2018-03-26 17:07] #136 closed

[2018-03-26 17:10] xmedeko commented on #136
@adragoner Got it. Seems like I had some stale cache before, apologies. The `LocalizeDictionary_outputMissingKeys` default value has to be sync with the DependencyProperty. I've amended the last commit, so can you try it now (`git fetch`, `git reset --hard origin/master`)?

[2018-03-27 07:45] adragoner commented on #136
Ok, fixed. Thanks! Can you please publish nuget package?

[2018-03-27 13:52] SeriousM commented on #136
done! Version is now 3.1.2

[2018-03-27 14:48] xmedeko commented on #136
Thanks, should be in https://github.com/SeriousM/WPFLocalizationExtension/releases too.

[2018-03-27 15:19] SeriousM commented on #136
Nope, I just release on nuget, not on GitHub

[2018-03-27 15:30] xmedeko commented on #136
And who does GitHub releases?

[2018-03-27 16:46] SeriousM commented on #136
Ah, that's just tags. I CN add them if you like but these aren't binaries

[2018-03-27 17:15] xmedeko commented on #136
Well, I think just for the sake of consistency. I us these GitHub releases seldom, when I need to dowload an old version. One can easily "Edit" the changelog there as well.

[2018-03-28 06:33] SeriousM commented on #136
alright, done :)

[2018-04-02 10:34] serpentthegreen opened #138 "Upgrade to 3.1.2 causes fails to look up resources in some cases."
We are using WPFLocalizationExtension with DevExpress MVVM UI.
Xaml causing problems looks like this. Resource is present, access modifier is public.
[code]
This resource is not found, though. Same resource key used with menu items, for example, works and displays corresponding string.

Version 3.1.1 does not have this issue.

[2018-04-05 06:43] xmedeko commented on #138
The problem is in the designer or running application? May you try the version 3.0.0?

[2018-04-05 19:43] serpentthegreen commented on #138
At runtime.
I don't remember having this issue with 3.0.0, but I'll re-check.
Will binding redirection suffice ?

[2018-04-06 07:35] xmedeko commented on #138
Do not know, I does not have experience with binding redirection.

[2018-04-11 11:49] #135 closed

[2018-04-11 11:52] Mitsoshima commented on #135
Got it:
When you have a look at the code, you will find a class called ResxLocalizationProviderBase. This class includes a method GetResourcemanager, which causes the massive amounts of AssemblyResolve events, because it tries to get the resource set of all cultures that ship with the .NET Framework.
We modified the code by creating a list of CultureInfo objects, that includes only languages, we'd

[2018-04-11 13:01] xmedeko commented on #135
Can you describe the changes you have made?

[2018-04-23 16:51] DarkCloud14 opened #139 "Nested Loc/LocText in FormatSegment1 etc. of LocText not working anymore with 3.1.x"
I'm still using LocText and its FormatSegement functionality in one of my projects.
As I experienced a memory leak with 3.0.1 I switched to 3.1.2 and that problem was solved but now a nested Loc or LocText in a FormatSegment doesn't work anymore.

I've attached [this](https://github.com/SeriousM/WPFLocalizationExtension/files/1939246/LocalizeTest.zip) sample project which at the moment is using .N

[2018-04-23 19:41] DarkCloud14 commented on #139
Ok after a deeper investigation it might be a problem of the new XAMLMarkupExtensions version and so I created an issue there: https://github.com/MrCircuit/XAMLMarkupExtensions/issues/13

[2018-05-17 06:58] MartinEgli opened #140 "Missung properies for multiple assemblies and dictionaries"
In Wiki are samples for using assemblies and dictionaries

"{lex:Loc Key=Test, Assembly=MyAssembly, Dict=MyResource}"

But the Properties **Assembly** or **Dict** are not available

https://github.com/SeriousM/WPFLocalizationExtension/wiki/Multiple-assemblies-and-dictionaries

[2018-05-22 09:25] adragoner commented on #140
We'll need to update the documentation as this property was marked obsolete and consequently removed in one of the early releases. You need to use the attached properties of ResxLocalizationProvider.

@MartinEgli, thanks for pointing it out.

[2018-06-21 16:50] PArns opened #141 "Add StrongName"
It would be awesome if the extension could be Strong Name signed, so it's also usable in an Strong Named envionment

[2018-06-22 11:44] xmedeko commented on #141
StrongName? Hey, it's 2018 ...
E.g. see https://github.com/MahApps/MahApps.Metro/issues/3029

[2018-06-22 15:29] SeriousM commented on #141
Thank you @xmedeko 👍

[2018-06-22 15:29] #141 closed

[2018-06-29 10:26] nzain opened #142 "The name does not exist in the namespace "http://wpflocalizeextension.codeplex.com"."
Since today Visual Studio 2017 Designer shows errors for all WPF localization extension references in XAML. The designer does not show user controls anymore.

- We're using this library for years now, it has worked until today for me.
- Today I upgraded to 3.1.2 (from 3.1.0), now my VS Designer is broken regardless of the version.
- I have the same problem with 3.1.0 and with latest version (3.1.2

[2018-06-29 10:36] nzain commented on #142
I cleared all nuget caches and reverted to 3.1.0, problem remains.

The URL on codeplex.com is forwarding, because codeplex is dead, could this be the root cause?

[2018-06-29 11:31] nzain commented on #142
I gave up and opened the properties panel of the active xaml... and suddenly it started working again. Feel free to close this issue...

[2018-07-03 07:18] SeriousM commented on #118
@konne I guess you could help maintaining this extension together with @xmedeko, right?

[2018-07-03 07:40] konne commented on #118
yes

[2018-07-03 07:44] konne commented on #118
@SeriousM if you would like to phase out, I prefer to move in the future this repo in an own github org
like MarkupExtensions and move your repo and the XAMLMarkupExtensions to that place as a common place.
The good thing is on my side that we use that product and I have some employe who can spent some hours a week at this code

[2018-07-03 12:59] SeriousM commented on #118
Thats a very nice idea! I would name it WpfMarkupExtensions. What do you think?

[2018-07-03 14:11] konne commented on #118
I prefer a more generic name, because I really like to support Xamarin in the future to make cool Localisation Extensions also for mobile platforms available.

[2018-07-04 13:20] SeriousM commented on #118
Alright, I like your idea. Would you create it and invite me so that I can transfer it?

[2018-07-05 08:43] konne commented on #118
@SeriousM I invited you

[2018-07-06 08:45] SeriousM commented on #118
thank you! the chosen name is actually the same as I was thinking about after our discussion. well done :)

[2018-07-06 08:49] SeriousM commented on #118
I just transferred the repository to the new organization.

As the [documentation](https://help.github.com/articles/about-repository-transfers/) states:

[2018-07-06 08:52] #118 closed

[2018-07-06 08:58] SeriousM commented on #118
@konne I created a nuget organization so we can publish the packages there. I used your email mattheis@ukma.de for it and you need to confirm it :)

[2018-07-06 09:04] konne commented on #118
@SeriousM please invite the address konrad@mattheis.name, i remove the adresse ffrom the last post

[2018-07-06 15:18] redplane commented on #34
Does anyone know this has been resolved or not ?
I'm having the same issue in VS 2017

[2018-07-06 16:10] SeriousM commented on #118
it seems your email "konrad@mattheis.name" is already used by another account (yours...) which means you need to setup an organization yourself named "XAMLMarkupExtensions" (preffered name) with a new email. sorry for the issue but that's nuget...

[2018-07-06 16:32] UeliHilfiker commented on #34
I have to compile the project and reopen Visual Studio 2017 to see the final and proper result in designer.

[2018-07-06 17:05] redplane opened #143 "Translate itemtemplate in combobox."
Hi,

I'm using `WPFLocalizationExtension` for my WPF app.
I have one `ComboBox` for languages selection. Item source is an `ObservableCollection<KeyValuePair<string, string>>` as below:
- `TITLE_LANGUAGE_ENGLISH` : `en`
- `TITLE_LANGUAGE_VIETNAMESE`: `vi-VN`

This is my xaml code:

[code]

When I run the application, it throws me an exeption:

**A 'Binding' cannot be set on the 'Key' property of t

[2018-07-06 17:42] konne commented on #34
the designtime support is tricky and works not in all cases, this ticket ist closed

[2018-07-06 18:08] konne commented on #118
@SeriousM you should have an invitation to the nuget Org

[2018-07-06 18:56] SeriousM commented on #118
Perfect, thanks!

[2018-07-09 06:40] xmedeko commented on #143
Do not know if this scenario is possible with `WPFLocalizationExtension`. Since resx resources are accessible from the code, I use objects with localized strings already for such scenarios. The I use simply `<TextBlock Text="{Binding Key}">`.

[2018-07-09 07:07] boatschl opened #144 "Binding error in Context menu"
Hi,
I am using a context menu inside a ListBox and get flooded with this error on startup (using 3.1 and 3.1.2):

"System.Windows.Data Error: 4 : Cannot find source for binding with reference 'RelativeSource FindAncestor, AncestorType='System.Windows.FrameworkElement', AncestorLevel='1''. BindingExpression:Path=Parent; DataItem=null; target element is 'ContextMenu' (Name=''); target property is 'P

[2018-07-09 07:42] redplane commented on #143
@xmedeko , your solution doesn't work. I want to translate dictionary key.

[2018-07-09 09:21] SeriousM commented on #143
Translating keys is a bad idea. It's like letting your customer code for
you.
Solve this by having a static map between your Ressource keys ans the
custom localized keys. Then feed the Ressource key into the extension.

[2018-07-09 10:47] xmedeko commented on #144
Are you sure your abbreviated WPF is correct? Especially the part after the `Key=`? Do not see any `RelativeSource` there.

[2018-07-09 11:19] boatschl commented on #144
Hi,

thanks for getting back to me.
The following works fine:
`<MenuItem Header="Edit" Command="{Binding Parent.OpenModObjectDlgCommand}" />`

While this gives the error above:

[2018-07-09 11:44] xmedeko commented on #144
Looks like a bonding error, not the WPFLocalizationExtension error. Try to remove the the `Command="{Binding Parent.OpenModObjectDlgCommand}"` is you still see the Error in the debug output. (Of course the MenuItem will stop working, this is just a test. Then put it back again).

These WPF binding errors is another story ... It may be caused e.g. that you have no view model (`DataContext`) attache

[2018-07-09 14:00] boatschl commented on #144
I removed the Command from the MenuItem but still get those errors.

`<MenuItem Header="{lex:Loc Key=Canvas.Context.Edit}" />`

[2018-07-09 14:14] UeliHilfiker commented on #144
I think, the WPFLocalizationExtension cannot find the key "`Canvas.Context.Edit`".
If `Canvas.Context.Edit` is the key in your resx, try to remove the points or change it to `Canvas_Context_Edit` for example in your resx - file and in your WPF.

(I don't know, was is for an key there in your Resx file.)

[2018-07-09 14:33] boatschl commented on #144
The dots are not the problem, all my other strings (> 200) use the dot notation without problems although the VS Resource Editor doesn't like it that way.

I changed my MenuItem to
`<MenuItem Header="{lex:Loc Key=DiesIstEinTest}" Command="{Binding Parent.OpenModObjectDlgCommand}" />`
but still get the same  error.

[2018-07-09 14:48] UeliHilfiker commented on #144
Ah, ok.

Maybe try it in following form:
`<MenuItem Header="{lex:Loc Key=DiesIstEinTest, Assembly=MyAssembly, Dict=MyResource}" Command="{Binding Parent.OpenModObjectDlgCommand}" />`
==> replace MyAssembly and MyResource with your values used in your software.

See this wiki entry for reference:
https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/wiki/Multiple-assemblies-and-dictionar

[2018-07-09 15:06] boatschl commented on #144
I got an compiler error when adding the Assembly and Dict parameters.
`error MC3045: Unknown property 'Assembly' for type 'WPFLocalizeExtension.Extensions.LocExtension' encountered while parsing a Markup Extension. `

Tomorrow I will try to make a quick standalone project and if I can reproduce the problem there I will attach it here.

[2018-07-09 15:15] xmedeko commented on #144
@UeliHilfiker If the error is like the @boatschl has reported: `System.Windows.Data Error: 4 : Cannot find source for binding with reference 'RelativeSource FindAncestor ...` Then it is a WPF binding error, not a WPFLocalizeExtension error.
WPFLocalizeExtension does not write error's, you have to subscribe to the `ProviderError` event to catch missing keys and then handle it as you like.

@boatsch

[2018-07-10 14:00] z0nghits opened #145 "CSVLocalizationProvider across multiple projects/assemblies"
Hello, I'm currently writing an app that consists of a shell project that gets functionality from multiple module projects. The shell project and each module project will supply their own set of CSV files to keep everything separate and clean.

Originally, this worked no problem when I was using .resx files for each project, all I had to do was add the following code to my Bootstrapper.cs :

[2018-07-10 14:13] xmedeko commented on #145
You are using your own, custom class `Infrastructure.Providers.CSVLocalizationProvider()`, so it's hard to tell where's the problem.

The build-in `CSVLocalizationProvider` uses hard coded directory `Localization`, Dictionary  and culture name, see [CSVLocalizationProvider.GetLocalizedObject()](https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/blob/master/WPFLocalizeExtension/Provid

[2018-07-10 15:37] z0nghits commented on #145
Thanks xmedeko, my custom CSVLocalizationProvider is actually the one from the ProviderExample in the 3.1.2 source. I chose that over the one in WPFLocalizeExtension.Providers because it had the FileName property which I could pass the name of my CSV files. I'm relativley new to this and WPF in general, so sorry if my approach is a bit clunky.

In the built-in CSVLocalizationProvider I found where

[2018-07-10 16:20] z0nghits commented on #145
Also, it's confusing because when I try to use the CSVLocalizationProvider from WPFLocalizeExtension.Providers, VS keeps complaining that 'CSVLocalizationProvider' does not contain a constructor that takes 0 arguments, when it clearly should?

After grabbing the latest 3.1.2 of WPFLocalizationExtension from here: https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/releases, when refer

[2018-07-10 17:23] xmedeko commented on #145
Yes, where the `csvDirectory` rooted is mystery for me as well. Peering at the code, looks like it may have more problems: not possible to change delimiter, no escaping of delimiter and new line, i.e. no robust CVS parsing.
@konne @SeriousM The CSV is not well defined format, users may have different formats and differnet libaries (e.g. TinyCsvParser, CsvHelper, FileHelpers, ...). So I suggest to

[2018-07-10 17:48] konne commented on #145
@xmedeko please just make a new feature request for the CSV Provider, we will see to get this into the roadmap

[2018-07-10 18:02] z0nghits commented on #145
Thanks, I was able to get my Shell project working with CSV files using the CSVLocalizationProvider from ProviderExample for now by setting the FileName property.

Is there currently any approach for getting other modules to work as well? I imagine each module would have to modify the FileName since each set of CSVs are located in different folders. Or would each module have it's own instance?

[2018-07-10 20:01] xmedeko commented on #145
Use `assembly:` in the change the line `ParseKey(key, out _, out var dictionary, out key);` to ParseKey(key, out var assembly, out var dictionary, out key);`.

[2018-07-10 20:12] xmedeko opened #146 "Remove CSVLocalizationProvider from the project"
The `CSVLocalizationProvider` is not well implemented and it cannot be well implemented for each user:
- See #145
- Fixed file name and location, not relative to assembly.
- CSV file is not cached (!) - it's parsed for every key.
- No fallbacks to default locale for missing keys. E.g. a key is missing in the `land_de_at.csv`, get one from the `lang_de.csv`, is missing then one from `lang.de`. Howe

[2018-07-11 09:46] xmedeko commented on #145
@z0nghits see also #146 I suspect the `CSVLocalizationProvider` reads the CSV file for every new key.

[2018-07-11 15:43] redplane commented on #143
No, I'm using dictionary defined in view model.
Key: TITLE_LANGUAGE_EN
Value: en

Key: TITLE_LANGUAGE_VIETNAMESE
Value: vi-VN

TITLE_LANGUAGE_ENGLISH & TITLE_LANGUAGE_VIETNAMESE are defined in resx file.

[2018-07-11 18:44] xmedeko commented on #143
Revert value and key, so you will have: Key: en Value: TITLE_LANGUAGE_EN
Then simply translate the values: `dict[key] = Properties.Resources.ResourceManager.GetString(dict[key])` and use `<TextBlock Text="{Binding Value}">`. You can use a simple WPF Binding Convertor if you do not want to do it in the view model.

WPFLocalizationExtension helps a lot with common text translations, but it's not a s

[2018-08-06 11:27] hnmange opened #147 "Set resource value in setter property."
I am following "ControlName_PropertyName" for auto key retrieval. I have many buttons in my form so can I apply style and set "tooltip" property using setter property like

<Style x:Key="StyleButtonTransparent" TargetType="{x:Type Button}">
<Setter Property ="ToolTip" Value="{lex:Loc}"/>
</Style>

I have tried this but not working. Any help ?

[2018-08-06 12:01] konne commented on #147
Hi, I don't see the issue with the Loc Extension. Please can you write a longer example with a reference to this library

[2018-08-06 12:27] hnmange commented on #147
Thanks @konne for reply.  Here is the example.

<Window x:Class="LocalizationDemoUsingNuget.MainWindow"
        xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
        xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
        xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
        xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
        xml

[2018-08-07 18:41] konne commented on #147
@hnmange sorry, but I stell see no XAML Attributes / Markupextensions,.. that points on the usages of the WPFLocalizationExtension

[2018-08-14 09:06] aetaylor opened #148 "Removing NeutralResourcesLanguage from AssemblyInfo.cs"
In the Common Mistakes section you recommend removing the following line from AssemblyInfo.cs:
 `[assembly: NeutralResourcesLanguage("en-US", UltimateResourceFallbackLocation.MainAssembly)]`

If I leave this line in then all text is always localised to the neutral language, so I understand why it should be removed.
However, if I remove it then the application will not run. It throws an exception c

[2018-08-19 22:42] davidleedom opened #149 "Having trouble getting things wired up."
I'm having trouble getting things to work.  I know I'm missing something dumb.
I have tried to reproduce the same type of example as the SatelliteAssemblyTest, but i'm having no luck.

For one thing it appears that in your example resource (resx) files are creating in language folders and DLLs but mine are not.  I'm sure there is something fundamentally obvious I don't understand about the setup.

[2018-08-20 10:00] davidleedom commented on #149
My problem was the language name.  I am trying to translate Serbian Latin.  Which has a code of **sr-SP-Latn**.  So I was naming the source file.  **Language.sr-SP-Latn.resx**.    This was wrong.  I must only use the two letter ISO code for the language.  I did not understand this until I dug into things some more.

[2018-08-20 10:00] #149 closed

[2018-08-20 10:55] UeliHilfiker commented on #149
Use one of this language code for serbian:
![image](https://user-images.githubusercontent.com/6050688/44336562-221a9b80-a478-11e8-826c-a58c0f6fa23b.png)

I has retrieved this language codes from .NET framework.

[2018-08-20 11:13] UeliHilfiker commented on #149
To list all supported language codes:

in VB.NET
[code]

in C#
[code]

[2018-08-20 11:41] davidleedom commented on #149
@UeliHilfiker Thanks for the feedback and code examples.  I just got things working on an experimental level.  I need to do some additional playing around to make sure I understand how this all works.

[2018-08-21 09:29] superware opened #150 "Strong-named assembly"
It's impossible to reference WPFLocalizationExtension from a strong-named assembly, can you please strong-name WPFLocalizationExtension (and XAMLMarkupExtensions)? I don't think this is a breaking change, but will certainly allow broader usage. Thanks!

[2018-08-21 09:55] SeriousM commented on #150
Try use the search functionality, this issue was discussed many times
before.

[2018-08-21 10:28] jozefizso commented on #150
We must have our assembly signed with strong name and this prevents us from using the WPFLocalizationExtension library. :(

[2018-08-21 11:36] xmedeko commented on #150
@superware @jozefizso see #141
Please, search old issues before you report a new one.

[2018-08-29 07:59] jebissey opened #152 "Binding error with context menu"
Hello

You can get this error
System.Windows.Data Error: 4 : Cannot find source for binding with reference 'RelativeSource FindAncestor, AncestorType='System.Windows.FrameworkElement', AncestorLevel='1''. BindingExpression:Path=Parent; DataItem=null; target element is 'ContextMenu' (Name=''); target property is 'Parent' (type 'DependencyObject')

if you add
[code]

in "MainWindow.xaml" of "GapText

[2018-08-29 08:00] jebissey commented on #152
This is correct code
`        <Canvas>
            <Canvas.ContextMenu>
                <ContextMenu>
                    <MenuItem Header="{lex:LocText BTN_EDIT}" />
                </ContextMenu>
            </Canvas.ContextMenu>
        </Canvas>`

[2018-09-06 19:04] MartinEgli opened #153 "If DefaultProvider changed, no event will be thrown"
I use PropertyChanged from LocalizeDictionary.Instance to see who's changing things.
If DefaultProvider changed, no event will be thrown.
Is it possible to become an event when changing DefaultProvider?

[code]

[2018-09-07 09:14] konne commented on #153
@MartinEgli can you open an PR against the Development branch. I think this make sense and I will accept the PR and generate a new pre Nuget.
FYI, we have at the moment a bigger change so all nuget are only pre nugets.

[2018-09-07 11:20] MartinEgli commented on #153
Supper, habs gemacht!

[2018-09-08 08:51] konne commented on #153
@MartinEgli please check nuget package: WPFLocalizeExtension.3.2.0-alpha0015 should be included

[2018-09-08 08:51] #153 closed

[2018-09-08 08:53] #138 closed

[2018-09-08 08:54] konne commented on #139
Close with the prerelease nuget package of XAMLMarkupExtensions please just update

[2018-09-08 08:54] #139 closed

[2018-09-08 08:56] konne commented on #140
docu is changed

[2018-09-08 08:56] #140 closed

[2018-09-08 08:56] #111 closed

[2018-09-08 08:57] #124 closed

[2018-09-08 08:58] #143 closed

[2018-09-08 09:00] konne commented on #107
I believe it's closed because of no sample was added

[2018-09-08 09:01] #147 closed

[2018-09-08 09:02] konne commented on #148
@aetaylor sorry, no idea. Can you please provide a small example

[2018-09-08 09:04] konne commented on #144
because of no complains of UeliHilfiker and boatschl I belive this is closed

[2018-09-08 09:04] #144 closed

[2018-09-08 09:05] #145 closed

[2018-09-25 19:37] konne commented on #141
@Jehoel at the moment 100% of the maintaner think not to sign this.
If you need signing just use: https://github.com/dsplaisted/strongnamer
This works great and we use it also in one of our projects. I will lock this issue.

[2018-09-26 06:02] xmedeko commented on #141
I have to admit, that the MahApps project (my source of wisdom) has changed their approach and started to release strong named assemblies, see https://github.com/MahApps/MahApps.Metro/issues/3339 (also @Jehoel's request :-).

[2018-09-26 08:15] konne opened #156 "Enhance Build process for signed & unsigned nugets"
change the build process to automatic generate signed and unsigned assemblies and also create an automated upload

[2018-09-26 08:16] konne commented on #141
The only approach that I think could be okay to have 2 nuget packages (signed / unsigned)
1. to don't break things like MahApps
2. to give the users still the change.
I have logged this as #156

[2018-10-01 10:45] aetaylor commented on #148
Hi, I re-installed the NuGet package and everything is working now.

[2018-10-01 10:45] #148 closed

[2018-10-07 11:31] torben-w opened #157 "Typo in Repository Description"
In the description below the title of the repository is a typo: DependencyObects instead of DependencyObjects

[2018-10-07 11:50] konne commented on #157
thx and fixed.

[2018-10-07 11:50] #157 closed

[2018-10-12 11:59] SeriousM commented on #150
[C# 7.3](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-7-3) has a new compiler flag to sign assemblies!
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/publicsign-compiler-option

@konne whats your thought about that?

[2018-10-12 18:11] konne commented on #150
@SeriousM I will have a look at this and will play a little bit with that nice new option.
I'm shure in the end we will have two nuget packages, but with an fully automated compile
and upload process this is not an issue.

[2018-10-16 07:38] mavado83 opened #161 "Example => TextLocalizationExample is missing."
The view for TextLocalizationExample is missing.

[2018-10-16 14:57] SeriousM commented on #161
Thank you for that information. Are you concerned about that?

[2018-10-18 06:52] mavado83 commented on #161
No not really concerned about but it, but was looking voor examples and just ran into it.
Thanks for this project.

[2018-11-15 10:17] alanwol opened #167 "File version for WPFLocalizationExtension and XAMLMarkupExtensions is 0.0.0.0"
File version for WPFLocalizationExtension and XAMLMarkupExtensions is 0.0.0.0. When checking the details of WPFLocalizationExtension.dll and XAMLMarkupExtensions.dll the file version seems to be not set. This breaks the installer for our software, which checks the file version or product version. Previous version had the file and product version set to the nuget package version.

[2018-11-15 10:34] konne commented on #167
@alanwol  I will check this asap

[2018-11-15 12:43] #167 closed

[2018-11-15 12:45] konne commented on #167
@alanwol thanks, please test the new nuget WPFLocalizeExtension 3.3.1
If you have any issues, just reopen the ticket

[2018-11-16 11:01] alanwol commented on #167
I've checked the new packages and they have the file version and product version set now. I hope this solves the issue with the installer, in any case I consider this issue resolved.

[2019-01-09 07:18] mindaugasveb commented on #107
Issue can be reproduced with the following example.

`                                    <TextBlock>
                                        <TextBlock.Text>
                                            <MultiBinding StringFormat="{lex:Loc SomeString}">
                                                <Binding Path="SomeValue"/>
                                            </MultiBinding>

[2019-01-09 08:20] konne commented on #107
@mindaugasveb thanks, I will reopen this issue and will have a look this week, I work already on this package for other small things

[2019-01-09 10:53] stijndp commented on #107
Thanks for checking konne.
TheNetStriker's solution is still available and gives the error in the included version and the latest version of the lib.

[2019-01-21 12:30] redplane opened #171 "Pass param in translated message"
Hi,

I have searched for solution to pass parameter into translated message.
Let say, I have a raw translate message with Key-Value in **resx** file defined like below:

**Key**: `MSG_GREETING`
**Value**: `Hello {{name}}`

I wonder are there any solutions to help me to pass a string to replace `{{name}}` placeholder in the translated message or not.

The expected result should be:

**Hello Adam**

[2019-01-23 18:59] konne commented on #171
@SeriousM do you have an idea, I don't know currently a possibility

[2019-01-24 09:02] xmedeko commented on #171
I do not know, what's the state of this feature now. (I do it in the code behind, too.)

There has been a few closed issues about this topic: #19, #65, #78
Also see this [SO question](https://stackoverflow.com/questions/9520030).

[2019-01-24 12:03] konne commented on #171
@xmedeko @SeriousM do you think to add this as a Feature Request?
I like to make a new FR on that topic.

[2019-01-24 13:10] xmedeko commented on #171
I am not sure, I need this rarely, and even try to avoid it. Why? Because of easier resource translation management.

E.g. if I make a resource like: `Your have been born on {0}.` then 1. the translator can make a mistake e.g. forget `}` 2. translator can move words like `{0} is your birthday.` (in another language) which may change the intended visual design of the text.  So, I rather make text `

[2019-01-24 16:24] SeriousM commented on #171
You could create an inheritance of the provider and manipulate the string
afterwards.

[2019-01-24 21:21] konne commented on #171
@xmedeko I fully understand your arguments, but i18n like in angular even support pluralisation,..
https://angular.io/guide/i18n So I see the need.

[2019-01-25 15:55] Tamakwa opened #174 "Invalid key fall back to default. I don't want this. :)"
Hi,

I would like to do the following: my Windows culture is hu-HU, my program culture is en-EN. When I create a SaveFileDialog, I would like to change the title. This title culture is based on Windows, so it is hu-HU, so I call the LocalizeDictionary.Instance.GetLocalizedObject with hu-HU. It will have value, even the localized key isn't exists in the hu-HU, because it gives back the en-EN value.

[2019-01-25 18:44] konne commented on #174
Hi Zoltan,
I understand your issue, but the whole intention is to always go to the fallback language, so that the user always get an meaningful text.
The Method GetLocalizedObject  is marked as virtual so just create a new class an override it. So and use than this Provider.
I see at the moment no need to make a big change in the lib.
If it is okay for please close the issue.
bye Konrad

[2019-01-25 19:35] Tamakwa commented on #174
Hi Konrad,

thanks, I will check it. Maybe in later release a ResourceKeyExists function new param: allowFallback.

Regards,
Zoltan

[2019-01-27 10:02] konne commented on #150
@SeriousM @jozefizso @xmedeko
the new prerelease WPFLocalizeExtension.3.4.0-alpha0016.nupkg is public signed please test and give a feedback

[2019-01-27 10:02] konne commented on #156
closed with PR #175

[2019-01-27 10:02] #156 closed

[2019-01-28 09:27] Tdue21 opened #176 "Question on BLoc and LocText"
I am confused about how to use BLoc and LocText. Currently I am using LocProxy to localize bound properties, but I have gotten the impression that I should be able to use BLoc instead.

Currently I have this:

`<lex:LocProxy Name="TitleProxy" Source="{Binding CurrentState.Title}" />`
`<TextBlock Text="{Binding ElementName=TitleProxy, Path=Result}" Style="{DynamicResource PageTitle}"/>`

Where I th

[2019-02-04 11:18] gmgunderground opened #179 "Context menu doesn't work"
Hi, I'm unable to use localization text in context menu, but for all others controls in the window it's working correctly. When contextmenu opens all strings reports the resource id.

`<syncfusion:ChromelessWindow.Resources>
	<ResourceDictionary>
		<ResourceDictionary.MergedDictionaries>
			<ResourceDictionary Source="/Syncfusion.Shared.WPF;Component/SkinManager/BlendStyle.xaml"/>
		</ResourceDict

[2019-02-04 12:10] Skuriles opened #180 "Remove Key:"
Hello all,

I've already read this issue:
https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/issues/103

but at the end it only gives the opportunity to show a not translated string with "key:" prefix or not at all.

So my question is:
Is there a way to show the translated resource string if available and if no resource is available, just show the key without "Key: " Prefix.

Backgro

[2019-02-04 13:12] gmgunderground commented on #179
solved with this help
[Can't Localize ContextMenue #31](https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/issues/31)

[2019-02-04 13:12] #179 closed

[2019-02-04 16:08] konne commented on #180
@Skuriles You should see Key: and the real requested key.
https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/pull/123/files
Do you really see only "Key:" and nothing else?

[2019-02-04 17:37] Skuriles commented on #180
For sure I see "Key: <requestedKey>" but what I want is that is only "<requestedKey>" without the "Key:" prefix.
I've already checked the file in your link, this is why I asked if there is another option to achieve is.
Problem can be, that a customer can add any key in the json file and if this key is not in the translation resources there is this "Key:" prefix.

[2019-02-04 19:16] konne commented on #150
@superware can you give a feedback of the now signed preRelease
@jozefizso ??

[2019-02-04 19:19] konne commented on #180
@SeriousM @xmedeko what do you think? Do we may remove the "key: " from the code or allow it to remove with an Global Static / AttachedProperty Setting?

[2019-02-04 19:53] xmedeko commented on #180
@Skuriles common workaround for this is to fill the default resx file with the string you want. So, instead of missing resource, make the resource value same as the key.

@konne if you want to have configurable output for missing key, I think instead of static property is would be better to do it programmatic way:
- Either in the `MissingKeyEvent` event (e.g. add `Value` property to the event.)
-

[2019-02-04 20:00] konne commented on #180
@xmedeko

I like the idea of that Event. This also gives a good possibility as software to log for example missing keys into files.

[2019-02-04 20:12] konne commented on #152
I will check this in the next days, and just already reference this issue: https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/issues/31 to be shure that is not the same

[2019-02-05 04:31] Skuriles commented on #180
Just to be clear (no offense, but I want to show you our workflow):
There is a customer in US or China who changes the configuration of the software. He never sees the resx files. For practical reason no one will write/call the supplier, who ask us (dev team) to change the resx files because he simply changed a lable name in his configuration, then we have to change it, compile a new version of th

[2019-02-05 06:46] xmedeko commented on #180
@konne `MissingKeyEvent` already exists.  I use it to log missing resources already 😃

[2019-02-05 08:43] UeliHilfiker commented on #180
Just my opinion:
It is best to leave the "key:" prefix if the key is missing, because it is a very useful function for us. We should keep this behavior as default.
It's best to make it switchable, or configurable, so that you can switch if you don't want to have a key prefix.

[2019-02-05 12:10] xmedeko commented on #180
@Skuriles one solution you can implement now: Make a subclass of `ResxLocalizationProvider`, override `GetLocalizedObject` and return whatever you want if the `base.GetLocalizedObject()` returns `null`. Then, intialize your app like:
[code]

[2019-02-05 13:02] Skuriles commented on #180
Thanks @xmedeko
Final solution to get only the string:

` public override object GetLocalizedObject(string key, DependencyObject target, CultureInfo culture)
        {
            var result = base.GetLocalizedObject(key, target, culture);
            if (result == null)
            {
                var keyRes = base.GetFullyQualifiedResourceKey(key, target);
                Type type = keyRes.Ge

[2019-02-06 13:49] Karnah commented on #107
Good day. I had the same problem. I used next Binding:

[code]
I changed to use this with Proxy:

[code]

It is more incomprehensible, but it's working.

[2019-02-07 16:14] DaveNay opened #181 "Support .NET Core 3 WPF"
Are there plans for adding support for .NET Core 3.0 WPF?

I am willing to help with this effort if needed, although I really don't know where to start other than adding `netcoreapp3.0` to the `<TargetFrameworks></TargetFrameworks>` element.

[2019-02-07 20:27] konne commented on #181
I really like .net core and I heavily use it. I will have a look for .NET Core 3.0 after the release.
XAMLMarkupExtensions and WPFLocalizationExtension are already ported to the new csproj format, so just adding .NET Core 3.0 and some conditional compiles for some packagereferences would be no issue.
I will let this issue open, but please ping me again after .NET Core 3.0 is released and I will ch

[2019-02-08 08:51] maks-ua opened #182 "Tutorial is not clear"
Dear developers,

I'm sorry for my stupid question. I am new in WPF and your wiki was not clear for me.
I don't understand what steps I should take to make it work and I havn't found an appropriate tutorial in Internet.
Could someone reccomend me a tutorial or briefly describe steps needed to do.

Thank you in advance!

[2019-02-08 09:49] konne commented on #182
Hi, I work at the moment on the examples to make them running and better in the documentation.
But everything what you need to do is, add nuget and than:
0. https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/wiki/Resource-files
1. https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/wiki/Preparing-the-XAML-code
2. https://github.com/XAMLMarkupExtensions/WPFLocalizationExt

[2019-02-08 14:37] maks-ua commented on #182
Thank you very much for your rapid responce.
That was my fault, i havent seen my failure.

[2019-02-08 14:44] maks-ua opened #183 "Text is not shown in preview"
Dear Developers,

when I use Automatic key retrieval {lex:Loc} Texts are not shown in the preview mode of VS, but only after compilation.
There are just blank spaces in preview mode and it can confuse one designing the layout.
Is there any possible solution for it?

Thank you in advance.

[2019-02-09 11:36] konne commented on #183
Hi,
the support of the preview in VS is in the product but not "supported". The WPF Designer in VS is sometimes strange. We have in the code a lot of special cases to get this working, but not 100%.
Very often complete close + restart of VS helps. I use at the moment VS2017 with actual patches and in my projects its working great.

[2019-02-09 11:36] #183 closed

[2019-02-13 13:53] maks-ua opened #184 "Localize without XAML"
Dear developers,

I have to localize some strings direct in Code without XAML in different languages.
Could you suggest me a possible solution?

Thank you in advance.

[2019-02-13 14:50] xmedeko commented on #184
The goal of this library is to use RESX in XAML, but you can use RESX in .NET languages (C#, ....) without any problem, see https://docs.microsoft.com/cs-cz/dotnet/framework/resources/working-with-resx-files-programmatically

[2019-02-14 11:18] maks-ua commented on #184
Thank you very much!

[2019-02-14 16:06] konne commented on #184
@maks-ua even if it is closed. You could also write your own TranslationProvider that delivers the data from classes / attributes,..

[2019-02-15 20:04] konne commented on #150
no reaction, I will close it

[2019-02-15 20:04] #150 closed

[2019-02-15 20:04] #182 closed

[2019-02-19 12:16] maks-ua commented on #184
@konne of course, I'm sorry for the late answer
`
public class LocalizationProvider

    {
        public static String GetLocalizedValue(string key)
        {
            CultureInfo ci = new CultureInfo(language); //language should be passed here

            Assembly ass = Assembly.Load("ProjectName");

            ResourceManager rm = new ResourceManager("ProjectName.Folder.Strings", ass);

[2019-02-20 09:00] maks-ua commented on #184
The solution is pretty simple:
[code]

[2019-02-20 09:00] #184 closed

[2019-02-23 12:57] konne commented on #47
White is in my eyes a dead project. So will add
https://github.com/Microsoft/WinAppDriver
as new possibility for GUI Tests

[2019-02-23 13:57] konne opened #186 "Remove GapTextControl"
I see no need that this control is part of the WPFLoaclizationExtension.
This extension doesn't solve the need of Translations with FormatesStrings and Parameters like:
"The number of incidents: {0} should be solved",...

[2019-02-23 13:58] konne commented on #186
@SeriousM @xmedeko
What do you think about this.
I like to make a breaking 4.0 release that removes this and #146

[2019-02-23 14:37] SeriousM commented on #186
It's OK to me, I was not a fan of the gap text in the first place.

On Sat, 23 Feb 2019, 14:58 Konrad Mattheis, <notifications@github.com>
wrote:

[2019-02-24 19:55] xmedeko commented on #186
I do not use that either. If somebody likes that, then he/she can just copy&paste the code.

[2019-02-25 04:51] #161 closed

[2019-02-25 20:16] MikeFarrington commented on #150
I see that the nuget package WPFLocalizeExtension has the .3.4.0-alpha0016, but WPFLocalizeExtension.Signed has no pre-releases and hasn't been updated since August for v3.1.2.

Oh, after digging I see that someone unaffiliated by the name of " jozef.izso" put that out.  Should I "Report Abuse" on nuget.org so you guys can take ownership of that, or will you publish the final signed package under

[2019-02-25 20:19] konne commented on #150
@MikeFarrington yes you can Report that to nuget. I don't know how the abuse process works / how long does it take.

[2019-02-25 20:22] MikeFarrington commented on #150
I didn't want to jump straight to "Report Abuse", so I sent this person an email asking them to reach out to you to assign the package over to you since you're getting ready to release a signed version (thank you for the signed version btw).

[2019-02-25 20:32] MikeFarrington commented on #150
I found him on GitHub, so, I'll tag him in case he doesn't see my email.  @jozefizso

[2019-02-25 21:02] jozefizso commented on #150
Uhm, the package does not abuse anything.

It was created because we needed a signed version of the package at the time. Our product depends on that package.

Nuget users can see there's a new version of the official package and that it is signed.

[2019-02-25 21:46] MikeFarrington commented on #150
@jongleur It was created with the best intentions, I get that.  That's exactly why I didn't report it (after initially suggesting it -- I thought better of it).  They want to move forward with both a signed and unsigned package, and the official-sounding package name you chose conflicts with the standard convention of tacking on .Signed to an existing unsigned package.

[2019-02-26 06:56] xmedeko commented on #150
@jozefizso Yep, it's nice when unofficial packages have different names to clearly distinct it's not the original project.  You may append "-Unofficial", append your name or nickname, or choose completely different name. Unfortunately, nuget has plenty of such unofficial packages with similar names and it's confusing for the end users.

[2019-02-26 08:19] konne commented on #150
@jozefizso the "main" packge is now signed, so you should be able to easily remove your package.
thx

[2019-03-05 13:02] Mahriel opened #189 "Multithreading performance"
Hey guys

I encountered a performance issue with views in separated threads.
In a single threaded environment, the dialog takes about 15-20 seconds but when I’m starting the same dialog on a different thread it's bumping up to 65-70 seconds.
As you can see below the "OnProviderChanged" is taking 80% of the time.

![wpflocalizationperformanceproblem](https://user-images.githubusercontent.com/595808

[2019-03-10 12:29] xmedeko commented on #189
From a quick look into the code, I see the problem is in the `ResxLocalizationProviderBase.OnProviderChanged`  method. @SeriousM @konne I do not understand the purpose of the code
[code]
The result of the `GetResourceManager` is not used. Does the method have some side effects? Or is possible to remove this code?

[2019-03-10 20:23] SeriousM commented on #189
Where did you read that code, I can't find it in the current repo state.

[2019-03-10 20:27] xmedeko commented on #189
See https://github.com/XAMLMarkupExtensions/WPFLocalizationExtension/blob/7ee0ef92b2f5b9cd2b34e0b480abfd145a17ffb2/src/Providers/ResxLocalizationProviderBase.cs#L584

[2019-03-10 20:57] Mahriel commented on #189
The time consuming part is `ProviderChanged?.Invoke(this, new ProviderChangedEventArgs(target));`.
When it's commented out the start up time is fine but the localization doesn't work properly.

As far is i understand this event is refreshing all localized controls across threads.

[2019-03-11 07:13] xmedeko commented on #189
@Mahriel can you hunt the root of the problem?

From your screenshot, I've though the problem is in the `ParentChangedNotifierHelper.GetValueOrRegisterParentNotifier` or maybe in the `ParentChangedNotifierHelper.GetParent` particularly? They are called from `GetResourceManager`.

[2019-03-11 08:52] Mahriel commented on #189
When `GetResourceManager` is called with a unknown dictionary it takes 300-400ms on the first time. Afterwards the call takes <1ms.

But on every call the `ProviderChanged?.Invoke` needs 700-1000ms and the `OnProviderChanged` is called 60 times.
While constructing the view the first 4 call's are handled and this should be fine because i am setting a DefaultAssembly & DefaultDictionary on the view

[2019-03-11 09:47] xmedeko commented on #189
So the problem is in `LocExtension.ResourceChanged` ? Can you track where exactly it hangs for  700-1000ms?

So, when running on a single thread then the delay is acceptable?

Try to remove all lines I have mentioned from `OnProviderChanged`, especially those `GetAssembly(target)` and `GetDictionary(target)`. They add notifiers during the view initialization. I think it should limit the number the

[2019-03-11 11:49] Mahriel commented on #189
Yes on a single thread the delay is fine.

Removing `GetAssembly`, `GetDictionary` and `GetResourceManager` doesn't make any difference.

When you look at the Callstack (sorry for the bad format) you can see the event is triggerd by WPF `DependencyObject.OnPropertyChanged` -> XAMLMarkupExtensions `ParentChangedNotifier.ParentChanged` -> down to the `ResxLocalizationProviderBase.OnProviderChanged`.

[2019-03-11 12:11] xmedeko commented on #189
AFAIK Each Loc tries to walk up the element tree and search for the nearest `DefaultAssembly` and `DefaultDictionary`. If not found, the topmost element is registered for the `ParentChanged` event and upon this event the search is performed again.
Do you have `DefaultAssembly` and `DefaultDictionary` set in every XAML?

[2019-03-11 13:06] Mahriel commented on #189
Every window and usercontrol has its own resx file so i'm setting one or both options.

[2019-03-11 13:28] xmedeko commented on #189
Try to set both `DefaultAssembly` and `DefaultDictionary` in every XAML which uses WPFLocalizationExtension. And then try to keep or remove `GetAssembly, GetDictionary GetResourceManager` from `ResxLocalizationProviderBase.OnProviderChanged`.

[2019-03-12 07:03] konne commented on #189
@Mahriel it would be helpfull, if you add in a second PR a simple app with like 2 Windows / Threads to show the issue. When we can also debug this issue.

[2019-03-19 10:01] Mahriel commented on #189
@konne @xmedeko did you have time to check the test app?

[2019-04-06 16:29] Aitania opened #192 "When debugging (F5) everything is ok. If i run the app (STRG+F5) no translation..."
When debugging (F5) everything is ok. If i run the app (STRG+F5) no translation...
i have tried with old an new version of WPFLocalizationExtension.
This problem appeard since i have a lot of keys in resource files. About 550 keys.
Erlier with less keys i din't notice this problem.
I am  not sure if this is a WPFLocalizationExtension problem.
I have created the files with ResXManager but sommetime

[2019-04-07 18:00] Aitania commented on #192
Sorry... It was my mistake! Everything is ok!

[2019-04-07 18:00] #192 closed

[2019-04-07 20:47] SeriousM commented on #192
Would you tell us the story? Maybe we can learn something?

[2019-04-17 08:43] Otiel commented on #142
Just wanted to come back on this in order to have an official answer from the devs. Please correct me if I'm wrong.

    xmlns:lex="http://wpflocalizeextension.codeplex.com"

This namespace we all have to add in our xaml files is simply a reference to the namespace name stored in the library. The use of `http://` in the name is by convention, but in no way any request is done when building / runni

[2019-04-17 08:47] konne commented on #142
yes, there is no call to this url so this is no issue

[2019-04-17 10:43] SeriousM commented on #142
This is just a xml namespace and must not be valid.

[2019-04-17 11:51] Otiel commented on #142
Thanks both for your reply.

@SeriousM What do you mean by "valid"?

[2019-04-17 13:32] SeriousM commented on #142
that it doesn't have to be a reachable domain/url. I could have any valid url format but without a host behind it.

[2019-04-23 10:03] samarjit-r commented on #85
What's the difference between BLoc and Loc

[2019-05-10 13:34] Otiel commented on #142
More than half the time I'm getting this error which prevents me from using the designer. Using the aforementioned fixes (`Build → Clean Solution`, emptying the `bin` / `obj` / `packages\WpfLocalizeExtension*` folders) doesn't help. I get the same results with VS 2017 and VS 2019.

I'm not sure what makes it work when it works.

Is there any other tip that could help solving this?

[2019-05-10 13:49] SeriousM commented on #142
Please provide a small example project where this issue occurs so we can investigate it. thanks

[2019-05-10 15:12] Otiel commented on #142
You can find a sample project demonstrating this here: https://github.com/Otiel/WpfLocalizeExtension-142

Thanks for taking the time to investigate this!

[2019-05-10 15:43] UeliHilfiker commented on #142
While editing in your sample project, I got this error message:
![image](https://user-images.githubusercontent.com/6050688/57539428-c916ce80-734a-11e9-8eb2-762b640736c6.png)

Then I downgraded the XAMLMarkupExtensions from Version 1.6.0 to 1.5.1; then it works fine...
![image](https://user-images.githubusercontent.com/6050688/57539515-f2375f00-734a-11e9-94d6-fc6e60919d24.png)

[2019-05-10 16:12] Otiel commented on #142
When did you get that exception? When debugging? 😕

[2019-05-13 09:41] Otiel commented on #142
Downgrading XAMLMarkupExtensions to v1.5.1 seems to solve this issue indeed. 👍

Maybe a constraint should be added to the WPFLocalizationExtension nuget package in order to force it to use XAMLMarkupExtensions v1.5.1?

[2019-05-15 13:16] benjaminrupp opened #193 "Update to use XAMLMarkupExtensions v 1.6.0"
Please update to use XAMLMarkupExtensions v 1.6.0 because this includes some bugfixes.

Currently I'am getting the following error message if I'm using v1.6.0:

Error
CS0012
The type 'NestedMarkupExtension' is defined in an assembly that is not referenced. You must add a reference to assembly 'XAMLMarkupExtensions, Version=1.5.1.0, Culture=neutral, PublicKeyToken=null'.

Thanks

Benjamin

[2019-05-20 16:16] AlastairCodd opened #194 "Exception thrown on LocalizeDictionary.Instance.Culture Changed"
On changing the culture, I'm getting an exception with the following stack trace:
`   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Windows.Threading.DispatcherOperation.Wait(TimeSpan timeout)
   at System.Windows.Threading.Dispatcher.InvokeImpl(Dispatche

[2019-06-05 19:39] arminaFr commented on #193
I'm experience this issue, as well. I'm able to update XAMLMarkupExtenssion up to 1.5.1 but not any further. When I update it to 1.6.0, I got "HRESULT: 0x80131040: The located assembly's manifest definition does not match the assembly reference" error in my tests.

[2019-06-06 11:13] UeliHilfiker commented on #142
See #193 too for this reference issue (Wrong reference to XAMLMarkupExtensions in WPFLocalizationExtension 1.6.0)

[2019-06-06 15:27] konne commented on #142
@UeliHilfiker @Otiel @nzain @SeriousM sorry, I was longer ill and a lot of work was waiting. Now it's getting better and I will take care next week.

[2019-06-18 20:47] BeePerNet opened #196 "Support of Framework.Net resources"
To be able to use that in xaml: ="{lex:Loc Key=PresentationCore:ExceptionStringTable:DeleteText}"

I had to add an if to make it works. I think that it is not the best way, I did not check the whole structure.

WPFLocalizeExtension.Providers.ResxLocalizationProviderBase
~Line 482

[2019-07-03 04:29] klauszou commented on #142
This issue will happen at the first time when you upgrade the XAMLMarkupExtensions to 1.6.0 and build your project. If you close VS and this will dissapear. But the 3.3.1 is not compatible with XAMLMarkupExtensions v1.6.0, so when you run your project (build is ok), there will be a error. See #193

[2019-07-04 10:49] nzain commented on #85
@MrCircuit can you explain how to work around this? We use the WPFLocalizeExtension (together with this project) for several years and this exception happend for the first time now and, even worse, only on one particular machine. I can't reproduce it in the debugger even when using the exact same UI click sequence.

[2019-08-16 12:38] mcanyucel commented on #193
This issue still persists; it looks like the latest compatible XAMLMarkupExtension is 1.5.1. I had to downgrade to make the app work again.

[2019-08-20 06:35] BerndExOne opened #203 "EnumComboBox only runs with V2.3.2 and older"
Hello, we have the Little issue, that "EnumComboBox" runs good with WPFLocalizationExtensions
V 2.3.2, but not good with a newer Version. That means, the resource translations are OK in this Combo box with the old Version, but if there is a newer Version then the Combo box items are shown as "key: …"

[2019-08-23 14:10] wowfood commented on #176
I've tried looking into this and personally found nothing of use on how to use BLoc.  I will say, however, if you're doing a lot of translations on your page, I've found the locproxy approach can be slow.  Had an application with about 24 controls on it, with 2 translations each (48 total) using loc proxy.  The page took on average 260ms to load (there were other issues too.  Lots of other issues)

[2019-08-26 07:35] Rainer1 commented on #203
I have the same issue in my project. Locked to V2.3.2, since newer versions don't translate my EnumComboBox!
It would be great, if you could fix that!

[2019-08-28 09:02] gurgen1982 opened #204 "Binding cannot be changed after it has been used."
Hi. I have the following code in xaml
<UserControl....
**xmlns:lex="http://wpflocalizeextension.codeplex.com"
lex:ResxLocalizationProvider.DefaultAssembly="[my_assembly_name]"
lex:ResxLocalizationProvider.DefaultDictionary="Resources.Resources"**
/>

Then use it in markup like this
<dxr:RibbonPage x:Name="Pages_Home" Caption="**{Binding Source={lex:Loc RibbonTitle}}**">
</dxr:RibbonPage>

It show

[2019-09-05 15:13] wowfood commented on #204
Try using

LocalizeDictionary.Instance.SetCultureCommand.Execute( cultureName );

instead

[2019-09-13 13:39] gurgen1982 commented on #204
Still the same error message

   at System.RuntimeMethodHandle.InvokeMethod(Object target, Object[] arguments, Signature sig, Boolean constructor)
   at System.Reflection.RuntimeMethodInfo.UnsafeInvokeInternal(Object obj, Object[] parameters, Object[] arguments)
   at System.Reflection.RuntimeMethodInfo.Invoke(Object obj, BindingFlags invokeAttr, Binder binder, Object[] parameters, CultureInfo cul

[2019-09-25 09:24] JPVenson commented on #176
The whole difference of BLoc and Loc is that Loc uses the base class "MarkupExtension" much like {x:Type} and BLoc uses a Binding instead but it does not evaluate the Value of the Path but instead uses the Path as the key.

Afaik there is no build in support for Binding Keys so most devs i know using this lib created an own Implementation:

[code]

usage:
`<TextBlock Text={res:Res ViewModel.Proper

[2019-09-26 00:05] mldYM commented on #181
when you release .net core 3 supported version on nuget ?

[2019-10-11 13:02] wowfood opened #206 "MissingKeyEvent not raised when using LocalizeDictionary.Instance.GetLocalizedObject()"
.Title says it all really.

I've got some code in my ShellView which we use for capturing missing resource keys, which for the most part works fine, however i've recently noticed that if you use the LocalizeDictionary.Instance.GetLocalizedObject() method, if it fails to find the key the MissingKey event isn't raised.

Reason we switched to using the GetLocalizedObject method is because we get our

[2019-11-14 06:54] DaveLaa commented on #193
This issue is still existing. Why nobody fixes it? We cannot use the new version 1.6. because of this silly bug. Its so sad for the developers that we are all stuck on V1.5.1 and noone ca use the new features...

[2019-11-15 16:00] dust63 commented on #85
I had this issue.
For me I fix the issue by remove the fallbackvalue bind to the lex:Loc.

[2019-11-15 16:07] dust63 commented on #85
I had this issue too.
For me I fix the issue by remove the FallbackValue bind to the lex:Loc.

Original
[code]
Fix
[code]

[2019-11-15 16:09] dust63 commented on #85
I had this issue too.
For me I fix the issue by remove the FallbackValue bind to the lex:Loc.

Original

<TextBlock Text="{Binding Header, FallbackValue={lex:Loc AssetDetails}}"/>

Fix

<TextBlock Text="{Binding Header="}/>

[2019-11-15 16:11] dust63 commented on #85
I had this issue too.
For me I fix the issue by remove the FallbackValue bind to the lex:Loc.

Original
[code]
Fix
[code]

[2019-12-18 23:14] ezhassen commented on #181
I added the support (.Net Core 3.1) and  working fine. try it #211 😉

[WPFLocalizeExtensionEzzFork ](https://www.nuget.org/packages/WPFLocalizeExtensionEzzFork/)

[2020-01-08 11:00] konne commented on #193
@benjaminrupp please test the current nuget preRelease: 3.4.0-alpha0053
if there are no issues I will make next week the release

[2020-01-08 11:00] konne commented on #181
@DaveNay  please test the current nuget preRelease: 3.4.0-alpha0053
if there are no issues I will make next week the release

[2020-01-08 11:01] konne commented on #142
please test the current nuget preRelease: 3.4.0-alpha0053
if there are no issues I will make next week the release